<script type="text/javascript">
	var setting = {
	data: {
		simpleData: {enable: true}
      },
      callback: {
			onClick: function(event, treeId, treeNode) {
				if("$!{type}"=="task_edit"){
    				if($('#catagoryCode').val()!=''&&treeNode.id==$('#catagoryCode').val()){
    				  alert('请不要选择自身作为父节点。');
    				  return false;
    				}
				}else if("$!{type}"=="powerSet_list"){
				    if(treeNode.isParent){
    				  alert('只能选择末节点');
    				  return false;
    				}				
				}
				
    			$("#"+"$!{txtId}").val(treeNode.categoryId);
    			$("#"+"$!{txtName}").val(treeNode.name); 
    			closeDialog();
                $("#categoryText").focus().blur();
			}
		}
    };
var zNodes = [];  
#foreach($!{treeNode} in $!{treeDatas})
	zNodes.push({categoryId:"$!{treeNode.id}",id:"$!{treeNode.catagoryCode}", pId:"$!{treeNode.parentCode}", name:"$!{treeNode.catagoryText}"});     
#end
	function okClick(){
    	var zTree = $.fn.zTree.getZTreeObj("taskTree");
    	var nodes=zTree.getCheckedNodes(true);
    	if (nodes.length == 0) {
    	   alert("未选择");
		   return false;
    	}else{
    		if (parent){
    			$("#"+"$!{txtId}").val(nodes[0].id);
    			$("#"+"$!{txtName}").val(nodes[0].name); 
    		}
    		
    	}
		return true;
	}
   $(document).ready(function(){
		//ztree
		$.fn.zTree.init($("#taskTree"), setting,zNodes).expandAll(true);
    });
</script>
  <div class="tree">
	<ul id="taskTree" class="ztree"></ul>   
  </div>
 