<!DOCTYPE html><html>
<script type="text/javascript" src="${projectName}/gis_server/flash/js/swfobject_modified.js"></script>
<link type="text/css" rel="stylesheet" media="screen" href="${projectName}/gis_server/giscss/gisInfo.css?t=1">
<style>
.ui-pop-left {
	width:7px;height:12px;margin-top:6px;position:absolute; z-index:2;
	background:url(${projectName}/gis_server/giscss/image/pop/left.png) no-repeat;
}
.ui-pop-right {
	width:7px;height:12px;margin-top:6px;position:absolute;left:105px; z-index:2;
	background:url(${projectName}/gis_server/giscss/image/pop/right.png) no-repeat;
}
.ui-pop-center {
	position:absolute;left:5px; ;
	background:url(${projectName}/gis_server/giscss/image/pop/bg.png) no-repeat;
}
</style>

<body style="margin:0px;padding:0px;background-color:transparent;" scroll="no">
	<div id="left" class="ui-pop-left"></div>
    <div class="ui-pop-center" style="width:$!{flashW}px; height:$!{flashH}px;">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="$!{flashW}px" height="$!{flashH}px" hspace="0" vspace="0" id="FlashID" title="" style="position:relative;z-index:88;">
        <param name="movie" value="http://$!{serverName}:$!{serverPort}$!{rc.contextPath}/flash/$!{flashFileName}?windmacheineID=$!{hpid}&serverIP=$!{blockServer}" />
        <param name="quality" value="high" />
        <param name="wmode" value="transparent" /><!--边框透明，无边框 -->
        <param name="swfversion" value="6.0.65.0" />
        <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。B_BA_6F_001 KX-6-1新风空调机组 -->
        <param name="expressinstall" value="Scripts/expressInstall.swf" />
        <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
        <!--[if !IE]>-->
        <object data="http://$!{serverName}:$!{serverPort}$!{rc.contextPath}/flash/$!{flashFileName}?windmacheineID=$!{hpid}&serverIP=$!{blockServer}" width="$!{flashW}px" height="$!{flashH}px" hspace="0" vspace="0">
          <!--<![endif]-->
          <param name="quality" value="high" />
          <param name="wmode" value="transparent" />
          <param name="swfversion" value="6.0.65.0" />
          <param name="expressinstall" value="Scripts/expressInstall.swf" />
          <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
          <div>
            <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
          </div>
          <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
    </div>
   <div  id="right" class="ui-pop-right"></div>

<script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
//-->

//控制箭头
switch ("$!{local}") {
    case "br":
	case "tr":
		document.getElementById("right").style.display="none";
    	break;
    case "bl":
	case "tl":
    	document.getElementById("left").style.display="none";
        break;
    default:
    	break;
}
</script>
</body>
</html>