<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">

<mapper namespace="com.supconit.maintain.entities.MaintainTaskContent">
	<resultMap type="com.supconit.maintain.entities.MaintainTaskContent" id="maintainTaskContentResultMap">      
        <result property="id" column="ID" />
		<result property="maintainCode" column="MAINTAIN_CODE" />
		<result property="planId" column="PLAN_ID"/>
		<result property="deviceId" column="DEVICE_ID"/>
		<result property="itemContent" column="ITEM_CONTENT"/>
		<result property="result" column="RESULT"/>
		<result property="descripton" column="DESCRIPTON"/>
		<result property="deviceName" column="DEVICE_NAME"/>
		<result property="locationName" column="LOCATION_NAME"/>
	</resultMap>
	
	<sql id="TABLE_NAME" lang="velocity">MAINTAIN_TASK_CONTENT</sql>
	
	<select id="selectMaintainTaskContentList" parameterType="string" resultMap="maintainTaskContentResultMap" lang="velocity">
		SELECT
			a.ID,
			a.MAINTAIN_CODE,
			a.PLAN_ID,
			a.DEVICE_ID,
			a.ITEM_CONTENT,
			a.RESULT,
			a.DESCRIPTON,
			d.DEVICE_NAME,
			d.LOCATION_NAME
		FROM <include refid="TABLE_NAME"/> a
		LEFT JOIN DEVICE d ON a.DEVICE_ID = d.ID
		WHERE a.MAINTAIN_CODE =  @{_parameter.maintainCode,jdbcType=VARCHAR}
		ORDER BY a.DEVICE_ID DESC
	</select>
	
    
	<delete id="deleteByMaintainCode" parameterType="string" lang="velocity"> 
		DELETE FROM <include refid="TABLE_NAME"/> WHERE MAINTAIN_CODE =  @{_parameter.maintainCode,jdbcType=VARCHAR}
	</delete>
    
	<insert id="batchInsert" databaseId="oracle">
       INSERT ALL 
        <foreach collection="maintainTaskContentList"  separator=" " item="content">
            INTO <include refid="TABLE_NAME"/>(
        	ID,
            MAINTAIN_CODE,
            DEVICE_ID,
            ITEM_CONTENT,
            RESULT,
            DESCRIPTON,
            PLAN_ID
	        ) VALUES
            (
            func_getseqval('SEQ_MAINTAIN_TASK_CONTENT'),
            #{maintainCode,jdbcType=VARCHAR},
            #{content.deviceId,jdbcType=BIGINT},
            #{content.itemContent,jdbcType=VARCHAR},
            #{content.result,jdbcType=INTEGER},
            #{content.descripton,jdbcType=VARCHAR},
            #{content.planId,jdbcType=BIGINT}
            )
        </foreach>
        SELECT * FROM dual
    </insert>


    <insert id="batchInsert" databaseId="sqlserver">
       INSERT INTO <include refid="TABLE_NAME"/>(
            MAINTAIN_CODE,
            DEVICE_ID,
            ITEM_CONTENT,
            RESULT,
            DESCRIPTON
	    ) VALUES
        <foreach collection="maintainTaskContentList"  separator="," item="content">
            (
            #{maintainCode,jdbcType=VARCHAR},
            #{content.deviceId,jdbcType=BIGINT},
            #{content.itemContent,jdbcType=VARCHAR},
            #{content.result,jdbcType=INTEGER},
            #{content.descripton,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
	
	<!-- 按条件查询记录-->
    <select id="findByConditions" parameterType="com.supconit.maintain.entities.MaintainTaskContent" resultMap="maintainTaskContentResultMap" lang="velocity" databaseId="oracle">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
			a.ID,
			a.MAINTAIN_CODE,
			a.PLAN_ID,
			a.DEVICE_ID,
			a.ITEM_CONTENT,
			a.RESULT,
			a.DESCRIPTON,
			d.DEVICE_NAME,
			d.LOCATION_NAME
		FROM <include refid="TABLE_NAME"/> a
		LEFT JOIN DEVICE d ON a.DEVICE_ID = d.ID
		WHERE a.MAINTAIN_CODE =  @{_parameter.condition.maintainCode,jdbcType=VARCHAR}
		#order($_parameter.condition,"a.DEVICE_ID DESC")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>
    
	<!-- 按条件查询记录-->
    <select id="findByConditions" parameterType="com.supconit.maintain.entities.MaintainTaskContent" resultMap="maintainTaskContentResultMap" lang="velocity" databaseId="sqlserver">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
			a.ID,
			a.MAINTAIN_CODE,
			a.PLAN_ID,
			a.DEVICE_ID,
			a.ITEM_CONTENT,
			a.RESULT,
			a.DESCRIPTON,
			d.DEVICE_NAME,
			d.LOCATION_NAME 
		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
		#order($_parameter.condition,"a.DEVICE_ID DESC")
		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM <include refid="TABLE_NAME"/> a
		LEFT JOIN DEVICE d ON a.DEVICE_ID = d.ID
		WHERE a.MAINTAIN_CODE =  @{_parameter.condition.maintainCode,jdbcType=VARCHAR}
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>

    <select id="countByConditions" resultType="long" lang="velocity">
        SELECT
			count(*)
		FROM <include refid="TABLE_NAME"/> a
		WHERE a.MAINTAIN_CODE =  @{_parameter.maintainCode,jdbcType=VARCHAR}
    </select>
    
	<!-- 更新记录-->
	<update id="update"  parameterType="com.supconit.maintain.entities.MaintainTaskContent" lang="velocity">
		UPDATE <include refid="TABLE_NAME"/>
			#mset()
				<![CDATA[
			        #if($_parameter.result)RESULT = @{_parameter.result,jdbcType=INTEGER},#end
			        #if($_parameter.descripton)DESCRIPTON = @{_parameter.descripton,jdbcType=VARCHAR},#end
			    ]]>
			#end
		WHERE ID = @{_parameter.id,jdbcType=BIGINT}
	</update>
</mapper>
