<script src="$!{nhgl_static_hc_url}/js/hcjs-debug.js?t=20140213100444" type="text/javascript"></script>
<script type="text/javascript">
$.CONTEXT_PATH = "$!{rc.contextPath}";
</script>
<script src="$!{nhgl_static_hc_url}/js/site.js?t=20140213100444" type="text/javascript"></script>
<script src="$!{nhgl_static_hc_url}/js/valid.js" type="text/javascript" ></script>
<script src="$!{nhgl_static_hc_url}/datepicker/WdatePicker.js" type="text/javascript" ></script>
<script src="$!{nhgl_static_custom_url}/js/custom.js?t=20140213100444" type="text/javascript"></script>
<script src="$!{nhgl_static_custom_url}/js/ywgl.js" type="text/javascript" ></script>
