#parse("index/_header.vm")
<!-- <style type="text/css">
span{color:red;}
</style> -->
</head>
<body>	
	<form id="myform_id" method="post" action="$!{rc.contextPath}/emergency/emergencyGroup/save" class="ui-dialog-form">
		<input type="hidden" name="id" value="$!{emergencyGroup.id}">
	    <table width="100%">  
	        <tr>
	            <td width="30%" class="label"><span class="ui-form-required">*</span><label>分组编码：</label></td>
	            <td width="60%">
			         #set($readonly='')
			         #if($!{emergencyGroup.id})
			          	#set($readonly='readonly')
			         #end	            
	            	<input $!{readonly} type="text" class="k-textbox" name="groupCode" value="$!{emergencyGroup.groupCode}" maxlength="10">
	            </td>
	            <td width="10%"></td>
	        </tr>		                
	        <tr>
	            <td  class="label"><span class="ui-form-required">*</span><label>分组名称：</label></td>
	            <td ><input  type="text" class="k-textbox" name="groupName" value="$!{emergencyGroup.groupName}" maxlength="10"></td>
	            <td></td>
	        </tr>
			<tr>
	            <td class="label"><span class="ui-form-required">*</span><label>所属分组：</label></td>
	            <td>
	            	<input type="hidden" class="k-textbox" id="parentId" name="parentId" value="$!{emergencyGroup.parentId}" >
	            	<span class="k-textbox k-space-right" id="parentNames">
	            		<input readonly type="text" class="k-textbox" id="parentName" name="parentName" value="$!{emergencyGroup.parentName}" >
						<a href="#" class="k-icon k-i-search" >&nbsp;</a>
                	</span>	 	            	
	            </td>
	            <td></td>
	        </tr>  
	        <tr>
	            <td class="label"><span class="ui-form-required">*</span><label>区域：</label></td>
	            
				 <td class="inputText">
                   <span class="k-textbox k-space-right"   onclick="chooseGeoarea1('areaId','areaName','emergencyGroup_add_dlg')" >
                    <input readonly type="text" class="k-textbox #if(!$!{viewOnly}) ui-input-choose #end""  id="areaName" name="areaName" value="$!{emergencyGroup.areaName}" />
                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
    	           </span>
    
    	            <input class="k-textbox" type="hidden" id="areaId" name="areaId" value="$!{emergencyGroup.areaId}"/>
    
                </td>
	            <td></td>
	        </tr> 
			<tr>
				<td  class="label"><span class="ui-form-required">*</span><label>应急类别：</label></td>
			    <td class="inputText">
				     <select name="emergencyType"  class="k-textbox" >
						<option value="" >--请选择--</option>
    			        #foreach($!{e} in $!{lstStatus})
    			     	<option value="$!{e.enumValue}" #if($!{emergencyGroup.emergencyType}==$!{e.enumValue}) selected="selected" #end>$!{e.enumText}</option>
    				    #end
					 </select>
			    </td>
	            <td></td>
	        </tr>
	        <tr>
	            <td class="label">备注：</td>
	            <td><textarea  id="textAreaId"  name="remark" class="k-textbox k-textarea">$!{emergencyGroup.remark}</textarea></td>
	            <td></td>
	        </tr>
	    </table>
	    <div class="actions">
	        <button class="k-primary hc_btn" id="emergencyGroupSave" type="submit"><i class="fa fa-save"></i>保 存</button>
	        <button class="hc_btn cancel" onclick="close_dialog('emergencyGroup_add_dlg')" type="button"><i class="fa fa-close"></i>取 消</button>
	    </div> 	           
	</form>
<script type="text/javascript">
	$(document).ready(function(){
		#if($!{emergencyGroup.parentId} == 0)
			$("#parentName").val("应急分组");
		#end
		
		$("#parentNames").click(function() {
			if("$!viewOnly" != "true")
            quick_dialog("selectDiloag", "选择", "$!{rc.contextPath}/emergency/emergencyGroup/lookup?txtId=parentId&txtName=parentName&from=groupChoose&dialogId=emergencyGroup_add_dlg", 300, 300);
        });

        $("#myform_id").validator({
            fields:{
            	groupCode: "分组编码:required; length[~20]",
            	groupName: "分组名称:required; lenght[~30]",
            	parentName: "所属分组:required; length[~10];",
				areaName: "区域:required; lenght[~10]",
            	emergencyType: "类别:required; length[~10];",
				remark: "备注:length[~200];"
            },
            valid:function(form){
                form_btn_submit($("#emergencyGroupSave"),form,function(res){
                    // 关闭窗口
                    validateCallback(res,"grid","emergencyGroup_add_dlg");
                });
            }
        });   
		
        #if($!viewOnly)
        	setAllReadonly();
        #end   
		
/*    	 if($("#hidden_order_id").val()!=""){
			$("#order_id").val($("#hidden_order_id").val());
	 } */
  });
</script>
</body>
</html>
