关于反馈的三个问题
 1.是否是IE提示“Internet exploer 已限制此网页运行脚本或ACTIVE控件”？如果是这样的话，只要勾选“Internet 选项”的“高级”里的“允许活动内容在我的电脑上运行”
2.加载控件初始化D8E的时候不发出提示音
3.增加初始化和关闭方法接口
初始化
LONG LONGD8eInit(void)
返回1成功，0失败
关闭
void D8eExit(void)
附件是更新的控件