<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">
<mapper namespace="com.supconit.meeting.entities.RoomReservation">
	<resultMap type="com.supconit.meeting.entities.RoomReservation" id="roomReservationResultMap">
		<result property="id" column="ID"/>
        <result property="reservePersonid" column="RESERVE_PERSONID"/>
        <result property="roomId" column="ROOM_ID"/>
        <result property="meetingStart" column="MEETING_START"/>
        <result property="meetingEnd" column="MEETING_END"/>
        <result property="actualMeetingStart" column="ACTUAL_MEETING_START"/>
        <result property="actualMeetingEnd" column="ACTUAL_MEETING_END"/>
        <result property="meetingCompere" column="MEETING_COMPERE"/>
        <result property="meetingCompereName" column="meetingCompereName"/>
        <result property="meetingSubject" column="MEETING_SUBJECT"/>
        <result property="meetingProgram" column="MEETING_PROGRAM"/>
        <result property="attendeePersonNum" column="attendeePersonNum"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <collection property="roomInfo" javaType="com.supconit.meeting.entities.RoomInfo">
        	<result property="id" column="RESERVER_ROOM_ID"/>
        	<result property="roomName" column="RESERVER_ROOM_NAME"/>
        	<result property="roomType" column="RESERVER_ROOM_TYPE"/>
        	<result property="capacityPerson" column="RESERVER_CAPACITY_PERSON"/>
        	<result property="location" column="RESERVER_LOCATION"/>
        </collection>
	</resultMap>
	
	<sql id="TABLE_NAME" lang="velocity">ROOM_RESERVATION</sql>
	<sql id="SEQUENCE" lang="velocity">SELECT SEQ_<include refid="TABLE_NAME"/>.NEXTVAL FROM DUAL</sql>
	
	<sql id="select_pre" lang="velocity">
		SELECT
			a.ID,
			a.RESERVE_PERSONID,
			a.ROOM_ID,
			a.MEETING_START,
			a.MEETING_END,
			a.ACTUAL_MEETING_START,
			a.ACTUAL_MEETING_END,
			a.MEETING_COMPERE,
			a.MEETING_SUBJECT,
			a.MEETING_PROGRAM,
			hp.NAME meetingCompereName,
			d.id DEVICE_ID
		FROM <include refid="TABLE_NAME"/> a
		LEFT JOIN HO_PERSON hp on a.MEETING_COMPERE = hp.ID
		LEFT JOIN ROOM_INFO ri on a.ROOM_ID = ri.ID
		LEFT JOIN DEVICE d on ri.HPID = d.HPID
	</sql>
	
	<sql id="condition_sql" lang="velocity">
		<![CDATA[
		#where()
			#set($_p = $_parameter.condition)
			#if($_p.id)
				#set($_id = $_p.id)
				AND a.ID != @{_id,jdbcType=BIGINT}
			#end
			#if($_p.roomId)
				#set($_roomId = $_p.roomId)
				AND a.ROOM_ID = @{_roomId,jdbcType=BIGINT}
			#end
			#if($_p.meetingStart && $_p.meetingStart != '')
				#set($_meetingStart = $_p.meetingStart)
				#set($_meetingEnd = $_p.meetingEnd)
				AND a.MEETING_END > @{_meetingStart,jdbcType=TIMESTAMP} and a.MEETING_START < @{_meetingEnd,jdbcType=TIMESTAMP}
			#end
			#if($_p.roomIdList)
				#set($_roomIdList =$_p.roomIdList)
				AND 
				#repeat( $_roomIdList $id "," " a.ROOM_ID IN (" ")" )
		    		@{id,jdbcType=BIGINT}
				#end
			#end
		#end
		]]>	
    </sql>
    
	<!-- 插入记录-->
    <sql id="insert_sql" lang="velocity">
        INSERT INTO <include refid="TABLE_NAME"/>(
        	#if($_databaseId == 'oracle') ID, #end
	        RESERVE_PERSONID,
	        ROOM_ID,
	        MEETING_START,
	        MEETING_END,
	        ACTUAL_MEETING_START,
	        ACTUAL_MEETING_END,
	        MEETING_COMPERE,
	        MEETING_SUBJECT,
	        MEETING_PROGRAM
        ) VALUES (
        	#if($_databaseId == 'oracle') @{_parameter.id,jdbcType=NUMERIC}, #end
	        @{_parameter.reservePersonid,jdbcType=BIGINT},
	        @{_parameter.roomId,jdbcType=BIGINT},
	        @{_parameter.meetingStart,jdbcType=TIMESTAMP},
	        @{_parameter.meetingEnd,jdbcType=TIMESTAMP},
	        @{_parameter.meetingStart,jdbcType=TIMESTAMP},
	        @{_parameter.meetingEnd,jdbcType=TIMESTAMP},
	        @{_parameter.meetingCompere,jdbcType=BIGINT},
	        @{_parameter.meetingSubject,jdbcType=VARCHAR},
	        @{_parameter.meetingProgram,jdbcType=VARCHAR}
        )
    </sql>
    
    <insert id="insert" parameterType="com.supconit.meeting.entities.RoomReservation" keyProperty="id" keyColumn="ID" lang="velocity" databaseId="oracle">
		<selectKey keyProperty="id" resultType="long" order="BEFORE"><include refid="SEQUENCE" /></selectKey>
        <include refid="insert_sql" />
	</insert>
	<insert id="insert" parameterType="com.supconit.meeting.entities.RoomReservation" keyProperty="id" keyColumn="ID" lang="velocity" databaseId="sqlserver">
        <include refid="insert_sql"/>
        <selectKey keyProperty="id" resultType="long" order="AFTER"><include refid="_PUBLIC_V.SELECT_KEY"/> </selectKey>
    </insert>
    
	<!-- 更新记录-->
	<update id="update" parameterType="com.supconit.meeting.entities.RoomReservation" lang="velocity">
		UPDATE <include refid="TABLE_NAME"/>
		#mset()
			<![CDATA[
			    #if($_parameter.meetingCompere)MEETING_COMPERE = @{_parameter.meetingCompere,jdbcType=BIGINT},#end
			    #if($_parameter.meetingSubject && $_parameter.meetingSubject !='')MEETING_SUBJECT = @{_parameter.meetingSubject,jdbcType=VARCHAR},#end
			    #if($_parameter.meetingProgram && $_parameter.meetingProgram !='')MEETING_PROGRAM = @{_parameter.meetingProgram,jdbcType=VARCHAR},#end
			    #if($_parameter.meetingStart)MEETING_START = @{_parameter.meetingStart,jdbcType=TIMESTAMP},#end
			    #if($_parameter.meetingEnd)MEETING_END = @{_parameter.meetingEnd,jdbcType=TIMESTAMP},#end
			    #if($_parameter.actualMeetingStart)ACTUAL_MEETING_START = @{_parameter.actualMeetingStart,jdbcType=TIMESTAMP},#end
			    #if($_parameter.actualMeetingEnd)ACTUAL_MEETING_END = @{_parameter.actualMeetingEnd,jdbcType=TIMESTAMP},#end
			]]>
		#end
		WHERE ID = @{_parameter.id,jdbcType=NUMERIC}
	</update>
	
	<!-- 按条件查询记录-->
    <select id="findByConditions" parameterType="com.supconit.meeting.entities.RoomReservation" resultMap="roomReservationResultMap" lang="velocity" >
		<include refid="select_pre"/>
		<include refid="condition_sql"/>
		#order($_parameter.condition,"a.ID DESC")
    </select>
    
    <select id="getById" resultMap="roomReservationResultMap" parameterType="long" lang="velocity">
		<include refid="select_pre" />        
        WHERE a.ID = @{_parameter, jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteById" parameterType="long" lang="velocity">
		DELETE FROM <include refid="TABLE_NAME"/> 
		WHERE ID = @{_parameter.id,jdbcType=NUMERIC}
	</delete>
	
	<select id="queryRoomIsReverse" parameterType="com.supconit.meeting.entities.RoomReservation" resultType="Integer" lang="velocity">
		SELECT
			COUNT(*)
		FROM <include refid="TABLE_NAME"/> a
		<include refid="condition_sql"/>
	</select>
	
	<insert id="batch_insert" lang="velocity">
        INSERT INTO METTING_PERSON(#if($_databaseId == 'oracle') ID, #end ROOM_RESERVATION_ID, PERSON_ID) 
	    SELECT 
	        #if($_databaseId == 'oracle') SEQ_METTING_PERSON.NEXTVAL, #end
	        @{_parameter.roomReservationId,jdbcType=BIGINT},
	        hp.ID
		FROM HO_PERSON hp WHERE 
		#repeat( $_parameter.list $person "," " hp.ID IN (" ")" )
		    @{person.id,jdbcType=BIGINT}
		#end
		
    </insert>
    
    <!-- 更新预定会议时,删除旧的与会者/取消预定会议时,删除与会者 -->
    <delete id="deleteAttendee" parameterType="map" lang="velocity">
    	DELETE FROM METTING_PERSON
    	WHERE ROOM_RESERVATION_ID = @{_parameter.roomReservationId,jdbcType=BIGINT}
    </delete>
    
    <sql id="myMeetingCondition_sql" lang="velocity">
    	<![CDATA[
	    	#set($_p = $_parameter)
	    	#if($_p.roomType && $_p.roomType != '')
					#set($_roomType = $_p.roomType)
					AND ri.ROOM_TYPE = @{_roomType,jdbcType=VARCHAR}
			#end
	    	#if($_p.meetingSubject && $_p.meetingSubject != '')
					#set($_meetingSubject = '%' + $_p.meetingSubject + '%')
					AND rr.MEETING_SUBJECT LIKE @{_meetingSubject,jdbcType=VARCHAR}  ESCAPE '/' 
			#end
			#if($_p.meetingStart && $_p.meetingStart != '')
				#set($_meetingStart = $_p.meetingStart)
				AND rr.MEETING_START >= @{_meetingStart,jdbcType=TIMESTAMP}
			#end
			#if($_p.meetingEnd && $_p.meetingEnd != '')
				#set($_meetingEnd = $_p.meetingEnd)
				AND rr.MEETING_END <= @{_meetingEnd,jdbcType=TIMESTAMP}
			#end
		]]>
    </sql>
    
    <!-- 按条件查询记录-->
    <select id="queryMyReserveMeeting" resultMap="roomReservationResultMap" lang="velocity" databaseId="oracle">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
    		rr.ID,
			rr.MEETING_START,
			rr.MEETING_END,
			rr.MEETING_SUBJECT,
			hp.NAME meetingCompereName,
			(
				SELECT
					COUNT(*)
				FROM
					METTING_PERSON mp
				WHERE
					mp.ROOM_RESERVATION_ID = rr.ID
			) attendeePersonNum,
			ri.ID RESERVER_ROOM_ID,
			ri.ROOM_NAME RESERVER_ROOM_NAME,
			ri.CAPACITY_PERSON RESERVER_CAPACITY_PERSON,
			ri.LOCATION RESERVER_LOCATION,
			ri.ROOM_TYPE RESERVER_ROOM_TYPE
			FROM
				<include refid="TABLE_NAME"/> rr
			LEFT JOIN ROOM_INFO ri ON rr.ROOM_ID = ri.ID
			LEFT JOIN HO_PERSON hp on rr.MEETING_COMPERE = hp.ID
			WHERE
				rr.RESERVE_PERSONID = @{_parameter.personId,jdbcType=BIGINT}
		<include refid="myMeetingCondition_sql"/>
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>
    
	<!-- 按条件查询记录-->
    <select id="queryMyReserveMeeting"  resultMap="roomReservationResultMap" lang="velocity" databaseId="sqlserver">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
    		rr.ID,
			rr.MEETING_START,
			rr.MEETING_END,
			rr.MEETING_SUBJECT,
			hp.NAME meetingCompereName,
			(
				SELECT
					COUNT(*)
				FROM
					METTING_PERSON mp
				WHERE
					mp.ROOM_RESERVATION_ID = rr.ID
			) attendeePersonNum,
			ri.ID RESERVER_ROOM_ID,
			ri.ROOM_NAME RESERVER_ROOM_NAME,
			ri.CAPACITY_PERSON RESERVER_CAPACITY_PERSON,
			ri.LOCATION RESERVER_LOCATION,
			ri.ROOM_TYPE RESERVER_ROOM_TYPE
		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" />
		#order($_parameter.condition,"rr.ID DESC") 
		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM <include refid="TABLE_NAME"/>  rr
		LEFT JOIN ROOM_INFO ri ON rr.ROOM_ID = ri.ID
		LEFT JOIN HO_PERSON hp on rr.MEETING_COMPERE = hp.ID
		WHERE
			rr.RESERVE_PERSONID = @{_parameter.personId,jdbcType=BIGINT}
		<include refid="myMeetingCondition_sql"/>
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>
    
    <!--<select id="queryMyReserveMeeting" resultMap="roomReservationResultMap" lang="velocity">
    	SELECT
    		rr.ID,
			rr.MEETING_START,
			rr.MEETING_END,
			rr.MEETING_SUBJECT,
			(
				SELECT
					COUNT(*)
				FROM
					METTING_PERSON mp
				WHERE
					mp.ROOM_RESERVATION_ID = rr.ID
			) attendeePersonNum,
			ri.ID RESERVER_ROOM_ID,
			ri.ROOM_NAME RESERVER_ROOM_NAME,
			ri.CAPACITY_PERSON RESERVER_CAPACITY_PERSON,
			ri.LOCATION RESERVER_LOCATION,
			ri.ROOM_TYPE RESERVER_ROOM_TYPE
			FROM
				<include refid="TABLE_NAME"/> rr
			LEFT JOIN ROOM_INFO ri ON rr.ROOM_ID = ri.ID
			WHERE
				rr.RESERVE_PERSONID = @{_parameter.personId,jdbcType=BIGINT}
			<include refid="myMeetingCondition_sql"/>
    </select>  -->
    
    <select id="countMyReserveMeeting" resultType="Long" lang="velocity">
    	SELECT
    		COUNT(*)
    	FROM
			<include refid="TABLE_NAME"/> rr
		LEFT JOIN ROOM_INFO ri ON rr.ROOM_ID = ri.ID
		WHERE	
			rr.RESERVE_PERSONID = @{_parameter.personId,jdbcType=BIGINT}
		<include refid="myMeetingCondition_sql"/>
    </select>
    
    <!-- 按条件查询记录-->
    <select id="queryMyAttendMeeting" resultMap="roomReservationResultMap" lang="velocity" databaseId="oracle">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
    		rr.ID,
			rr.MEETING_START,
			rr.MEETING_END,
			rr.MEETING_SUBJECT,
			hp.NAME meetingCompereName,
			(
				SELECT
					COUNT (*)
				FROM
					METTING_PERSON mp
				WHERE
					mp.ROOM_RESERVATION_ID = rr.ID
			) attendeePersonNum,
			ri.ID RESERVER_ROOM_ID,
			ri.ROOM_NAME RESERVER_ROOM_NAME,
			ri.CAPACITY_PERSON RESERVER_CAPACITY_PERSON,
			ri.LOCATION RESERVER_LOCATION,
			ri.ROOM_TYPE RESERVER_ROOM_TYPE
			FROM
				METTING_PERSON mp
			LEFT JOIN ROOM_RESERVATION rr ON mp.ROOM_RESERVATION_ID = rr.ID
			LEFT JOIN ROOM_INFO ri ON rr.ROOM_ID = ri.ID
			LEFT JOIN HO_PERSON hp on rr.MEETING_COMPERE = hp.ID
			WHERE
				mp.PERSON_ID = @{_parameter.personId,jdbcType=BIGINT}
		<include refid="myMeetingCondition_sql"/>
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>
    
	<!-- 按条件查询记录-->
    <select id="queryMyAttendMeeting"  resultMap="roomReservationResultMap" lang="velocity" databaseId="sqlserver">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
    		rr.ID,
			rr.MEETING_START,
			rr.MEETING_END,
			rr.MEETING_SUBJECT,
			rr.MEETING_SUBJECT,
			(
				SELECT
					COUNT (*)
				FROM
					METTING_PERSON mp
				WHERE
					mp.ROOM_RESERVATION_ID = rr.ID
			) attendeePersonNum,
			ri.ID RESERVER_ROOM_ID,
			ri.ROOM_NAME RESERVER_ROOM_NAME,
			ri.CAPACITY_PERSON RESERVER_CAPACITY_PERSON,
			ri.LOCATION RESERVER_LOCATION,
			ri.ROOM_TYPE RESERVER_ROOM_TYPE
		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
		#order($_parameter.condition,"rr.ID DESC") 
		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM METTING_PERSON mp
		LEFT JOIN ROOM_RESERVATION rr ON mp.ROOM_RESERVATION_ID = rr.ID
		LEFT JOIN ROOM_INFO ri ON rr.ROOM_ID = ri.ID
		LEFT JOIN HO_PERSON hp on rr.MEETING_COMPERE = hp.ID
		WHERE
			mp.PERSON_ID = @{_parameter.personId,jdbcType=BIGINT}
		<include refid="myMeetingCondition_sql"/>
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>
    
    <!-- <select id="queryMyAttendMeeting" resultMap="roomReservationResultMap" lang="velocity">
    	SELECT
    		rr.ID,
			rr.MEETING_START,
			rr.MEETING_END,
			MEETING_SUBJECT,
			(
				SELECT
					COUNT (*)
				FROM
					METTING_PERSON mp
				WHERE
					mp.ROOM_RESERVATION_ID = rr.ID
			) attendeePersonNum,
			ri.ID RESERVER_ROOM_ID,
			ri.ROOM_NAME RESERVER_ROOM_NAME,
			ri.CAPACITY_PERSON RESERVER_CAPACITY_PERSON,
			ri.LOCATION RESERVER_LOCATION,
			ri.ROOM_TYPE RESERVER_ROOM_TYPE
			FROM
				METTING_PERSON mp
			LEFT JOIN ROOM_RESERVATION rr ON mp.ROOM_RESERVATION_ID = rr.ID
			LEFT JOIN ROOM_INFO ri ON rr.ROOM_ID = ri.ID
			WHERE
				mp.PERSON_ID = @{_parameter.personId,jdbcType=BIGINT}
			<include refid="myMeetingCondition_sql"/>
    </select> -->
    
    <select id="countMyAttendMeeting" resultType="Long" lang="velocity">
    	SELECT
    		COUNT(*)
    	FROM
			METTING_PERSON mp
		LEFT JOIN ROOM_RESERVATION rr ON mp.ROOM_RESERVATION_ID = rr.ID
		LEFT JOIN ROOM_INFO ri ON rr.ROOM_ID = ri.ID
		WHERE	
			mp.PERSON_ID = @{_parameter.personId,jdbcType=BIGINT}
		<include refid="myMeetingCondition_sql"/>
    </select>
    
    <select id="countReservationByRoomId" resultType="long" lang="velocity">
        SELECT
    		COUNT(*)
    	FROM <include refid="TABLE_NAME"/> a
    	WHERE
    		a.ROOM_ID = @{_parameter.roomId,jdbcType=BIGINT}
    </select>
    
    <!-- 更新记录-->
	<update id="updateActualMeetingTime" parameterType="com.supconit.meeting.entities.RoomReservation" lang="velocity">
		UPDATE <include refid="TABLE_NAME"/>
		#mset()
			<![CDATA[
			    #if($_parameter.actualMeetingStart)ACTUAL_MEETING_START = @{_parameter.actualMeetingStart,jdbcType=TIMESTAMP},#end
			    #if($_parameter.actualMeetingEnd)ACTUAL_MEETING_END = @{_parameter.actualMeetingEnd,jdbcType=TIMESTAMP},#end
			]]>
		#end
		WHERE ID = @{_parameter.id,jdbcType=NUMERIC}
	</update>
    
</mapper>