#parse("index/_header.vm")
</head>
<body>
<div class="ui-layout-center" id="subMain">
	<div class="ui-layout-north">
		 <form class="ui-form" id='queryForm'>
			
	     <table width="100%">
	       <tr>
	         <td>
	           <table class="ui-search-table">
	             <tr>
	               <td class="ui-search-name first">厂商编码：</td>
	               <td class="ui-search-c">
	                 <input name="supplierCode" value="$!supplier.supplierCode" class="k-textbox" type="text">
	               </td>
	               <td class="ui-search-name">厂商名称：</td>
	               <td class="ui-search-c">
	                 <input  name="fullName" value="$!supplier.fullName" class="k-textbox" type="text">
	               </td>
	             </tr>
	           </table>
	         </td>
	         <td width="150" valign="top" style="padding-top:4px;">
	           <button type="submit" class="hc_btn k-primary" id="queryBtn"><i class="fa fa-search"></i>查询</button>
	           <button type="reset" class="hc_btn" id="resetBtn"><i class="fa fa-refresh"></i>重置</button>
	         </td>
	         <td></td>
	       </tr>
	     </table>
	 	</form>
	</div>
	<div class="ui-layout-center">
	  <div id="grid"></div> 
     </div>
</div>
#parse("index/_footer.vm") 

<script type="text/javascript">
     var _iframe_layout,_inner_layout;
	$(document).ready(function(){
		_iframe_layout = $('body').layout({
		      defaults: {
		        resizable: false,
		        closable: false,
		        spacing_open: 5
		      }
		    });
		 _inner_layout = $("#subMain").layout({
		      defaults: {
		        resizable: false,
		        closable: false,
		        spacing_open: 0
		      },
		      center: {
		          onresize_end: function () {
		              var grid = $("#grid").data("kendoGrid");
		              grid.resize();
		          }
		      }
     })

    $('#resetBtn').click(function(){
      $("#queryForm :text").val('');  
    });

		
	
		//列表
    quick_datagrid("#grid", "#queryForm", "$!{rc.contextPath}/base/supplier/list", [{
              field: "id",
              hidden: true
          }, {
              field: "supplierCode",
              title: "厂商编码",
              sortable: false,
              headerAttributes: {"class": "k-grid-text"},
              attributes: {"class": "k-grid-text"},
              template:"<a href=\"javascript:void(0)\" title=\"查看#: data.supplierCode #的详细信息\" onclick=\"quick_dialog('supplier_add_dlg','查看#:data.supplierCode #的信息','$!{rc.contextPath}/base/supplier/edit?viewOnly=true&id=#: data.id #',580,550)\">#: data.supplierCode #</a>",
              width: 150
          }, {
              field: "fullName",
              title: "厂商名称",
              sortable: false,
              width: 200,
              headerAttributes: {"class": "k-grid-text"},
    		  #*attributes: {"class": "k-grid-text"},*#
              attributes: {     
      		  	 title:"#: data.fullName==null? '':data.fullName #",
      			 "class": "k-grid-text k-grid-nowrap"
    		  }
          }, {
              field: "legalPerson",
              title: "法人代表",
              sortable: false,
              width: 200 ,
              headerAttributes: {"class": "k-grid-equilong"},
              attributes: {"class": "k-grid-equilong"}
          }, {
              field: "companyType",
              sortable: false,
              title: "公司类型",
              headerAttributes: {"class": "k-grid-text"},
              attributes: {"class": "k-grid-text"}
          }], 
          {sortable: {mode: "multiple",allowUnsort: true},resizable:true}, 
    		{serverSorting: true}, 
    		[
    		#kendo_datagrid_btns("SJGL")#end
      		]);
		
    });
	  
	 
</script>
</body>
</html>
