	##最上方的固定列表
    <div class="nh-chart" id="mix$!{num}" style="heigth:260px">
    </div>	
	##下方的列别
	<div class="nh-grid">
    	<table class="nh-table">
		</table>
    </div>
  <script type="text/javascript">
  		var percentD = '$!dayTimeEle.percent';
  		var percentN='$!nightEle.percent'
  		var dayTimeEleTotal='$!dayTimeEle.total';
  		var nightEleTotal='$!nightEle.total';
		if(dayTimeEleTotal == 0)
			$("#dayTimeEleTotal").text("0.00");
		else
			$("#dayTimeEleTotal").text(dayTimeEleTotal);
		if(nightEleTotal==0)
			$("#nightEleTotal").text("0.00");
		else
			$("#nightEleTotal").text(nightEleTotal);  		
  		if(percentD > 0){
			$("#percentD").text('增长'+percentD+'%');
		}
		else if(percentD == '0.0'){
			$("#percentD").text('持平');
		}
		else{
			$("#percentD").text('下降'+(-percentD)+'%');
		}
		if(percentD == '0.0'){
			$("#rudD").removeClass();
			$("#rudD").addClass("count-item count-item-unchanged");
		}
		else if(percentD > 0){
			$("#rudD").removeClass();
			$("#rudD").addClass("count-item count-item-rise");
		}
		else {
			$("#rudD").removeClass();
			$("#rudD").addClass("count-item count-item-decline");
		}
		
		fNumPage();
		var allHeight = $("#chart_content_id").height();
		var header = $(".nh-header").height();
		var content = $(".nh-content").height();
		if(content > allHeight-header-40)
			$("#content").css("height",content);
		else
			$("#content").css("height",allHeight-header-40);
		$(".ui-tab-panels").css("height",allHeight-header-40);
		if(percentN > 0){
			$("#percentN").text('增长'+percentN+'%');
		}
		else if(percentN == '0.0'){
			$("#percentN").text('持平');
		}
		else{
			$("#percentN").text('下降'+(-percentN)+'%');
		}
		if(percentN == '0.0'){
			$("#rudN").removeClass();
			$("#rudN").addClass("count-item count-item-unchanged");
		}
		else if(percentN > 0){
			$("#rudN").removeClass();
			$("#rudN").addClass("count-item count-item-rise");
		}
		else {
			$("#rudN").removeClass();
			$("#rudN").addClass("count-item count-item-decline");
		}	
  	var myChart;
	var option;
  $(document).ready(function(){
		//混合图总量
		option = {
			 title : {
        	        text: '$!{title}',
        	        x:'center'
        	    },
			    tooltip : {
			        trigger: 'axis',
					formatter: "{a} <br/>{b} : {c} J"
			    },
			    ##legend: {
				##//orient : 'vertical',
        	    ##    y : 'bottom',
			    ##    data:['用能量']
			    ##},
			    xAxis : [
			        {
			            type : 'category',
			            data : '$!newlist.hour'.split(",")
			        }
			    ],
			    yAxis : [
			        {
			            type : 'value',
			            name : '用能量('+energy+')',
##			            axisLabel : {
##			                formatter: '{value}'//这里可以去掉ml
##			            },
			            splitLine : {show : true}
			        }
			    ],
			    series : [
			        {
			            name:'用能量',
			            type:'line',
			            data:'$!newlist.data'.split(",")
			        }
			    ]
			};
		initEcharts("mix$!{num}",option);
		var content="<tbody>";
        var first = "";
		var newData = '$!newlist.data';
		//var hour = '$!new.hour';//获取的日期
		for(var i=0;i<6;i++)
		{
			var firstLine = "";
			var scendLine = "";
			var thirdLine = "";
			var fourLine = "";
			if(newData.split(",").length>=(i+1))
				firstLine = newData.split(",")[i];
			if(newData.split(",").length>=(i+7))
				scendLine = newData.split(",")[i+6];
			if(newData.split(",").length>=(i+13))
				thirdLine = newData.split(",")[i+12];
			if(newData.split(",").length>=(i+19))
				fourLine = newData.split(",")[i+18];
			var first = first+"<tr><td class=nh-table-num>"+i+"点</td><td style=\"text-align:center\">"+firstLine+"</td><td class=nh-table-num>"+(i+6)+"点</td><td style=\"text-align:center\">"+scendLine+"</td><td class=nh-table-num>"+(i+12)+"点</td><td style=\"text-align:center\">"+thirdLine+"</td><td class=nh-table-num>"+(i+18)+"点</td><td style=\"text-align:center\">"+fourLine+"</td></tr>";
		}
		content = content+first+"</tbody>";
		var head="<thead><tr><td class=nh-table-num>时间</td><td class=nh-table-num>用能量("+energy+")</td><td class=nh-table-num>时间</td><td class=nh-table-num>用能量("+energy+")</td><td class=nh-table-num>时间</td><td class=nh-table-num>用能量("+energy+")</td><td class=nh-table-num>时间</td><td class=nh-table-num>用能量("+energy+")</td></tr></thead>";
		head = head+"</tr></thead>";
		$(".nh-table").html("").append(head).append(content);
	})
	$(".nh-grid").circular();
  </script> 
   