  <script type="text/javascript">
  $(document).ready(function(){
  	var option6;
	option6 = {
		grid:{x:'120px'},
		title : {
        	        text: '$!{year}'+'年手术量及用电使用情况',
        	        x:'100'
        	    },
        tooltip : {
	        trigger: 'axis',
			formatter:function(params,ticket)
			{
				var str="";
				for(var i=0;i<params.length;i++){
					str = str + params[i][0]+" : "+params[i][2];
					if(params[i][0] == "用电量")
						str = str + " "+electric+"</br>";
					else
						str = str + " " + "例数</br>";
				}
				return str;
				
			}
	    },
		legend: {
			x : 'right',
	        y : 'top',
            data:['用电量','手术量']
        },
        xAxis : [
            {
                type : 'category',
                data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            }
        ],
        yAxis : [
			{
                type : 'value',
                name : '手术量',
                axisLabel : {
                    formatter: '{value} 例数'
                }
            },
            {
                type : 'value',
                name : '用电量',
                axisLabel : {
                    formatter: '{value} kWh'
                }
            }
            
        ],
        series : [
    		{
                name:'用电量',
                type:'bar',
				yAxisIndex: 1,
                data:'$!mapElectric.dataSsl'.split(',')
            },
            {
                name:'手术量',
                type:'line',
                data:'$!mapElectric.dataSslSubjectAmount'.split(',')
            }
        ]
    };
	initEcharts("mix6",option6,function onclickWeek(chart){chart.on('click', eConsole6);});
  });
  function eConsole6(param) {
		$("#subSslButton").attr("style","display: block;");
		var value = param.value;
		if(value == '0')
			return;
		var first = param.name;
		var year = $("#year").val();
		var start = $("#start").val();
		first = first.substring(0,first.length-1);
		if(first < 10)
			start = year + "-0" + first;
		else
			start = year + "-" + first;
		var url = '';
		url = '$!{rc.contextPath}/basic/basicInfoXin/dayByMonth?start='+start;
		chartMonthSsl(url,start);
	
  	}
  function chartMonthSsl(url,start){
  	var title = "";
    if(start.length == 4)
    	title = start+'年手术量及用电使用情况';
    else if(start.length == 7)
    	title = start.substring(0,4)+"年"+start.substring(5,7)+'月手术量及用电使用情况';
	$.ajax({
           type: "POST",
           url: url,
           data: "code=6",
           success: function(data){
		   		var option10 = {
            		grid:{x:'120px'},
            		title : {
                    	        text: title,
                    	        x:'100'
                    	    },
                    tooltip : {
            	        trigger: 'axis',
            			formatter:function(params,ticket)
            			{
            				var str="";
            				for(var i=0;i<params.length;i++){
            					str = str + params[i][0]+" : "+params[i][2];
            					if(params[i][0] == "用电量")
            						str = str + " "+electric+"</br>";
            					else
            						str = str + " " + "例数</br>";
            				}
            				return str;
            				
            			}
            	    },
            		legend: {
            			x : 'right',
            	        y : 'top',
                        data:['用电量','手术量']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : data.dateString.split(',')
                        }
                    ],
                    yAxis : [
            			{
                            type : 'value',
                            name : '手术量',
                            axisLabel : {
                                formatter: '{value} 例数'
                            }
                        },
                        {
                            type : 'value',
                            name : '用电量',
                            axisLabel : {
                                formatter: '{value} kWh'
                            }
                        }
                        
                    ],
                    series : [
                		{
                            name:'用电量',
                            type:'bar',
            				yAxisIndex: 1,
                            data:data.data.split(',')
                        },
                        {
                            name:'手术量',
                            type:'line',
                            data:data.dataSubjectAmount.split(',')
                        }
                    ]
                };
				if(start.length > 4)
					initEcharts("mix6",option10,function onclickWeek(chart){chart.on('click', eConsole61);});
				else
					initEcharts("mix6",option10,function onclickWeek(chart){chart.on('click', eConsole6);});
				$("#sslMonth").attr("value",start);
		   }
        });
  }
  function eConsole61(param) {
    	var value = param.value;
    	if(value == '0')
    		return;
    	var first = param.name;
    	var start = $("#sslMonth").val();
    	if(first < 10)
    		start = start + "-0" + first;
    	else
    		start = start + "-" + first;
    	var title = start+"手术量及用电量使用情况";
		var title = start.substring(0,4)+"年"+start.substring(5,7)+"月"+start.substring(8,10)+'日手术量及用电使用情况';
    	var url = "";
    	url = '$!{rc.contextPath}/basic/basicInfoXin/hourByDay?start='+start;
    	$.ajax({
           type: "POST",
           url: url,
           data: "code=6",
           success: function(data){
    	   		var option61 = {
            		grid:{x:'120px'},
            		title : {
                    	        text: title,
                    	        x:'100'
                    	    },
                    tooltip : {
            	        trigger: 'axis',
            			formatter:function(params,ticket)
            			{
            				var str="";
            				for(var i=0;i<params.length;i++){
            					str = str + params[i][0]+" : "+params[i][2];
            					if(params[i][0] == "用电量")
            						str = str + " "+electric+"</br>";
            					else
            						str = str + " " + "例数</br>";
            				}
            				return str;
            				
            			}
            	    },
            		legend: {
            			x : 'right',
            	        y : 'top',
                        data:['用电量','手术量']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : data.dataHour.split(',')
                        }
                    ],
                    yAxis : [
            			{
                            type : 'value',
                            name : '手术量',
                            axisLabel : {
                                formatter: '{value} 例数'
                            }
                        },
                        {
                            type : 'value',
                            name : '用电量',
                            axisLabel : {
                                formatter: '{value} kWh'
                            }
                        }
                        
                    ],
                    series : [
                		{
                            name:'用电量',
                            type:'bar',
            				yAxisIndex: 1,
                            data:data.data.split(',')
                        },
                        {
                            name:'手术量',
                            type:'line',
                            data:data.dataSubjectAmount.split(',')
                        }
                    ]
                };
    			initEcharts("mix6",option61);
    			$("#sslMonth").attr("value",start);
    	   }
        });
		
	}
  function replySsl(){
    	var start = $("#sslMonth").val();
		
    	if(start.length > 4)
    		start = start.substring(0,start.length-3);
    	var url = "";
    	if(start.length > 4){
    		$("#sslMonth").attr("value",start);
			url = '$!{rc.contextPath}/basic/basicInfoXin/dayByMonth?start='+start;
    		chartMonthSsl(url,start);
    	}
    	else{
			$("#subSslButton").attr("style","display: none;");
			$("#sslMonth").attr("value",start);
			url = '$!{rc.contextPath}/basic/basicInfoXin/monthByYear?start='+start;
    		chartMonthSsl(url,start);
    	}
    }
  </script> 
   