<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">

<mapper namespace="com.supconit.nhgl.query.complex.entities.Complex">

	<resultMap type="com.supconit.nhgl.query.complex.entities.Complex" id="DeviceResultMap">      
        <result property="id" column="ID" />
        <result property="deviceCode" column="DEVICE_CODE" />
        <result property="deviceName" column="DEVICE_NAME" />
        <result property="deviceSpec" column="DEVICE_SPEC" />
        <result property="categoryId" column="CATEGORY_ID" />
        <result property="locationId" column="LOCATION_ID" />
        <result property="locationName" column="LOCATION_NAME" />
        <result property="useDepartmentId" column="USE_DEPARTMENT_ID" />
        <result property="manageDepartmentId" column="MANAGE_DEPARTMENT_ID" />
        <result property="managePersonIds" column="MANAGE_PERSON_IDS" />
        <result property="managePersonName" column="MANAGE_PERSON_NAME" />
        <result property="supplierId" column="SUPPLIER_ID" />
        <result property="maitainCycle" column="MAITAIN_CYCLE" />
        <result property="timeAfterMaintain" column="TIME_AFTER_MAINTAIN" />
        <result property="totalRunningTime" column="TOTAL_RUNNING_TIME" />
        <result property="specialStatus" column="SPECIAL_STATUS" />
        <result property="barcode" column="BARCODE" />
        <result property="prduceDate" column="PRDUCE_DATE" />
        <result property="assetsCode" column="ASSETS_CODE" />
        <result property="enableDate" column="ENABLE_DATE" />
        <result property="status" column="STATUS" />
        <result property="assetsCost" column="ASSETS_COST" />
        <result property="assetsResidual" column="ASSETS_RESIDUAL" />
        <result property="depreciationAlgorithm" column="DEPRECIATION_ALGORITHM" />
        <result property="depreciationRate" column="DEPRECIATION_RATE" />
        <result property="depreciationYears" column="DEPRECIATION_YEARS" />
        <result property="mapDisplay" column="MAP_DISPLAY" />
        <result property="smallType" column="SMALL_TYPE" />
        <result property="createId" column="CREATE_ID" />
        <result property="creator" column="CREATOR" />
        <result property="createDate" column="CREATE_DATE" />
        <result property="updateId" column="UPDATE_ID" />
        <result property="updator" column="UPDATOR" />
        <result property="updateDate" column="UPDATE_DATE" />
        <result property="hpid" column="HPID" />
        <result property="discipinesCode" column="DISCIPINES_CODE"/>
        <result property="extended1" column="EXTENDED1"/>
        <result property="energyCode" column="ENERGY_CODE"/>
        <result property="serviceArea" column="SERVICE_AREA"/>
        
        
        <result property="subName" column="SUB_NAME"/>
        <result property="subCode" column="SUB_CODE"/>
        <result property="lastTotal" column="lastTotal" />
        <result property="total" column="TOTAL" />
        <result property="incremental" column="INCREMENTAL" />
        <result property="collectTime" column="COLLECT_TIME" />
        <result property="useDepartmentName" column="USE_DEPARTMENT_NAME" />
        
	</resultMap>
	<sql id="CURRENT_DATE_TIME">		
		<if test="_databaseId == 'microsoft sql server'">getDate()</if>
	</sql>
	<sql id="column_device" lang="velocity">
		A.ID,
		A.DEVICE_CODE,
		A.DEVICE_NAME,
		A.DEVICE_SPEC,
		A.CATEGORY_ID,
		A.LOCATION_ID,
		A.LOCATION_NAME,
		A.USE_DEPARTMENT_ID,
		A.MANAGE_DEPARTMENT_ID,
		A.MANAGE_PERSON_IDS,
		A.MANAGE_PERSON_NAME,
		A.SUPPLIER_ID,
		A.MAITAIN_CYCLE,
		A.TIME_AFTER_MAINTAIN,
		A.TOTAL_RUNNING_TIME,
		A.SPECIAL_STATUS,
		A.BARCODE,
		A.PRDUCE_DATE,
		A.ASSETS_CODE,
		A.ENABLE_DATE,
		A.STATUS,
		A.ASSETS_COST,
		A.ASSETS_RESIDUAL,
		A.DEPRECIATION_ALGORITHM,
		A.DEPRECIATION_RATE,
		A.DEPRECIATION_YEARS,
		A.MAP_DISPLAY,
		A.SMALL_TYPE,
		A.CREATE_ID,
		A.CREATOR,
		A.CREATE_DATE,
		A.UPDATE_ID,
		A.UPDATOR,
		A.UPDATE_DATE,
		A.HPID,
		A.DISCIPINES_CODE,
		A.EXTENDED1,
		A.ENERGY_CODE,
		A.SERVICE_AREA
	</sql>
	
	<sql id="sequence">SELECT SEQ_HO_USER.NEXTVAL FROM DUAL</sql>

    
	<select id="findById" parameterType="long" resultMap="DeviceResultMap" lang="velocity">
        select
        <include refid="column_device" />,
        sub.NAME SUB_NAME,
        sub.CODE SUB_CODE,
        <![CDATA[
        #if($_databaseId=='oracle') 
        	NVL(ele.TOTAL-ele.INCREMENTAL,0) LAST_TOTAL,
        #else
            ISNULL(ele.TOTAL-ele.INCREMENTAL,0) LAST_TOTAL,
        #end
        ]]>
	    ele.TOTAL,
	    ele.INCREMENTAL,
	    ele.COLLECT_TIME
		FROM
		dbo.DEVICE A
        LEFT JOIN NH_SUB_SYSTEM_INFO sub
        ON A.DISCIPINES_CODE = sub.STANDARD_CODE
        LEFT JOIN NH_ELECTRIC_METER ele
        ON A.EXTENDED1 = ele.bit_no
        where a.ID = @{_parameter.id,jdbcType=NUMERIC}
    </select>
    
    <sql id="condition_all_sql" lang="velocity">
    <![CDATA[
    	#where()
    		#set($_p = $_parameter.condition)
			1=1
			#if($_p.energyCode && $_p.energyCode!='')
				#set($_energyCode='%' +$_p.energyCode+ '%')
				and t2.ENERGY_CODE like @{_energyCode,jdbcType=VARCHAR}
			#end
			#if($_p.deviceName && $_p.deviceName!='')
				#set($_deviceName='%' +$_p.deviceName+ '%')
				and t2.DEVICE_NAME like @{_deviceName,jdbcType=VARCHAR}
			#end
			#if($_p.startTime && $_p.startTime!='')
				#set($_startTime=$_p.startTime)
				and t.COLLECT_TIME >=
				#if($_databaseId=='oracle')
					TO_DATE(@{_startTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24-mi-ss')
				#else
					@{_startTime,jdbcType=VARCHAR}
				#end
			#end
			#if($_p.endTime && $_p.endTime!='')
				#set($_endTime=$_p.endTime)
				and t.COLLECT_TIME <=
				#if($_databaseId=='oracle')
					TO_DATE(@{_endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24-mi-ss')
				#else
					@{_endTime,jdbcType=VARCHAR}
				#end
			#end
    	#end
		]]>
    </sql>
    
    
    <sql id="findFirstForWith" lang="velocity">
		WITH AREA(ID,PARENT_ID,AREA_NAME,FULL_LEVEL_NAME,SORT) AS(
			SELECT A.ID,A.PARENT_ID,A.AREA_NAME,A.FULL_LEVEL_NAME,A.SORT FROM NH_AREA A WHERE
			#if($_parameter.condition.locationId==0)
				A.PARENT_ID=@{_parameter.condition.locationId}
			#else
			 	A.ID=@{_parameter.condition.locationId}
			 	#end
			UNION ALL
			SELECT B.ID,B.PARENT_ID,B.AREA_NAME,B.FULL_LEVEL_NAME,B.SORT FROM NH_AREA B INNER JOIN AREA ON B.PARENT_ID=AREA.ID
		)
	</sql>
	
   <sql id="select_electric_pre" lang="velocity">
        SELECT  t2.energy_code,t2.device_name,t3.full_level_name as serviceArea,t1.name as subName,t.LAST_READ_DATA as lastTotal,
   		t.CUR_READ_DATA as total,t.INCREMENTAL,t.COLLECT_TIME 
		FROM NH_D_READ_DATA t 
		INNER JOIN 
		#if($_databaseId=='oracle') 
        	 table(Func_getNhItem(1,@{_parameter.condition.subCode,jdbcType=VARCHAR})) t1
        #else 
        	Func_getNhItem(1,@{_parameter.condition.subCode}) t1
        #end
		 ON t.ITEM_CODE=t1.standard_code
		INNER JOIN DEVICE t2 ON t.DEVICE_ID=t2.id
		INNER JOIN AREA t3 ON t2.service_area_id=t3.id  
    </sql>
    <sql id="select_water_pre" lang="velocity">
        SELECT  t2.energy_code,t2.device_name,t3.full_level_name as serviceArea,t1.name as subName,t.LAST_READ_DATA as lastTotal,
   		t.CUR_READ_DATA as total,t.INCREMENTAL,t.COLLECT_TIME 
		FROM NH_S_READ_DATA t 
		INNER JOIN 
		#if($_databaseId=='oracle') 
        	 table(Func_getNhItem(2,@{_parameter.condition.subCode,jdbcType=VARCHAR})) t1
        #else 
        	Func_getNhItem(2,@{_parameter.condition.subCode}) t1
        #end 
		ON t.ITEM_CODE=t1.standard_code
		INNER JOIN DEVICE t2 ON t.DEVICE_ID=t2.id
		INNER JOIN AREA t3 ON t2.service_area_id=t3.id  
    </sql>
     <sql id="select_gas_pre" lang="velocity">
        SELECT  t2.energy_code,t2.device_name,t3.full_level_name as serviceArea,t1.name as subName,t.LAST_READ_DATA as lastTotal,
   		t.CUR_READ_DATA as total,t.INCREMENTAL,t.COLLECT_TIME 
		FROM NH_Q_READ_DATA t 
		INNER JOIN 
		#if($_databaseId=='oracle') 
        	 table(Func_getNhItem(3,@{_parameter.condition.subCode,jdbcType=VARCHAR})) t1
        #else 
        	Func_getNhItem(3,@{_parameter.condition.subCode}) t1
        #end
	    ON t.ITEM_CODE=t1.standard_code
		INNER JOIN DEVICE t2 ON t.DEVICE_ID=t2.id
		INNER JOIN AREA t3 ON t2.service_area_id=t3.id  
    </sql>
    <sql id="select_energy_pre" lang="velocity">
        SELECT  t2.energy_code,t2.device_name,t3.full_level_name as serviceArea,t1.name as subName,t.LAST_READ_DATA as lastTotal,
   		t.CUR_READ_DATA as total,t.INCREMENTAL,t.COLLECT_TIME 
		FROM NH_EN_READ_DATA t 
		INNER JOIN 
		#if($_databaseId=='oracle') 
        	 table(Func_getNhItem(4,@{_parameter.condition.subCode,jdbcType=VARCHAR})) t1
        #else 
        	Func_getNhItem(4,@{_parameter.condition.subCode}) t1
        #end
		ON t.ITEM_CODE=t1.standard_code
		INNER JOIN DEVICE t2 ON t.DEVICE_ID=t2.id
		INNER JOIN AREA t3 ON t2.service_area_id=t3.id  
    </sql>
    
    <!-- 按条件查询记录-->
	<select id="findByCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="oracle">
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		<include refid="findFirstForWith"/> 
		<include refid="select_electric_pre"/>
         <include refid="condition_all_sql"/>
         #order($_parameter.condition,"t.COLLECT_TIME DESC,t.DEVICE_ID DESC")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	<select id="findByCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="sqlserver">
		<include refid="findFirstForWith"/> 
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT  t2.energy_code,t2.device_name,t3.full_level_name as serviceArea,t1.name as subName,t.LAST_READ_DATA as lastTotal,
   		t.CUR_READ_DATA as total,t.INCREMENTAL,t.COLLECT_TIME
   		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
 		#order($_parameter.condition,"t.COLLECT_TIME DESC,t.DEVICE_ID DESC")
 		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM NH_D_READ_DATA t 
		INNER JOIN Func_getNhItem(1,@{_parameter.condition.subCode}) t1 ON t.ITEM_CODE=t1.standard_code
		INNER JOIN DEVICE t2 ON t.DEVICE_ID=t2.id
		INNER JOIN AREA t3 ON t2.service_area_id=t3.id
	   <include refid="condition_all_sql"/>
	   <include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	
	<select id="findByWaterCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="oracle">
       <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		<include refid="findFirstForWith"/> 
		<include refid="select_water_pre" />
         <include refid="condition_all_sql"/>
         #order($_parameter.condition,"t.COLLECT_TIME DESC,t.DEVICE_ID DESC")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	<select id="findByWaterCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="sqlserver">
       <include refid="findFirstForWith"/> 
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT  t2.energy_code,t2.device_name,t3.full_level_name as serviceArea,t1.name as subName,t.LAST_READ_DATA as lastTotal,
   		t.CUR_READ_DATA as total,t.INCREMENTAL,t.COLLECT_TIME
   		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
 		#order($_parameter.condition,"t.COLLECT_TIME DESC,t.DEVICE_ID DESC")
 		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM NH_S_READ_DATA t 
		INNER JOIN Func_getNhItem(2,@{_parameter.condition.subCode}) t1 ON t.ITEM_CODE=t1.standard_code
		INNER JOIN DEVICE t2 ON t.DEVICE_ID=t2.id
		INNER JOIN AREA t3 ON t2.service_area_id=t3.id
	   <include refid="condition_all_sql"/>
	   <include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	
    <select id="findByGasCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="oracle">
         <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		<include refid="findFirstForWith"/> 
		 <include refid="select_gas_pre" />
         <include refid="condition_all_sql"/>
         #order($_parameter.condition,"t.COLLECT_TIME DESC,t.DEVICE_ID DESC")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	<select id="findByGasCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="sqlserver">
        <include refid="findFirstForWith"/> 
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT  t2.energy_code,t2.device_name,t3.full_level_name as serviceArea,t1.name as subName,t.LAST_READ_DATA as lastTotal,
   		t.CUR_READ_DATA as total,t.INCREMENTAL,t.COLLECT_TIME
   		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
 		#order($_parameter.condition,"t.COLLECT_TIME DESC,t.DEVICE_ID DESC")
 		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM NH_Q_READ_DATA t 
		INNER JOIN Func_getNhItem(3,@{_parameter.condition.subCode}) t1 ON t.ITEM_CODE=t1.standard_code
		INNER JOIN DEVICE t2 ON t.DEVICE_ID=t2.id
		INNER JOIN AREA t3 ON t2.service_area_id=t3.id
	   <include refid="condition_all_sql"/>
	   <include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
   
	<select id="findByEnergyCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="oracle">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		<include refid="findFirstForWith"/> 
		<include refid="select_energy_pre" />
        <include refid="condition_all_sql"/>
        #order($_parameter.condition,"t.COLLECT_TIME DESC,t.DEVICE_ID DESC")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	<select id="findByEnergyCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="sqlserver">
        <include refid="findFirstForWith"/> 
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT  t2.energy_code,t2.device_name,t3.full_level_name as serviceArea,t1.name as subName,t.LAST_READ_DATA as lastTotal,
   		t.CUR_READ_DATA as total,t.INCREMENTAL,t.COLLECT_TIME
   		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
 		#order($_parameter.condition,"t.COLLECT_TIME DESC,t.DEVICE_ID DESC")
 		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM NH_EN_READ_DATA t 
		INNER JOIN Func_getNhItem(4,@{_parameter.condition.subCode}) t1 ON t.ITEM_CODE=t1.standard_code
		INNER JOIN DEVICE t2 ON t.DEVICE_ID=t2.id
		INNER JOIN AREA t3 ON t2.service_area_id=t3.id
	   <include refid="condition_all_sql"/>
	   <include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	
    <select id="countByCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultType="long" lang="velocity">
		<include refid="findFirstForWith"/> 
		SELECT count(*) co from(
			<include refid="select_electric_pre" />
		    <include refid="condition_all_sql" />
	    ) s
	</select>
	<select id="countWaterByCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultType="long" lang="velocity">
		<include refid="findFirstForWith"/> 
		SELECT count(*) co from(
			<include refid="select_water_pre" />
		    <include refid="condition_all_sql" />
	    ) s
	</select>
	<select id="countGasByCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultType="long" lang="velocity">
		<include refid="findFirstForWith"/> 
		SELECT count(*) co from(
			<include refid="select_gas_pre" />
		    <include refid="condition_all_sql" />
	    ) s
	</select>
    <select id="countEnergyByCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultType="long" lang="velocity">
		<include refid="findFirstForWith"/> 
		SELECT count(*) co from(
			<include refid="select_energy_pre" />
		    <include refid="condition_all_sql" />
	    ) s
	</select>
	
	<select id="sumByCondition" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultType="double" lang="velocity">
		SELECT sum(t.INCREMENTAL) FROM NH_D_READ_DATA t
		<include refid="sumcondition_all_sql" />
	</select>
	<sql id="sumcondition_all_sql" lang="velocity">
	<![CDATA[
    	#where()
    		#set($_p = $_parameter.condition)
			1=1
			#if($_p.deviceId && $_p.deviceId!='')
			    #set($_deviceId = $_p.deviceId)
				and t.DEVICE_ID = @{_deviceId,jdbcType=NUMERIC}
			#end
			#if($_p.startTime && $_p.startTime!='')
				#set($_startTime=$_p.startTime)
				and t.COLLECT_TIME >=
				#if($_databaseId=='oracle')
					TO_DATE(@{_startTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24-mi-ss')
				#else
					@{_startTime,jdbcType=VARCHAR}
				#end
			#end
			#if($_p.endTime && $_p.endTime!='')
				#set($_endTime=$_p.endTime)
				and t.COLLECT_TIME <=
				#if($_databaseId=='oracle')
					TO_DATE(@{_endTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24-mi-ss')
				#else
					@{_endTime,jdbcType=VARCHAR}
				#end
			#end
    	#end
		]]>
     </sql>
	<select id="findByBitNo" parameterType="java.lang.String" resultMap="DeviceResultMap">
		select ID from DEVICE where EXTENDED1 = #{bitNo}
	</select>   
	
	<!-- 电表按条件查询记录 start-->
	<select id="findByConditionPower" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity">
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		select
        <include refid="column_device" />
        ,dpu.NAME USE_DEPARTMENT_NAME,sub.NAME SUB_NAME
        from DEVICE A 
        INNER JOIN DEVICE_CATEGORY DC
        ON A.CATEGORY_ID = DC.ID AND DC.CATEGORY_CODE = @{_parameter.condition.barcode, jdbcType=VARCHAR}
        LEFT JOIN HO_DEPARTMENT dpu
        ON A.USE_DEPARTMENT_ID = dpu.ID 
        LEFT JOIN NH_SUB_SYSTEM_INFO sub
        ON A.DISCIPINES_CODE = sub.STANDARD_CODE
		<include refid="condition_sql_power" />
		#order($_parameter.condition,"a.id")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	<select id="findByConditionPower" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultMap="DeviceResultMap" lang="velocity" databaseId="sqlserver">
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		select
        <include refid="column_device" />
        ,dpu.NAME USE_DEPARTMENT_NAME,sub.NAME SUB_NAME
        from 
        <include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
 		#order($_parameter.condition,"a.id")
 		<include refid="_PUBLIC_V.AS_ROW_NUM" />
        DEVICE A 
        INNER JOIN DEVICE_CATEGORY DC
        ON A.CATEGORY_ID = DC.ID AND DC.CATEGORY_CODE = @{_parameter.condition.barcode, jdbcType=VARCHAR}
        LEFT JOIN HO_DEPARTMENT dpu
        ON A.USE_DEPARTMENT_ID = dpu.ID 
        LEFT JOIN NH_SUB_SYSTEM_INFO sub
        ON A.DISCIPINES_CODE = sub.STANDARD_CODE
		<include refid="condition_sql_power" />
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	<select id="countByConditionPower" parameterType="com.supconit.nhgl.query.complex.entities.Complex" resultType="long" lang="velocity">
		SELECT
		COUNT(*)
		FROM
		dbo.DEVICE A
		INNER JOIN DEVICE_CATEGORY DC
        ON A.CATEGORY_ID = DC.ID AND DC.CATEGORY_CODE = @{_parameter.condition.barcode, jdbcType=VARCHAR}
		<include refid="condition_sql_power" />
	</select>
	<sql id="condition_sql_power" lang="velocity">
    <![CDATA[
    	#where()
    		#set($_p = $_parameter.condition)
			1=1
			#if($_p.deviceCode && $_p.deviceCode!='')
				#set($_deviceCode='%' +$_p.deviceCode+ '%')
				and A.DEVICE_CODE like @{_deviceCode,jdbcType=VARCHAR}
			#end
			#if($_p.deviceName && $_p.deviceName!='')
				#set($_deviceName='%' +$_p.deviceName+ '%')
				and A.DEVICE_NAME like @{_deviceName,jdbcType=VARCHAR}
			#end
			#if($_p.extended1 && $_p.extended1!='')
				#set($_extended1='%' +$_p.extended1+ '%')
				and A.EXTENDED1 like @{_extended1,jdbcType=VARCHAR}
			#end
			#if($_p.discipinesCode && $_p.discipinesCode!='')
				#set($_discipinesCode='%' +$_p.discipinesCode+ '%')
				and A.DISCIPINES_CODE like @{_discipinesCode,jdbcType=VARCHAR}
			#end
			#if($_p.lstLocationId && $_p.lstLocationId.size()>0)	
				#set($_lstLocationId =$_p.lstLocationId)
				and 
				#repeat( $_lstLocationId $ids "," " A.LOCATION_ID IN (" ")" )
				    @{ids,jdbcType=BIGINT}
				#end	
			#end
			#if($_p.lstDepartmentId && $_p.lstDepartmentId.size()>0)	
				#set($_lstDepartmentId =$_p.lstDepartmentId)
				and 
				#repeat( $_lstDepartmentId $ids "," " dpu.ID IN (" ")" )
				    @{ids,jdbcType=BIGINT}
				#end	
			#end
    	#end
		]]>	
	</sql>
	<!-- 电表按条件查询记录 end-->
	<!-- 更新记录-->
	<update id="update" parameterType="com.supconit.nhgl.query.complex.entities.Complex">
		UPDATE DEVICE
		<set>
        <if test="deviceCode != null">DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR},</if>
        <if test="deviceName != null">DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},</if>
        <if test="deviceSpec != null">DEVICE_SPEC = #{deviceSpec,jdbcType=VARCHAR},</if>
        <if test="categoryId != null">CATEGORY_ID = #{categoryId,jdbcType=NUMERIC},</if>
        <if test="locationId != null">LOCATION_ID = #{locationId,jdbcType=NUMERIC},</if>
        <if test="locationName != null">LOCATION_NAME = #{locationName,jdbcType=VARCHAR},</if>
        <if test="useDepartmentId != null">USE_DEPARTMENT_ID = #{useDepartmentId,jdbcType=NUMERIC},</if>
        <if test="manageDepartmentId != null">MANAGE_DEPARTMENT_ID = #{manageDepartmentId,jdbcType=NUMERIC},</if>
        <if test="managePersonIds != null">MANAGE_PERSON_IDS = #{managePersonIds,jdbcType=VARCHAR},</if>
        <if test="managePersonName != null">MANAGE_PERSON_NAME = #{managePersonName,jdbcType=VARCHAR},</if>
        <if test="supplierId != null">SUPPLIER_ID = #{supplierId,jdbcType=NUMERIC},</if>
        <if test="maitainCycle != null">MAITAIN_CYCLE = #{maitainCycle,jdbcType=NUMERIC},</if>
        <if test="timeAfterMaintain != null">TIME_AFTER_MAINTAIN = #{timeAfterMaintain,jdbcType=NUMERIC},</if>
        <if test="totalRunningTime != null">TOTAL_RUNNING_TIME = #{totalRunningTime,jdbcType=NUMERIC},</if>
        <if test="specialStatus != null">SPECIAL_STATUS = #{specialStatus,jdbcType=NUMERIC},</if>
        <if test="barcode != null">BARCODE = #{barcode,jdbcType=VARCHAR},</if>
        <if test="prduceDate != null">PRDUCE_DATE = #{prduceDate,jdbcType=TIMESTAMP},</if>
        <if test="assetsCode != null">ASSETS_CODE = #{assetsCode,jdbcType=VARCHAR},</if>
        <if test="enableDate != null">ENABLE_DATE = #{enableDate,jdbcType=TIMESTAMP},</if>
        <if test="status != null">STATUS = #{status,jdbcType=NUMERIC},</if>
        <if test="assetsCost != null">ASSETS_COST = #{assetsCost,jdbcType=NUMERIC},</if>
        <if test="assetsResidual != null">ASSETS_RESIDUAL = #{assetsResidual,jdbcType=NUMERIC},</if>
        <if test="depreciationAlgorithm != null">DEPRECIATION_ALGORITHM = #{depreciationAlgorithm,jdbcType=NUMERIC},</if>
        <if test="depreciationRate != null">DEPRECIATION_RATE = #{depreciationRate,jdbcType=NUMERIC},</if>
        <if test="depreciationYears != null">DEPRECIATION_YEARS = #{depreciationYears,jdbcType=NUMERIC},</if>
        <if test="mapDisplay != null">MAP_DISPLAY = #{mapDisplay,jdbcType=NUMERIC},</if>
        <if test="smallType != null">SMALL_TYPE = #{smallType,jdbcType=VARCHAR},</if>
        <if test="createId != null">CREATE_ID = #{createId,jdbcType=NUMERIC},</if>
        <if test="creator != null">CREATOR = #{creator,jdbcType=VARCHAR},</if>
        <if test="createDate != null">CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateId != null">UPDATE_ID = #{updateId,jdbcType=NUMERIC},</if>
        <if test="updator != null">UPDATOR = #{updator,jdbcType=VARCHAR},</if>
        <if test="updateDate != null">UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},</if>
        <if test="discipinesCode != null">DISCIPINES_CODE = #{discipinesCode,jdbcType=VARCHAR},</if>
        <if test="extended1 != null">EXTENDED1 = #{extended1,jdbcType=VARCHAR},</if>
		</set>
		WHERE ID = #{id}
	</update>
</mapper>