<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">
<mapper namespace="com.supconit.spare.entities.StockOut">
	<resultMap type="com.supconit.spare.entities.StockOut" id="StockOutResultMap">      
        <result property="id" column="ID" />
        <result property="stockOutCode" column="STOCK_OUT_CODE" />
        <result property="bpmKey" column="BPM_KEY" />
        <result property="processId" column="PROCESS_ID" />
        <result property="outTime" column="OUT_TIME" />
        <result property="warehouseId" column="WAREHOUSE_ID" />
        <result property="outPersonId" column="OUT_PERSON_ID" />
        <result property="outPersonName" column="OUT_PERSON_NAME" />
        <result property="outType" column="OUT_TYPE" />
        <result property="descripton" column="DESCRIPTON" />
        <result property="status" column="STATUS" />
        <result property="createId" column="CREATE_ID" />
        <result property="creator" column="CREATOR" />
        <result property="createDate" column="CREATE_DATE" />
        <result property="updateId" column="UPDATE_ID" />
        <result property="updator" column="UPDATOR" />
        <result property="updateDate" column="UPDATE_DATE" />
        
        <result property="warehouseName" column="warehouseName" />
        <result property="managerName" column="managerName" />
        <result property="statusName" column="statusName" />
        <collection 
        property="stockOutDetailList" javaType="com.supconit.spare.entities.StockOutDetail">
        <result property="id" column="d_ID" />
        <result property="stockOutId" column="d_STOCK_OUT_ID" />
        <result property="spareId" column="d_SPARE_ID" />
        <result property="qty" column="d_QTY" />
        <result property="availableQty" column="d_AVAILABLE_QTY" />
        <result property="prc" column="d_PRC" />
        <result property="money" column="d_MONEY" />
        <result property="remark" column="d_REMARK" />

        <result property="spareCode" column="d_SPARE_CODE" />
        <result property="spareName" column="d_SPARE_NAME" />
        <result property="spec" column="d_SPEC" />
        <result property="model" column="d_MODEL" />
        <result property="availableQty" column="d_AVAILABLE_QTY" />
        </collection>
	</resultMap>
	
	<sql id="TABLE_NAME" lang="velocity">STOCK_OUT</sql>
	<sql id="SEQUENCE" lang="velocity">SELECT SEQ_<include refid="TABLE_NAME"/>.NEXTVAL FROM DUAL</sql>
	
	<sql id="select_pre" lang="velocity">
		 select 
	        ID,
	        STOCK_OUT_CODE,
	        BPM_KEY,
	        PROCESS_ID,
	        OUT_TIME,
	        WAREHOUSE_ID,
	        OUT_PERSON_ID,
	        OUT_PERSON_NAME,
	        OUT_TYPE,
	        DESCRIPTON,
	        STATUS,
	        CREATE_ID,
	        CREATOR,
	        CREATE_DATE,
	        UPDATE_ID,
	        UPDATOR,
	        UPDATE_DATE		
		FROM
		    <include refid="TABLE_NAME"/> 
	</sql>
	
	<sql id="count_pre" lang="velocity">SELECT COUNT(*) FROM <include refid="TABLE_NAME"/> </sql>
	
	<sql id="condition_sql" lang="velocity">
		<![CDATA[
		#where()
			#set($_p = $_parameter.condition)
			#if($_p.id && $_p.id != '')
				#set($_id = $_p.id)
				AND ID LIKE @{_id}
			#end
			#if($_p.stockOutCode && $_p.stockOutCode != '')
				#set($_stockOutCode = '%' + $_p.stockOutCode + '%')
				AND STOCK_OUT_CODE LIKE @{_stockOutCode}
			#end
			#if($_p.bpmKey && $_p.bpmKey != '')
				#set($_bpmKey = '%' + $_p.bpmKey + '%')
				AND BPM_KEY LIKE @{_bpmKey}
			#end
			#if($_p.processId && $_p.processId != '')
				#set($_processId = $_p.processId)
				AND PROCESS_ID = @{_processId}
			#end
			#if($_p.warehouseId && $_p.warehouseId != '')
				#set($_warehouseId = $_p.warehouseId)
				AND WAREHOUSE_ID = @{_warehouseId}
			#end
			#if($_p.outType && $_p.outType != '')
				#set($_outType = $_p.outType)
				AND OUT_TYPE = @{_outType}
			#end
			
			#if($_p.outTime && $_p.outTime != '')
				#set($_outTime = $_p.outTime)
				AND OUT_TIME = @{_outTime}
			#end
			#if($_p.startOutTime && $_p.startOutTime != '')
				#set($_startOutTime = $_p.startOutTime)
				AND OUT_TIME >= @{_startOutTime}
			#end
			#if($_p.endOutTime && $_p.endOutTime != '')
				#set($_endOutTime = $_p.endOutTime)
				AND OUT_TIME <= @{_endOutTime}
			#end
			#if($_p.outPersonId && $_p.outPersonId != '')
				#set($_outPersonId = $_p.outPersonId)
				AND OUT_PERSON_ID = @{_outPersonId}
			#end
			
			#if($_p.outPersonName && $_p.outPersonName != '')
				#set($_outPersonName = '%' + $_p.outPersonName + '%')
				AND OUT_PERSON_NAME LIKE @{_outPersonName}
			#end
			#if($_p.status && $_p.status != '')
				#set($_status = $_p.status)
				AND STATUS = @{_status}
			#end
			
			
			
		
		#end
		]]>	
    </sql>
	
    <!-- 插入记录-->
    <sql id="insert_sql" lang="velocity">
        INSERT INTO <include refid="TABLE_NAME"/>(
	        #if($_databaseId == 'oracle') ID, #end
		    STOCK_OUT_CODE,
	        BPM_KEY,
	        PROCESS_ID,
	        OUT_TIME,
	        WAREHOUSE_ID,
	        OUT_PERSON_ID,
	        OUT_PERSON_NAME,
	        OUT_TYPE,
	        DESCRIPTON,
	        STATUS,
	        CREATE_ID,
	        CREATOR,
	        CREATE_DATE
	       
        ) VALUES (
        	#if($_databaseId == 'oracle') @{_parameter.id,jdbcType=NUMERIC}, #end
	        @{_parameter.stockOutCode,jdbcType=VARCHAR},
	        @{_parameter.bpmKey,jdbcType=VARCHAR},
	        @{_parameter.processId,jdbcType=NUMERIC},
	        @{_parameter.outTime,jdbcType=TIMESTAMP},
	        @{_parameter.warehouseId,jdbcType=NUMERIC},
	        @{_parameter.outPersonId,jdbcType=NUMERIC},
	        @{_parameter.outPersonName,jdbcType=VARCHAR},
	        @{_parameter.outType,jdbcType=NUMERIC},
	        @{_parameter.descripton,jdbcType=VARCHAR},
	        @{_parameter.status,jdbcType=NUMERIC},
	        @{_parameter.createId,jdbcType=NUMERIC},
	        @{_parameter.creator,jdbcType=VARCHAR},
	        @{_parameter.createDate,jdbcType=TIMESTAMP}
	        
        )
    </sql>
    
    <insert id="insert" parameterType="com.supconit.spare.entities.StockOut" keyProperty="id" keyColumn="ID" lang="velocity" databaseId="oracle">
		<selectKey keyProperty="id" resultType="long" order="BEFORE"><include refid="SEQUENCE" /></selectKey>
        <include refid="insert_sql" />
	</insert>
	<insert id="insert" parameterType="com.supconit.spare.entities.StockOut" keyProperty="id" keyColumn="ID" lang="velocity" databaseId="sqlserver">
        <include refid="insert_sql"/>
        <selectKey keyProperty="id" resultType="long" order="AFTER"><include refid="_PUBLIC_V.SELECT_KEY"/> </selectKey>
    </insert>
    
	<!-- 更新记录-->
	<update id="update"  parameterType="com.supconit.spare.entities.StockOut" lang="velocity">
		UPDATE <include refid="TABLE_NAME"/>
			#mset()
				<![CDATA[
			        #if($_parameter.stockOutCode && $_parameter.stockOutCode !='')STOCK_OUT_CODE = @{_parameter.stockOutCode,jdbcType=VARCHAR},#end
			        #if($_parameter.bpmKey && $_parameter.bpmKey !='')BPM_KEY = @{_parameter.bpmKey,jdbcType=VARCHAR},#end
			        #if($_parameter.processId)PROCESS_ID = @{_parameter.processId,jdbcType=NUMERIC},#end
			        #if($_parameter.warehouseId )WAREHOUSE_ID = @{_parameter.warehouseId,jdbcType=NUMERIC},#end
			        #if($_parameter.outType )OUT_TYPE = @{_parameter.outType,jdbcType=NUMERIC},#end
			        #if($_parameter.outTime )OUT_TIME = @{_parameter.outTime,jdbcType=TIMESTAMP},#end
			        #if($_parameter.outPersonId)OUT_PERSON_ID = @{_parameter.outPersonId,jdbcType=NUMERIC},#end
			        #if($_parameter.outPersonName)OUT_PERSON_NAME = @{_parameter.outPersonName,jdbcType=VARCHAR},#end
			        #if($_parameter.status)STATUS = @{_parameter.status,jdbcType=NUMERIC},#end
			        #if($_parameter.descripton)DESCRIPTON = @{_parameter.descripton,jdbcType=VARCHAR},#end
			        #if($_parameter.updateId)UPDATE_ID = @{_parameter.updateId,jdbcType=NUMERIC},#end
			        #if($_parameter.updator)UPDATOR = @{_parameter.updator,jdbcType=VARCHAR},#end
			        #if($_parameter.updateDate)UPDATE_DATE = @{_parameter.updateDate,jdbcType=DATE},#end
			       
			    
			    ]]>
			#end
		WHERE ID = @{_parameter.id,jdbcType=NUMERIC}
	</update>
		<update id="updateSelective"  parameterType="com.supconit.spare.entities.StockOut" lang="velocity">
		UPDATE <include refid="TABLE_NAME"/>
			#mset()
				<![CDATA[
			        #if($_parameter.stockOutCode && $_parameter.stockOutCode !='')STOCK_OUT_CODE = @{_parameter.stockOutCode,jdbcType=VARCHAR},#end
			        #if($_parameter.bpmKey && $_parameter.bpmKey !='')BPM_KEY = @{_parameter.bpmKey,jdbcType=VARCHAR},#end
			        #if($_parameter.processId)PROCESS_ID = @{_parameter.processId,jdbcType=NUMERIC},#end
			        #if($_parameter.warehouseId )WAREHOUSE_ID = @{_parameter.warehouseId,jdbcType=NUMERIC},#end
			        #if($_parameter.outType )OUT_TYPE = @{_parameter.outType,jdbcType=NUMERIC},#end
			        #if($_parameter.outTime )OUT_TIME = @{_parameter.outTime,jdbcType=TIMESTAMP},#end
			        #if($_parameter.outPersonId)OUT_PERSON_ID = @{_parameter.outPersonId,jdbcType=NUMERIC},#end
			        #if($_parameter.outPersonName)OUT_PERSON_NAME = @{_parameter.outPersonName,jdbcType=VARCHAR},#end
			        #if($_parameter.status)STATUS = @{_parameter.status,jdbcType=NUMERIC},#end
			        #if($_parameter.descripton)DESCRIPTON = @{_parameter.descripton,jdbcType=VARCHAR},#end
			        #if($_parameter.updateId)UPDATE_ID = @{_parameter.updateId,jdbcType=NUMERIC},#end
			        #if($_parameter.updator)UPDATOR = @{_parameter.updator,jdbcType=VARCHAR},#end
			        #if($_parameter.updateDate)UPDATE_DATE = @{_parameter.updateDate,jdbcType=DATE},#end
			        #if($_parameter.createId)CREATE_ID = @{_parameter.createId,jdbcType=NUMERIC},#end
			        #if($_parameter.creator)CREATOR = @{_parameter.creator,jdbcType=VARCHAR},#end
			        #if($_parameter.createDate)CREATE_DATE = @{_parameter.createDate,jdbcType=DATE},#end
			    
			    ]]>
			#end
		WHERE ID = @{_parameter.id,jdbcType=NUMERIC}
	</update>
	<!-- 按条件查询记录-->
    <select id="findByConditions" resultMap="StockOutResultMap" lang="velocity" databaseId="oracle">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		#set($_p = $_parameter.condition)
		select 
        t.ID,
        t.STOCK_OUT_CODE,
        t.BPM_KEY,
        t.PROCESS_ID,
        t.OUT_TIME,
        t.WAREHOUSE_ID,
        t.OUT_PERSON_ID,
        t.OUT_PERSON_NAME,
        t.OUT_TYPE,
        t.DESCRIPTON,
        t.STATUS,
        t.CREATE_ID,
        t.CREATOR,
        t.CREATE_DATE,
        t.UPDATE_ID,
        t.UPDATOR,
        t.UPDATE_DATE,
        t1.WAREHOUSE_NAME warehouseName,
        t1.MANAGER_NAME managerName,
        t2.ENUM_TEXT statusName		
		FROM
		STOCK_OUT t left join WAREHOUSE t1 on t.WAREHOUSE_ID=t1.id left join ENUM_DETAIL t2 on t.STATUS=t2.ENUM_VALUE and t2.TYPE_ID= @{_p.statusDictType,jdbcType=NUMERIC}
		<![CDATA[
		#where()
			
			#if($_p.id && $_p.id != '')
				#set($_id = $_p.id)
				AND ID LIKE @{_id}
			#end
			#if($_p.stockOutCode && $_p.stockOutCode != '')
				#set($_stockOutCode = '%' + $_p.stockOutCode + '%')
				AND STOCK_OUT_CODE LIKE @{_stockOutCode}
			#end
			#if($_p.bpmKey && $_p.bpmKey != '')
				#set($_bpmKey = '%' + $_p.bpmKey + '%')
				AND BPM_KEY LIKE @{_bpmKey}
			#end
			#if($_p.processId && $_p.processId != '')
				#set($_processId = $_p.processId)
				AND PROCESS_ID = @{_processId}
			#end
			#if($_p.warehouseId && $_p.warehouseId != '')
				#set($_warehouseId = $_p.warehouseId)
				AND WAREHOUSE_ID = @{_warehouseId}
			#end
			#if($_p.outType && $_p.outType != '')
				#set($_outType = $_p.outType)
				AND OUT_TYPE = @{_outType}
			#end
			
			#if($_p.outTime && $_p.outTime != '')
				#set($_outTime = $_p.outTime)
				AND OUT_TIME = @{_outTime}
			#end
			#if($_p.startOutTime && $_p.startOutTime != '')
				#set($_startOutTime = $_p.startOutTime)
				AND OUT_TIME >= @{_startOutTime}
			#end
			#if($_p.endOutTime && $_p.endOutTime != '')
				#set($_endOutTime = $_p.endOutTime)
				AND OUT_TIME <= @{_endOutTime}
			#end
			#if($_p.outPersonId && $_p.outPersonId != '')
				#set($_outPersonId = $_p.outPersonId)
				AND OUT_PERSON_ID = @{_outPersonId}
			#end
			
			#if($_p.outPersonName && $_p.outPersonName != '')
				#set($_outPersonName = '%' + $_p.outPersonName + '%')
				AND OUT_PERSON_NAME LIKE @{_outPersonName}
			#end
			#if($_p.status && $_p.status != '')
				#set($_status = $_p.status)
				AND STATUS = @{_status}
			#end
			
			
			
		
		#end
		]]>	
		#order($_parameter.condition,"t.ID DESC")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>
    
	<!-- 按条件查询记录-->
    <select id="findByConditions" parameterType="com.supconit.spare.entities.StockOut" resultMap="StockOutResultMap" lang="velocity" databaseId="sqlserver">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		 #set($_p = $_parameter.condition)
		select 
        t.ID,
        t.STOCK_OUT_CODE,
        t.BPM_KEY,
        t.PROCESS_ID,
        t.OUT_TIME,
        t.WAREHOUSE_ID,
        t.OUT_PERSON_ID,
        t.OUT_PERSON_NAME,
        t.OUT_TYPE,
        t.DESCRIPTON,
        t.STATUS,
        t.CREATE_ID,
        t.CREATOR,
        t.CREATE_DATE,
        t.UPDATE_ID,
        t.UPDATOR,
        t.UPDATE_DATE,
        t1.WAREHOUSE_NAME warehouseName,
        t1.MANAGER_NAME managerName,
        t2.ENUM_TEXT statusName		
		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
		#order($_parameter.condition,"t.ID DESC")
		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM
		STOCK_OUT t left join WAREHOUSE t1 on t.WAREHOUSE_ID=t1.id left join ENUM_DETAIL t2 on t.STATUS=t2.ENUM_VALUE and t2.TYPE_ID= @{_p.statusDictType,jdbcType=NUMERIC}
		<![CDATA[
		#where()
			#set($_p = $_parameter.condition)
			#if($_p.id && $_p.id != '')
				#set($_id = $_p.id)
				AND ID LIKE @{_id}
			#end
			#if($_p.stockOutCode && $_p.stockOutCode != '')
				#set($_stockOutCode = '%' + $_p.stockOutCode + '%')
				AND STOCK_OUT_CODE LIKE @{_stockOutCode}
			#end
			#if($_p.bpmKey && $_p.bpmKey != '')
				#set($_bpmKey = '%' + $_p.bpmKey + '%')
				AND BPM_KEY LIKE @{_bpmKey}
			#end
			#if($_p.processId && $_p.processId != '')
				#set($_processId = $_p.processId)
				AND PROCESS_ID = @{_processId}
			#end
			#if($_p.warehouseId && $_p.warehouseId != '')
				#set($_warehouseId = $_p.warehouseId)
				AND WAREHOUSE_ID = @{_warehouseId}
			#end
			#if($_p.outType && $_p.outType != '')
				#set($_outType = $_p.outType)
				AND OUT_TYPE = @{_outType}
			#end
			
			#if($_p.outTime && $_p.outTime != '')
				#set($_outTime = $_p.outTime)
				AND OUT_TIME = @{_outTime}
			#end
			#if($_p.startOutTime && $_p.startOutTime != '')
				#set($_startOutTime = $_p.startOutTime)
				AND OUT_TIME >= @{_startOutTime}
			#end
			#if($_p.endOutTime && $_p.endOutTime != '')
				#set($_endOutTime = $_p.endOutTime)
				AND OUT_TIME <= @{_endOutTime}
			#end
			#if($_p.outPersonId && $_p.outPersonId != '')
				#set($_outPersonId = $_p.outPersonId)
				AND OUT_PERSON_ID = @{_outPersonId}
			#end
			
			#if($_p.outPersonName && $_p.outPersonName != '')
				#set($_outPersonName = '%' + $_p.outPersonName + '%')
				AND OUT_PERSON_NAME LIKE @{_outPersonName}
			#end
			#if($_p.status && $_p.status != '')
				#set($_status = $_p.status)
				AND STATUS = @{_status}
			#end
			
			
			
		
		#end
		]]>	
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>

    <select id="countByConditions" resultType="long" lang="velocity">
        <include refid="count_pre"/>
        <include refid="condition_sql"/>
    </select>
    
    <select id="getById" resultMap="StockOutResultMap" parameterType="long" lang="velocity">
		<include refid="select_pre"/>
		WHERE ID = @{_parameter, jdbcType=NUMERIC}
	</select>
	<select id="findById" resultMap="StockOutResultMap" parameterType="long" lang="velocity">
		   select
		        a.ID,
		        a.STOCK_OUT_CODE,
		        a.BPM_KEY,
		        a.PROCESS_ID,
		        a.OUT_TIME,
		        a.WAREHOUSE_ID,
		        a.OUT_PERSON_ID,
		        a.OUT_PERSON_NAME,
		        a.OUT_TYPE,
		        a.DESCRIPTON,
		        a.STATUS,
		        a.CREATE_ID,
		        a.CREATOR,
		        a.CREATE_DATE,
		        a.UPDATE_ID,
		        a.UPDATOR,
		        a.UPDATE_DATE,
		        d.WAREHOUSE_NAME warehouseName,
		        d.MANAGER_NAME managerName,
		        b.ID d_ID,
		        b.STOCK_OUT_ID d_STOCK_OUT_ID,
		        b.SPARE_ID d_SPARE_ID,
		        b.QTY d_QTY,
		        b.AVAILABLE_QTY d_AVAILABLE_QTY,
		        b.PRC d_PRC,
		        b.MONEY d_MONEY,
		        b.REMARK  d_REMARK,
		        c.spare_Code  d_SPARE_CODE,
		        c.spare_Name  d_SPARE_NAME,
		        c.spec d_SPEC,
		        c.model d_MODEL
		        from STOCK_OUT a 
		left join STOCK_OUT_DETAIL b 
		        on a.ID = b.STOCK_OUT_ID LEFT JOIN SPARE c on c.id=b.SPARE_ID LEFT JOIN WAREHOUSE d on d.id=a.WAREHOUSE_ID
        WHERE a.ID = @{_parameter, jdbcType=NUMERIC}
	</select>
	<delete id="deleteById" parameterType="long" lang="velocity"> 
		DELETE FROM <include refid="TABLE_NAME"/> WHERE ID = @{_parameter.id,jdbcType=NUMERIC}
	</delete>
	<delete id="deleteByIds">
		DELETE FROM
		<include refid="TABLE_NAME" />
	    WHERE ID IN    
	        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
				#{id,jdbcType=NUMERIC}
			</foreach>
	</delete>
</mapper>