#parse("index/_header.vm")
<style>
	.ui-composer .ui-co-table .ui-input-choose{
		width:100%;
	}
</style>
</head>
<body style="padding-bottom:40px;">
	<form id="myform_id" class="ui-layout-center ui-dialog-form" method="post" action="$!{rc.contextPath}/spare/transfer/save" >
	     <input type="hidden" name="id" value="$!{transfer.id}">
		 <input type="hidden" name="_bpm_param" value="$!{_bpm_param}"/>
         <input type="hidden" name="_bpm_ts_id" value=""/>
         <input type="hidden" name="_bpm_enabled" value="false"/>
      <div class="ui-composer">
    <div class="ui-co-seg">
	   <table class="ui-co-table" width="100%" >
        <tr>
            <td  class="label input-num"><span class="ui-form-required">#if(!($!viewOnly)) * #end</span>调拨单号：</td>
            <td class="inputText">
				 <input readonly class="k-textbox readonly-normal" type="text"  name="transferCode" value="$!{transfer.transferCode}"  />
            </td>
            <td class="label input-num"><span class="ui-form-required">#if(!($!viewOnly)) * #end</span>调拨人：</td>
            <td class="inputText">
				#if(!$!viewOnly)<span class="k-textbox k-space-right" id="transferPersonNames">#end
					<input type="hidden"  id="transferPersonId" name="transferPersonId" value="$!{transfer.transferPersonId}" class="k-textbox"/>
					<input readonly emptyFunc="emptyInPerson" type="text" id="transferPersonName" name="transferPersonName" value="$!{transfer.transferPersonName}" class="k-textbox ui-input-choose" />	
				    #if(!$!viewOnly)<a href="#" class="k-icon k-i-search">&nbsp;</a>
				</span>#end
			</td>
       
            <td  class="label input-num"><span class="ui-form-required">#if(!($!viewOnly)) * #end</span>调拨日期：</td>
            <td class="inputText">
				 <input type="text" class="k-textbox" name="transferTime"  id="transferTime"  value="#date_format($!transfer.transferTime,'yyyy-MM-dd HH:mm:ss')" />
			</td>
            
        </tr>
        <tr>
			<td class="label input-num"><span class="ui-form-required">#if(!($!viewOnly)) * #end</span>调入仓库：</td>
			<td class="inputText">
			  <select class="k-textbox" name="inWarehouseId">
		    	<option value="">--请选择--</option>
		    	${inWarehouseOptions}
		    </select>	
			</td>
            <td class="label input-num"><span class="ui-form-required">#if(!($!viewOnly)) * #end</span>调出仓库：</td>
			<td class="inputText">
				<select class="k-textbox" name="outWarehouseId" id="outWarehouseId">
    				<option value="">--请选择--</option>
    				${outWarehouseOptions}
    			</select>
			</td>
        </tr>
        <tr>
            <td class="label input-num">调拨摘要：</td>
            <td colspan="3" class="inputText">
				<textarea  id="textAreaId" class="k-textbox k-textarea" type="text" name="descripton">$!{transfer.descripton}</textarea>
			</td>
        </tr>
    </table>
	<div class="ui-segline"></div>
	<div id="stock">
	<table  class="ui-table " width="100%" id="stock">
        <thead>
        <tr>
            <th class="k-header input-equilong">序号</th>
            <th class="k-header input-text">备件名称</th>
			<th class="k-header input-text">备件编码</th>
			<th class="k-header input-text">备件规格</th>
			<th class="k-header input-text">备件型号</th>
			<th class="k-header input-num">库存数量</th>
			<th class="k-header input-num">调拨数量</th>
			#if(!($!viewOnly))
            	<td class="k-header"><a href="javascript:void(0)" id="addRow" title="添加行"><i class="fa fa-plus-circle"></i></a></td>
            #end
        </tr>
        </thead>
        <tbody>
			#set($index=0)
			#set($sy = 0)
		    #foreach($list in $!transfer.transferDetailList)
				
				#set($sy = $velocityCount)
			 <tr>
                <td class="input-equilong">$velocityCount</td>
                <td >
					<span class="k-textbox k-space-right" #if(!($!viewOnly)) onclick="choose('$index');" #end>
				        <input type="hidden" name="transferDetailList[$index].spareId" id="IdspareName-$index" value="$!{list.spareId}">
						<input readonly  type="text" name="transferDetailList[$index].spareName" id="spareName-$index" value="$!{list.spareName}" class="k-textbox ui-input-choose input-text" />
    				    <a href="#" class="k-icon k-i-search">&nbsp;</a>
    				</span>
                </td>
                <td><input readonly type="text" name="transferDetailList[$index].spareCode" id="spareCodespareName-$index" value="$!{list.spareCode}"  class="k-textbox input-text"/></td>
                <td><input readonly type="text" name="transferDetailList[$index].spec" id="specspareName-$index" value="$!{list.spec}" class="k-textbox input-text"/></td>
                <td><input readonly type="text" name="transferDetailList[$index].model" id="modelspareName-$index" value="$!{list.model}"  class="k-textbox input-text"/></td>
                <td><input type="text" name="transferDetailList[$index].availableQty" id="availableQtyspareName-$index" value="$!{list.availableQty}" class="k-textbox input-num fNum2" #if(!($!viewOnly)) onblur="vaild1();" #end/></td>
                <td><input type="text" name="transferDetailList[$index].quantity" value="$!{list.quantity}"  id="quantityspareName-$index" class="k-textbox input-num fNum2" #if(!($!viewOnly)) onblur="count();" #end/></td>
                #if(!($!viewOnly))
                	<td><a onclick="delRow(this);"  class="del"  href="javascript:void(0);" title="删除"><i class="fa fa-close"></i></a></td>
                #end
            </tr>
			#set($index = $index+1)
		 #end	
		 #if($!transfer.transferDetailList.size()>= 5)
		 #else
		 	#set($sy=$sy+1)
			#foreach($j in [$sy..5])
			  <tr>
                <td class="input-equilong">$j</td>
                <td >
					<span class="k-textbox k-space-right" #if(!($!viewOnly)) onclick="choose('$j');" #end>
			            <input type="hidden" name="transferDetailList[$j].spareId"  id="IdspareName-$j" value="$!{list.spareId}">
						<input readonly   type="text" name="transferDetailList[$j].spareName" id="spareName-$j" value="$!{list.spareName}" class="k-textbox ui-input-choose input-text" />
    				    <a href="#" class="k-icon k-i-search">&nbsp;</a>
    				</span>
                </td>
                <td><input readonly type="text" name="transferDetailList[$j].spareCode" id="spareCodespareName-$j" value="$!{list.spareCode}"  class="k-textbox input-text"/></td>
                <td><input readonly type="text" name="transferDetailList[$j].spec" id="specspareName-$j" value="$!{list.spec}" class="k-textbox input-text"/></td>
                <td><input readonly type="text" name="transferDetailList[$j].model" id="modelspareName-$j" value="$!{list.model}"  class="k-textbox input-text"/></td>
                <td><input type="text" name="transferDetailList[$j].availableQty" id="availableQtyspareName-$j" value="$!{list.prc}"  class="k-textbox input-num fNum2" #if(!($!viewOnly)) onblur="vaild1();" #end;"/></td>
                <td><input type="text" name="transferDetailList[$j].quantity" value="$!{list.quantity}" id="quantityspareName-$j" class="k-textbox input-num fNum2" #if(!($!viewOnly)) onblur="count();" #end/></td>
                #if(!($!viewOnly))
                	<td><a onclick="delRow(this);" class="del" href="javascript:void(0);" title="删除"><i class="fa fa-close"></i></a></td>
                #end
            </tr>
			#end
		 #end	
		  <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
			<td></td>
            <td><input readonly id='sumQty' type="text" name="sumQty"   class="k-textbox input-num"/></td>
            #if(!($!viewOnly))
            	<td></td>
            #end
        </tr>
        </tbody>
    	</table>
		</div>
		</div>
	  #if($!transfer.processInstanceId!='')
		<div class="ui-co-seg">
			#parse("bpm/bpm_audit.vm")
		</div>
		#end
	##默认来存储已经存在的行
	<input type="hidden" value="$!transfer.transferDetailList.size()" id="number" />
	<input type="hidden" value="" id="d" />
	<div class="actions">
    	 #foreach($ts in $!_bpm_transitions)
        	#set($delete=false)
            <button type="submit" class="k-primary hc_btn" id="st" onclick="doSubmit('processDone','$!ts.id',true)">
           	#if($!ts.id.contains("reject"))
           	<i class="fa fa-reply"></i>
			#else
            <i class="fa fa-upload"></i>
			#end 
			#if($!ts.id=="submit_1"&&$!{transfer.id})
				#set($delete=true)
			#end
            $!ts.name</button>
        #end
        <button class="k-primary hc_btn" type="submit" id="bt" onclick="doSubmit('processDone');"><i class="fa fa-save"></i>保存</button>
        #if($!delete)
            <button class="k-primary hc_btn" type="submit" onclick="doSubmit('deleteProcessInstance');"><i class="fa fa-remove"></i>删除</button>
        #end
        <a class="k-primary hc_btn" onclick="window.location.href='$!{rc.contextPath}/spare/transfer/go';"><i class="fa fa-reply"></i>返回</a>
		 #if($!transfer.processInstanceId!='')
                <ul class="ui-action">
                    <li class="ui-action-item"><a href="#"><i class="iconfont icon-list-alt"></i> </a> </li>
                    <li class="ui-action-item"><a href="#" onclick="showFlowChart('$!transfer.processInstanceId',800,600);"><i class="iconfont icon-sitemap"></i> </a> </li>
                </ul>
        #end
	</div>

	</form>

	<script type="text/javascript">
	
	$("#transferPersonNames").click(function() {
			if("$!viewOnly" != "true")
       		quick_dialog("selectDiloag", "选择", "$!{rc.contextPath}/choose/personPage?type=1&txtId=transferPersonId&txtName=transferPersonName",1135, 540);
		});	
	
	function choose(o){
		var nameId = "spareName-"+o;
		var warehouseId=$('#outWarehouseId').val();
	 	quick_dialog("selectDiloag", "备件选择", "$!{rc.contextPath}/spare/stock/lookup?warehouseId="+warehouseId+"&txtName="+nameId, 950, 400);
	 
	 }
	
	function doSubmit(type,flowId,bpmEnabled) {
        if(flowId){
	        $("input[name='_bpm_ts_id']").val(flowId);
        }
        if(bpmEnabled){
	        $("input[name='_bpm_enabled']").val(bpmEnabled);
			$("#d").val(1);
        }else{
			$("#d").val(0);
		}
        var ctn = "$!rc.contextPath/spare/transfer/"+type;
        $("#myform_id").attr("action", ctn);
        return true;
    }
	
	##验证库存量是否为数字
	function vaild1()
	{
		var availableQty = $("input[name$='.availableQty']");
		$.each(availableQty,function(i,item){
			if("" == $(item).val() || !isZzs($(item).val()))
			{
				$(item).val("");
			}
		});
	}
	
	##计算合计
	function count(){
		var qty = $("input[name$='.quantity']");
		var account = 0;
		$.each(qty,function(i,item){
			if("" != $(item).val() && isZzs($(item).val()))
			{
				account+=Number($(item).val());
			}
		});
		$("#sumQty").val(account);
	
	}
	##删除行
	function delRow(o){
		var num = $("#number").val();
		if(Number(num)==0)
    		 num = 5;
		if(Number(num)!=1){	 
        	var tr = $(o).parent("td").parent("tr");
			var vs = tr.nextAll();
			num = Number(tr.find("td:first").html());
			tr.remove();
			var next = num+1;
			$.each(vs,function(i,item){
				var str = $(item)[0].innerHTML;
				var exp = new RegExp("\\["+next+"\\]","g");
    			var exps = new RegExp("-"+next,"g");
    			var html = str.replace(exp,"["+num+"]");
    			html = html.replace(">"+next+"<",">"+num+"<").replace(exps,"-"+num);
				num++;next++;
				$(item).html(html);
				
			
			})
        	$("#number").val(num-2);
			count();
		}
	
	}
	$(document).ready(function(){
		 _iframe_layout = $('body').layout({
              defaults: {
                resizable: true,
                closable: false,
                spacing_open: 5
              }
            });
		 #if(!$!viewOnly)
			commonSingleDate("transferTime","yyyy-MM-dd HH:mm:ss","zh-CN");
		#end
		/*$("#transferTime").hcDateTimePicker({
       	 	format: "yyyy-MM-dd HH:mm:ss",
			culture: "zh-CN"
    	});	*/
		##进入页面就进行计算
		count();
		##添加删除行	
		$("#addRow").click(function(){
			var num = $("#number").val();
			if(Number(num)==0)num=5;
			var next = Number(num)+1;
			var $tr = $("#stock").find("tr")[num];
			var exp = new RegExp("\\["+num+"\\]","g");
			var exps = new RegExp("-"+num,"g");
			var cos  = new RegExp("\\'"+num+"\\'","g");
			var html = "<tr>"+$($tr).html().replace(exp,"["+next+"]")+"</tr>";
			html = html.replace(">"+num+"<",">"+next+"<").replace(exps,"-"+next).replace(cos,"'"+next+"'");
			$("#number").val(next);
			$($tr).after(html);
			$("#stock input[name='transferDetailList["+next+"].spareId']").val("");
			$("#stock input[name='transferDetailList["+next+"].spareName']").val("");
			$("#stock input[name='transferDetailList["+next+"].spareCode']").val("");
			$("#stock input[name='transferDetailList["+next+"].spec']").val("");
			$("#stock input[name='transferDetailList["+next+"].model']").val("");
			$("#stock input[name='transferDetailList["+next+"].availableQty']").val("");
			$("#stock input[name='transferDetailList["+next+"].quantity']").val("");
		})
		
        $("#myform_id").validator({
            fields:{
				transferCode: "调拨单号:required; length[~20]",
    		    transferTime: "调拨日期:required;",
    		    transferPersonName: "调拨人:required;",
    		    outWarehouseId: "调出仓库: required;",
    		    inWarehouseId: "调入仓库: required;",
    		    descripton: "调拨摘要: length[~500]"
            },
            valid:function(form){
				var id=$("#d").val(); 
				var bt = "#st";
				if('0'==id)bt = '#bt';
                form_btn_submit($(bt),form,function(res){
                    validateCallback(res);
					
                });
            }
        });
  });
  
   $(document).ready(function(){
        #if($!viewOnly)
			//fNumPage();
        	#if(!$!_bpm_transitions)
            $('[type=submit]').hide();
            #end
            $(':input:not(#_bpm_comment)').attr('readonly',true);
            $('select').attr('disabled',true);
            $("input[type=text]").unbind( "click" ).attr('onclick','');
            $('#tableId tr').each(function(i,tr){
                $('th:last',tr).remove();
                $('td:last',tr).remove();
            });
			$("#addRow").unbind( "click" ).attr('onclick','');
			$(".del").unbind( "click" ).attr('onclick','');
			/*var datetimepicker = $("#transferTime").data("kendoDateTimePicker");
			datetimepicker.enable(false);*/
        #end
		
    });
  
  </script>
  #parse("index/_footer.vm")  