#parse("index/_header.vm")
</head>
<body>
<div class="ui-layout-north" style="border-right:solid 1px #e1e5e6;" id="searchLayout">
  <form class="ui-form" id='queryForm'>	
	<input type="hidden" name="type" value="$!{type}">
        <table width="100%">
          <tr>
	         <td >
	           <table class="ui-search-table" >
                  <tr>
                  <td class="ui-search-name first" style="width: 100px;">统计时间：</td>
                  <td class="ui-search-c" >
					<input id="beginDate_id" type="text" name="visitYear" value="$!{visitYear}" />
                  </td>
            </tr>
	           </table>
	         </td>
            <td width="150" valign="top" style="padding-top:4px;">
              <button type="submit" class="hc_btn k-primary" id="queryBtn"><i class="fa fa-search"></i>查询</button>
            </td>
            <td></td>
          </tr>
        </table>
    </form>
</div>

  <div class="ui-layout-center" id="subMain">
    <div class="ui-layout-north">
    	<div id="graphic_rate_id" style="height:300px">
    	</div>
    </div>
    <div class="ui-layout-center">
  	  <div id="grid" style="display:none;"></div> 
    </div>
  </div>
#parse("index/_footer.vm")  
<script src="$!rc.contextPath/main_static/custom/js/echarts/echarts.js"></script>

<script type="text/javascript">

var myRateChart = null;
var flag = 0;

var _iframe_layout, _left_layout, _inner_layout;
$(document).ready(function(){
_iframe_layout = $('body').layout({
  defaults: {
    resizable: false,
    closable: false,
    spacing_open: 5
  },
  north: {
    size: 0.1
  }
});

_inner_layout = $("#subMain").layout({
    defaults: {
      resizable: false,
      closable: false,
      spacing_open: 0
    },
    north:{
    	size: 0.6
    },
    center: {
        onresize_end: function () {
            var grid = $("#grid").data("kendoGrid");
            grid.resize();
        }
    }
  });
  
  
//列表
quick_datagrid("#grid", "#queryForm", "$!rc.contextPath/visitor/report/list?r=" + new Date(), [{
          field: "id",
          hidden: true
      }
	  ], 
  {
      sortable: {
          mode: "multiple",
          allowUnsort: true
      },
      pageable:false, 
      showNumber:false,resizable:true
      
  },{
	  change:generateRateChart
  }, {
      serverSorting: true
  });
  
    //加载时间控件
    $("#beginDate_id").hcDatePicker({
    	 		start: "decade",
    	 		depth: "decade",
    	        format: "yyyy",
    	        culture: "zh-CN"
    	     });
    });


//加载chart
function loadEchart(option){
        require.config({
            packages: [
                {
                    name: 'echarts',
                    location: '$!rc.contextPath/main_static/custom/js/echarts',
                    main: 'echarts'
                }
            ]
        });
        require(
                [
                    'echarts',
                    'echarts/chart/line',
                    'echarts/chart/bar'
                ],
                function(ec) {
                	
                    myRateChart = ec.init(document.getElementById('graphic_rate_id'));
                    myRateChart.setOption(option);
                }
        )
    }

    function generateRateChart(grid,g) {

        var visitMonth = new Array();
        var visitorNum = new Array();

        var data = grid.items;
        $.each(data,function(index,o){
            visitorNum.push(o.visitorNum);
            visitMonth.push(o.visitMonth);
        });

        option = {
            title : {
                text: '访客人数',
                subtext: '月份',
				x: 'center'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['访客人数'],
				x: 'right'
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : visitMonth
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} 次'
                    }
                }
            ],
            series : [
                {
                    name:'访客人数',
                    type:'line',
                    data:visitorNum,
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
                    

        
        if(myRateChart==null){
            if(data.length!=0)
            	loadEchart(option);//datagrid查询结果为空
        }else{
            if(data.length!=0){
				myRateChart.clear();
                myRateChart.setOption(option);
            }else{
                myRateChart.clear();
            }
        }
    }
	
</script>
</body>
</html>