<div class="ui-layout-center" id="plat_org_person_select_container">
	<div class="ui-layout-center">
		<table id="plat_org_person_select_datalist" class="fn-hide"></table>
	</div>
	<div class="ui-layout-north">
		<form id="plat_org_person_select_search_form" class="ui-form ui-form-search fn-clear" style="margin-top:5px;margin-right:5px;">
			<input type="hidden" name="condition.departments[0].id" value="" />
			<input type="hidden" name="condition.positions[0].id" value="" />
			<div class="ui-form-search-left" style="width:530px">
				<div class="ui-form-item" style="width:260px">
					<label class="ui-label" style="width:80px;">人员编码：</label>
		    		<input class="ui-input" style="width:150px;" type="text" name="condition.code" value="$!{condition.code}" />
		    	</div>
		    	<div class="ui-form-item" style="width:260px">
					<label class="ui-label" style="width:80px;">人员名称：</label>
		    		<input class="ui-input" style="width:150px;" type="text" name="condition.name" value="$!{condition.name}" />
		    	</div>
	    	</div>
	    	<div class="ui-form-search-right" style="width:80px">
				<button type="submit" class="btn btn-primary"><i class="iconfont icon-search"></i> 查询</button>
			</div>
		</form>
	</div>
</div>
<div class="ui-layout-west">
	<div id="plat_org_person_select_box" class="ui-box">
      <div class="ui-box-head">部门岗位簇</div>
      <div class="ui-box-container">
          <ul id="plat_org_person_select_tree" class="ztree"></ul>
      </div>
    </div>
</div>
<script type="text/javascript">
	var plat_org_person_select_grid, plat_org_person_select_tree;
	$(function(){
		$._plat_org_person_select_main_layout = $("#plat_org_person_select_container").parent().layout({
			defaults : {
				resizable : false,
				closable : false,
				spacing_open : 5
			},
			west : {
				size : 250,
				resizable : true,
				resizerTip : "移动改变大小",
				closable : true,
				togglerTip_open : "隐藏",
				togglerTip_closed : "打开"
			},
			onresize_end : function(){
				$("#plat_org_person_select_box").box("resize");
			}
		});
		
		_content_layouts.push($._plat_org_person_select_main_layout);
		$._plat_org_person_select_inner_layout = $("#plat_org_person_select_container").layout({
			defaults : {
				resizable : false,
				closable : false,
				spacing_open : 5
			},
			onresize_end : function(){
				$("#plat_org_person_select_datalist").datagridResize({width:$._plat_org_person_select_inner_layout.state.center.innerWidth,height:$._plat_org_person_select_inner_layout.state.center.innerHeight});
			}
		});
		_content_layouts.push($._plat_org_person_select_inner_layout);
		
		$("#plat_org_person_select_box").box({
			width : function(){return $._plat_org_person_select_main_layout.state.west.innerWidth;},
			height : function(){return $._plat_org_person_select_main_layout.state.west.innerHeight;}
		});
		
		## 菜单树
		var setting = {
			view : {
				fontCss : function(treeId, treeNode){
					if(treeNode.isPosition == true){
						return {color : "blue"};
					}
				}
			},
			callback: {
				onClick : function(event, treeId, treeNode) {
					if(treeNode.code.indexOf('_POST_')==0){
						$("#plat_org_person_select_search_form input[name='condition.departments[0].id']").val("");
						$("#plat_org_person_select_search_form input[name='condition.positions[0].id']").val(treeNode.id);
					} else{
						$("#plat_org_person_select_search_form input[name='condition.positions[0].id']").val("");
						$("#plat_org_person_select_search_form input[name='condition.departments[0].id']").val(treeNode.id);
					}
					plat_org_person_select_grid.flexReload();
				}
			}
		};
		var nodes = $!{departmentJson};
		
		var resc_nodes = function(n){
			if(n){
				if(n.code.indexOf("_POST_")==0){
					n.name = "[岗位]" + n.name;
					n.isPosition = true;
				}
				if(n.children && n.children.length > 0){
					for(var i = 0 ; i < n.children.length ; i++){
						resc_nodes(n.children[i]);
					}
				}
			}else return;
		};
		resc_nodes(nodes);
		
		plat_org_person_select_tree = $.fn.zTree.init($("#plat_org_person_select_tree"), setting, nodes);
		plat_org_person_select_tree.expandAll(true);
		
		
		## datagrid
		plat_org_person_select_grid = $("#plat_org_person_select_datalist").datagrid({
			url: '$!{rc.contextPath}/platform/organization/person/select',
			dataType: "json",
			method: "POST",
			singleSelected : true,
			striped : false,
			height:  $._plat_org_person_select_inner_layout.center.state.innerHeight,
			width :  $._plat_org_person_select_inner_layout.center.state.innerWidth,
			showOrderNumber : true,
			useRp : true,
			usepager: true,
    		rpOptions: [10, 20, 40, 60],
    		pageSize: 20,
    		searchFormId : "plat_org_person_select_search_form",
    		searchCallback : function(datagrid){
    		},
    		#if($muilt)
    		showCheckbox:true,
    		#end
    		#if(!$muilt)
    		onDoubleClick : function(tr,grid){
    			var row = $(tr).data("row");
    			var func = $("#_select_person").data("_dbl_click_func");
    			if(func && $.isFunction(func)){
    				func(row);
    			}
    		},
    		#end
    		onSuccess : function(table,grid){
    			if(!grid)return;
    			var rows = grid.getAllRows();
    			if(!rows || rows.length == 0) return;
				var ids = "";    			
				$.each(rows,function(idx,it){
					ids += it.id + ",";
				});
				$.post("$!{rc.contextPath}/platform/organization/department/find-by-persons?personIds=" + ids,function(res){
					if(!res){return;}
					$("table tr",table).each(function(){
						var n = #if($muilt)5#{else}4#{end};
						$("td:eq("+n+")",this).removeClass("ui-loading");
						var r = res[$(this).attr("id").substring(3)];
						if(r) {
							var a = '';
							var rr = r[0].split(",");
							var ids = r[1].split(",");
							for(var i = 0 ; i < rr.length ; i++){
								a+='<a href="javascript:void(0)" onclick=\'$.dialogs.normalDialog("plat_org_department_view_dlg", "$!{rc.contextPath}/platform/organization/department/view?id='+ids[i]+'", function(dlg,btn){return false;},680,220,"查看部门信息",null,false,"关闭");\'>' + rr[i] + '</a>，';
							}
							if(a) a = a.substring(0,a.length - 1);
							$("td:eq("+n+") > div",this).html(a);
						}
					});
				});
				$.post("$!{rc.contextPath}/platform/organization/position/find-by-persons?personIds=" + ids,function(res){
					if(!res){return;}
					$("table tr",table).each(function(){
						var n = #if($muilt)6#{else}5#{end};
						$("td:eq("+n+")",this).removeClass("ui-loading");
						var r = res[$(this).attr("id").substring(3)];
						if(r) {
							var a = '';
							var rr = r[0].split(",");
							var ids = r[1].split(",");
							for(var i = 0 ; i < rr.length ; i++){
								a+='<a href="javascript:void(0)" onclick=\'$.dialogs.normalDialog("plat_org_position_view_dlg", "$!{rc.contextPath}/platform/organization/position/view?position.id='+ids[i]+'", function(dlg,btn){return false;},680,200,"查看岗位信息",null,false,"关闭");\'>' + rr[i] + '</a>，';
							}
							if(a) a = a.substring(0,a.length - 1);
							$("td:eq("+n+") > div",this).html(a);
						}
					});
				});
    		},
			colModel : [
				{"display":"序号"},
				#if($muilt)
				{"display": "checkbox",width:30,checkedCallback:function(row){
					var selected = [$!{selected}];
					if(selected.indexOf(row.id) >= 0) return true;
					return false;
				}},
				#end
				{"name":"id","hide":true},
				{"display":"人员编码","name":"code","sortable":true,"orderField":"CODE",width:60},
				{"display":"人员名称","name":"name","sortable":true,"orderField":"NAME",width:60},
				{"display":"所属部门","customClass":"ui-loading",width:160},
				{"display":"所属岗位","customClass":"ui-loading",width:160}
			],
			buttons : [
			]
		});
	});
</script>