#parse("index/_header.vm")
</head>
<body>
  <div class="ui-layout-west" style="border-right:solid 1px #e1e5e6;" id="leftTreeWrap">
			<div class="ui-layout-north">
				<div class="k-header k-grid-toolbar" style="padding-left:10px;">备件类别</div>
			</div>
      <div class="ui-layout-center">
  		  <ul id="geoAreaTree" class="ztree"></ul>
      </div>
  </div>

  <div class="ui-layout-center" id="subMain">
    <div class="ui-layout-north">
    	<form class="ui-form" id='queryForm'>
    		<div class="ui-form-group" style="display:none" id='selectBlock2'>
    			<div class="ui-form-item ui-form-item-block">
    			  <label class="ui-label">您已选择：</label>
    				  <span class="ui-form-pick">
    					  <input id="parentId" type="hidden" name="parentId" value="$!{spareCategory.parentId}">
    					  <strong>备件类别：</strong><em id='treeNodeText'></em><i class="iconfont icon-remove-sign"></i>
    				  </span>
    			</div>
    		</div>	
        <table width="100%">
          <tr>
            <td>
              <table class="ui-search-table">
                <tr>
                  <td class="ui-search-name first">类别编码：</td>
                  <td class="ui-search-c">
                      <input class="k-textbox" type="text" name="categoryCode" value="$!{spareCategory.categoryCode}">
                  </td>
                  <td class="ui-search-name">类别名称：</td>
                  <td class="ui-search-c">
                     <input class="k-textbox" type="text" name="categoryName" value="$!{spareCategory.categoryName}">
                  </td>
                </tr>
				
              </table>
            </td>
            <td width="150" valign="top" style="padding-top:4px;">
              <button type="submit" class="hc_btn k-primary" id="queryBtn"><i class="fa fa-search"></i>查询</button>
              <button type="reset" class="hc_btn" id="resetBtn" onclick="cancelLeftTreeSelected();"><i class="fa fa-refresh"></i>重置</button>
            </td>
            <td></td>
          </tr>
        </table>
    	</form>
    </div>
  	<div class="ui-layout-center">
  	  <div id="grid"></div> 
    </div>
  </div>
   #parse("index/_footer.vm") 
<script type="text/javascript">
  var _iframe_layout, _left_layout, _inner_layout;
	$(document).ready(function(){
    _iframe_layout = $('body').layout({
      defaults: {
        resizable: false,
        closable: false,
        spacing_open: 5
      },
      west: {
        size: 0.18
      }
    });

    _left_layout = $("#leftTreeWrap").layout({
      defaults: {
        resizable: false,
        closable: false,
        spacing_open: 0
      }
    });

    _inner_layout = $("#subMain").layout({
      defaults: {
        resizable: false,
        closable: false,
        spacing_open: 0
      },
      center: {
          onresize_end: function () {
              var grid = $("#grid").data("kendoGrid");
              grid.resize();
          }
      }
    })

    $('#resetBtn').click(function(){
	  $('#parentId').val('');
      $("#queryForm :text").val('');  
    });

		$('.iconfont','.ui-form-pick').each(function(){
      $(this).click(function(){
      	$('#parentId').val('');
      	$('#selectBlock').hide();
        //$(this).parent().remove();
      })
    })
	
		//列表
    quick_datagrid("#grid", "#queryForm", "$!{rc.contextPath}/spare/spareCategory/list?_t="+new Date().getTime(), [{
              field: "id",
              hidden: true
          }, {
              field: "categoryCode",
              title: "类别编码",
              headerAttributes: {"class": "k-grid-text"},
              attributes: {"class": "k-grid-text"},
              sortable: false,
              template:"<a href=\"javascript:void(0)\" title=\"查看#: data.categoryCode #的详细信息\" onclick=\"quick_dialog('category_add_dlg','查看#:data.categoryCode #的信息','$!{rc.contextPath}/spare/spareCategory/edit?viewOnly=true&id=#: data.id #',400,250)\">#: data.categoryCode #</a>"
          }, {
              field: "categoryName",
              title: "类别名称",
              headerAttributes: {"class": "k-grid-text"},
              #*attributes: {"class": "k-grid-text"},*#
          	  attributes: {     
  		  		 title:"#: data.categoryName==null? '':data.categoryName #",
  				 "class": "k-grid-text k-grid-nowrap"
		  	  },
              sortable: false
          }, {
              field: "remark",
              sortable: false,
              headerAttributes: {"class": "k-grid-text"},
              #*attributes: {"class": "k-grid-text"},*#
              attributes: {     
  				 title:"#: data.remark #",
  				 "class": "k-grid-text k-grid-nowrap",
			   },
              title: "备注"
          }], 
      {
          sortable: {
              mode: "multiple",
              allowUnsort: true
          },resizable:true
      }, {
          serverSorting: true
      }, [
      #kendo_datagrid_btns("BJGL_LBGL")#end
      ]);
		
    });

    /* zTree */
    var setting = {
    	data: {
    		simpleData: {enable: true}
          },
          callback: {
    			onClick: function(event, treeId, treeNode) {
    				 $('#parentId').val(treeNode.id);
    			 	 $('#treeNodeText').text(treeNode.name);
    			 	 $('#selectBlock').show();
    				 $('#queryBtn').click();
    			}
    		}
    };
  	var zNodes = [];  
  	zNodes.push({id:"0", pId:"-1", name:"备件类别簇",open:true});   
  	#foreach($!{treeNode} in $!{treeDatas})
      	zNodes.push({id:$!{treeNode.id}, pId:$!{treeNode.parentId}, name:"$!{treeNode.categoryName}"});      
  	#end

  	$(document).ready(function(){
  		$.fn.zTree.init($("#geoAreaTree"), setting,zNodes);//.expandAll(true)
  	});
	
	function cancelLeftTreeSelected(){
		$.fn.zTree.init($("#geoAreaTree"), setting,zNodes);//.expandAll(true)
	}
</script>
</body>
</html>