/*! define hcstyle/hcstyle/1.0.0/hcstyle-debug.css */
.clearfix{*zoom:1}.clearfix:before,.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.clearfix:after{clear:both}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
html{color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;color:#808080}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
body,button,input,select,textarea{font-family:tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;font-size:14px}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a:link{color:#08c}
a:hover{color:#08c;text-decoration:underline}
ins,a{text-decoration:none}
.fn-clear{*zoom:1}.fn-clear:before,.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.fn-clear:after{clear:both}
body .fn-hide{display:none}
.fn-left,.fn-right{display:inline}
.fn-left{float:left}
.fn-right{float:right}
.fn-text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fn-linear{background-color:#f1f1f1;background:-webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));background:-moz-linear-gradient(top, #fcfcfc, #f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);background:linear-gradient(top, #fcfcfc, #f1f1f1)}
.fn-linear-light{background-color:#f9f9f9;background:-webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));background:-moz-linear-gradient(top, #fcfcfc, #f9f9f9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);background:linear-gradient(top, #fcfcfc, #f9f9f9)}
.fn-webkit-adjust{-webkit-text-size-adjust:none}
.row{margin-bottom:10px;*zoom:1}.row .first{margin-left:0}
.row:before,.row:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.row:after{clear:both}
.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12{float:left;min-height:1px;margin-left:0;position:relative}
.span12{width:960px}
.span11{width:880px}
.span10{width:800px}
.span9{width:720px}
.span8{width:640px}
.span7{width:560px}
.span6{width:480px}
.span5{width:400px}
.span4{width:320px}
.span3{width:240px}
.span2{width:160px}
.span1{width:80px}
.offset12{margin-left:960px}
.offset11{margin-left:880px}
.offset10{margin-left:800px}
.offset9{margin-left:720px}
.offset8{margin-left:640px}
.offset7{margin-left:560px}
.offset6{margin-left:480px}
.offset5{margin-left:400px}
.offset4{margin-left:320px}
.offset3{margin-left:240px}
.offset2{margin-left:160px}
.offset1{margin-left:80px}
.row-fluid{width:100%;*zoom:1}.row-fluid:before,.row-fluid:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.row-fluid:after{clear:both}
.row-fluid .span1,.row-fluid .span2,.row-fluid .span3,.row-fluid .span4,.row-fluid .span5,.row-fluid .span6,.row-fluid .span7,.row-fluid .span8,.row-fluid .span9,.row-fluid .span10,.row-fluid .span11,.row-fluid .span12{display:block;width:100%;min-height:30px;*height:30px;float:left;margin-left:0;position:relative}
.row-fluid .first{margin-left:0}
.row-fluid .span12{width:99.99999999999999%;*width:99.94791666666666%}
.row-fluid .span11{width:91.66666666666666%;*width:91.61458333333333%}
.row-fluid .span10{width:83.33333333333331%;*width:83.28124999999999%}
.row-fluid .span9{width:74.99999999999999%;*width:74.94791666666666%}
.row-fluid .span8{width:66.66666666666666%;*width:66.61458333333333%}
.row-fluid .span7{width:58.33333333333333%;*width:58.28124999999999%}
.row-fluid .span6{width:49.99999999999999%;*width:49.94791666666666%}
.row-fluid .span5{width:41.66666666666666%;*width:41.61458333333332%}
.row-fluid .span4{width:33.33333333333333%;*width:33.28124999999999%}
.row-fluid .span3{width:24.999999999999996%;*width:24.947916666666664%}
.row-fluid .span2{width:16.666666666666664%;*width:16.614583333333332%}
.row-fluid .span1{width:8.333333333333332%;*width:8.281249999999998%}
.row-fluid .offset12{margin-left:99.99999999999999%;*margin-left:99.89583333333333%}
.row-fluid .offset11{margin-left:91.66666666666666%;*margin-left:91.5625%}
.row-fluid .offset10{margin-left:83.33333333333331%;*margin-left:83.22916666666666%}
.row-fluid .offset9{margin-left:74.99999999999999%;*margin-left:74.89583333333333%}
.row-fluid .offset8{margin-left:66.66666666666666%;*margin-left:66.5625%}
.row-fluid .offset7{margin-left:58.33333333333333%;*margin-left:58.22916666666666%}
.row-fluid .offset6{margin-left:49.99999999999999%;*margin-left:49.89583333333332%}
.row-fluid .offset5{margin-left:41.66666666666666%;*margin-left:41.562499999999986%}
.row-fluid .offset4{margin-left:33.33333333333333%;*margin-left:33.22916666666666%}
.row-fluid .offset3{margin-left:24.999999999999996%;*margin-left:24.895833333333332%}
.row-fluid .offset2{margin-left:16.666666666666664%;*margin-left:16.5625%}
.row-fluid .offset1{margin-left:8.333333333333332%;*margin-left:8.229166666666664%}
.span1.hide,.span2.hide,.span3.hide,.span4.hide,.span5.hide,.span6.hide,.span7.hide,.span8.hide,.span9.hide,.span10.hide,.span11.hide,.span12.hide{display:none}
.span1.pull-right,.span2.pull-right,.span3.pull-right,.span4.pull-right,.span5.pull-right,.span6.pull-right,.span7.pull-right,.span8.pull-right,.span9.pull-right,.span10.pull-right,.span11.pull-right,.span12.pull-right{float:right}
p{margin:0 0 10px}
.lead{margin-bottom:20px;font-size:21px;font-weight:200;line-height:30px}
small{font-size:85%}
strong{font-weight:bold}
em{font-style:italic}
cite{font-style:normal}
.muted{color:#999}
a.muted:hover,a.muted:focus{color:#808080}
.text-warning{color:#c09853}
a.text-warning:hover,a.text-warning:focus{color:#a47e3c}
.text-error{color:#b94a48}
a.text-error:hover,a.text-error:focus{color:#953b39}
.text-info{color:#3a87ad}
a.text-info:hover,a.text-info:focus{color:#2d6987}
.text-success{color:#468848}
a.text-success:hover,a.text-success:focus{color:#356636}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
h1,h2,h3,h4,h5,h6{margin:10px 0;font-family:inherit;font-weight:bold;line-height:20px;color:inherit;text-rendering:optimizelegibility}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#999}
h1,h2,h3{line-height:40px}
h1{font-size:38.5px}
h2{font-size:31.5px}
h3{font-size:24.5px}
h4{font-size:17.5px}
h5{font-size:14px}
h6{font-size:11.9px}
h1 small{font-size:24.5px}
h2 small{font-size:17.5px}
h3 small{font-size:14px}
h4 small{font-size:14px}
.page-header{padding-bottom:9px;margin:20px 0 30px;border-bottom:1px solid #eee}
ul,ol{padding:0;margin:0 0 10px 25px}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0}
li{line-height:20px}
ul.unstyled,ol.unstyled{margin-left:0;list-style:none}
ul.inline,ol.inline{margin-left:0;list-style:none}ul.inline li,ol.inline li{display:inline-block;*display:inline;*zoom:1;padding-left:5px;padding-right:5px}
dl{margin-bottom:20px}
dt,dd{line-height:20px}
dt{font-weight:bold}
dd{margin-left:10px}
.dl-horizontal{*zoom:1}.dl-horizontal:before,.dl-horizontal:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.dl-horizontal:after{clear:both}
.dl-horizontal dt{float:left;width:160px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.dl-horizontal dd{margin-left:180px}
hr{margin:20px 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff}
abbr[title],abbr[data-original-title]{cursor:help;border-bottom:1px dotted #999}
abbr.initialism{font-size:90%;text-transform:uppercase}
blockquote{padding:0 0 0 15px;margin:0 0 20px;border-left:5px solid #eee}blockquote p{margin-bottom:0;font-size:17.5px;font-weight:300;line-height:1.25}
blockquote small{display:block;line-height:20px;color:#999}blockquote small:before{content:'\2014 \00A0'}
blockquote.pull-right{float:right;padding-right:15px;padding-left:0;border-right:5px solid #eee;border-left:0}blockquote.pull-right p,blockquote.pull-right small{text-align:right}
blockquote.pull-right small:before{content:''}
blockquote.pull-right small:after{content:'\00A0 \2014'}
q:before,q:after,blockquote:before,blockquote:after{content:""}
address{display:block;margin-bottom:20px;font-style:normal;line-height:20px}
.ui-table{border-collapse:collapse;border:1px solid #ccc;width:100%;font-size:12px;text-align:left}
.ui-table-split,.ui-table-hover{background-color:#fbfbfb}
.ui-table tr{color:#808080}
.ui-table thead tr{color:#666}
.ui-table thead{color:#666;background-color:#f6f6f6;background-color:#f2f2f2;background:-webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));background:-moz-linear-gradient(top, #f8f8f8, #f2f2f2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f2f2f2');background:-o-linear-gradient(top, #f8f8f8, #f2f2f2);background:linear-gradient(top, #f8f8f8, #f2f2f2)}
.ui-table th{padding:7px 9px;border-bottom:1px solid #d9d9d9;text-align:left}
.ui-table td{padding:8px 9px 7px;border-bottom:1px solid #d9d9d9}
.ui-table th{padding:7px 9px}
.ui-table tfoot td{border-bottom:none}
.ui-table-noborder,.ui-table-noborder td,.ui-table-noborder tr,.ui-table-noborder th{border:none;outline:none}
.ui-table-noborder .ui-table-split,.ui-table-noborder .ui-table-hover{background-color:#f7f7f7}
.ui-table-inbox{border:none;outline:none}
.ui-table-border td,.ui-table-border th{border-right:1px solid #d9d9d9}
.ui-box{border:1px solid #ccc;zoom:1;font-size:14px;margin:0;padding:0;border-bottom:none;*zoom:1}.ui-box:before,.ui-box:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.ui-box:after{clear:both}
.ui-box-follow{border-top:none}
.ui-box-head{border-bottom:1px solid #ccc;position:relative}
.ui-box-head-center,.ui-box-head-left{border:1px solid #fff;height:14px;line-height:14px;overflow:hidden;padding:7px 10px;background-color:#f1f1f1;background:-webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));background:-moz-linear-gradient(top, #fcfcfc, #f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);background:linear-gradient(top, #fcfcfc, #f1f1f1);text-align:center;font-size:14px;position:relative}
.ui-box-head-left{text-align:left}
.ui-box-container{background:#fff;border-bottom:1px solid #ccc}
.ui-box-content{padding:10px}
.ui-box-head-toggle{background:transparent;position:absolute;right:10px;color:#333;cursor:pointer}
.ui-box-head-toggle .iconfont{cursor:pointer}
form{margin:0 0 20px}
fieldset{padding:0;margin:0;border:0}
legend{display:block;width:100%;padding:0;margin-bottom:20px;font-size:21px;line-height:40px;color:#333;border:0;border-bottom:1px solid #e5e5e5}legend small{font-size:15px;color:#999}
label,.ui-input,button,.ui-select,.ui-textarea{font-size:14px;font-weight:normal;line-height:20px}
input,button,select,textarea{font-family:tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53}
label{display:block;margin-bottom:5px;padding-top:5px}
.message{color:#b94a48;position:absolute;width:80%;left:100%;top:0}
.ui-select,.ui-textarea,.ui-input,.uneditable-input{display:inline-block;*display:inline;*zoom:1;height:20px;padding:4px 6px;margin-bottom:10px;font-size:14px;line-height:20px;color:#555;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;vertical-align:middle;margin-bottom:6px}
.ui-input,.ui-textarea,.uneditable-input{width:90%}
.ui-textarea{height:auto}
.ui-text{display:block;position:absolute;top:2px;left:100%;width:70px}
.ui-textarea,.ui-input,.uneditable-input{background-color:#fff;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.ui-textarea:focus,.ui-input:focus,.uneditable-input:focus{border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)}
input[type="radio"],input[type="checkbox"]{margin:4px 0 0;*margin-top:0;margin-top:1px \9;line-height:normal}
input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]{width:auto}
select,input[type="file"]{height:30px;*margin-top:4px;line-height:30px}
.ui-select{border:1px solid #ccc;background-color:#fff;width:97%;height:30px;line-height:30px}
select[multiple],select[size]{height:auto}
select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.uneditable-input,.uneditable-textarea{color:#999;background-color:#fcfcfc;border-color:#ccc;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);cursor:not-allowed}
.uneditable-input{overflow:hidden;white-space:nowrap}
.uneditable-textarea{width:auto;height:auto}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999}
.radio,.checkbox{min-height:20px;padding-left:20px}
.radio input[type="radio"],.checkbox input[type="checkbox"]{float:left;margin-left:-20px}
.controls>.radio:first-child,.controls>.checkbox:first-child{padding-top:5px}
.input-mini{width:60px}
.input-small{width:90px}
.input-medium{width:150px}
.input-large{width:210px}
.input-xlarge{width:270px}
.input-xxlarge{width:530px}
input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input[class*="span"],.row-fluid input[class*="span"],.row-fluid select[class*="span"],.row-fluid textarea[class*="span"],.row-fluid .uneditable-input[class*="span"]{float:none;margin-left:0}
.input-append input[class*="span"],.input-append .uneditable-input[class*="span"],.input-prepend input[class*="span"],.input-prepend .uneditable-input[class*="span"],.row-fluid input[class*="span"],.row-fluid select[class*="span"],.row-fluid textarea[class*="span"],.row-fluid .uneditable-input[class*="span"],.row-fluid .input-prepend [class*="span"],.row-fluid .input-append [class*="span"]{display:inline-block}
input,textarea,.uneditable-input{margin-left:0}
input.span12,textarea.span12,.uneditable-input.span12{width:946px}
input.span11,textarea.span11,.uneditable-input.span11{width:866px}
input.span10,textarea.span10,.uneditable-input.span10{width:786px}
input.span9,textarea.span9,.uneditable-input.span9{width:706px}
input.span8,textarea.span8,.uneditable-input.span8{width:626px}
input.span7,textarea.span7,.uneditable-input.span7{width:546px}
input.span6,textarea.span6,.uneditable-input.span6{width:466px}
input.span5,textarea.span5,.uneditable-input.span5{width:386px}
input.span4,textarea.span4,.uneditable-input.span4{width:306px}
input.span3,textarea.span3,.uneditable-input.span3{width:226px}
input.span2,textarea.span2,.uneditable-input.span2{width:146px}
input.span1,textarea.span1,.uneditable-input.span1{width:66px}
.controls-row{*zoom:1}.controls-row:before,.controls-row:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.controls-row:after{clear:both}
.controls-row [class*="span"],.row-fluid .controls-row [class*="span"]{float:left}
.controls-row .checkbox[class*="span"],.controls-row .radio[class*="span"]{padding-top:5px}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{cursor:not-allowed;background-color:#eee}
input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"][readonly],input[type="checkbox"][readonly]{background-color:transparent}
.control-group.warning .control-label,.control-group.warning .help-block,.control-group.warning .help-inline{color:#c09853}
.control-group.warning .checkbox,.control-group.warning .radio,.control-group.warning input,.control-group.warning select,.control-group.warning textarea{color:#c09853}
.control-group.warning input,.control-group.warning select,.control-group.warning textarea{border-color:#c09853;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.control-group.warning input:focus,.control-group.warning select:focus,.control-group.warning textarea:focus{border-color:#a47e3c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e;-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e}
.control-group.warning .input-prepend .add-on,.control-group.warning .input-append .add-on{color:#c09853;background-color:#fcf8e3;border-color:#c09853}
.control-group.error .control-label,.control-group.error .help-block,.control-group.error .help-inline{color:#b94a48}
.control-group.error .checkbox,.control-group.error .radio,.control-group.error input,.control-group.error select,.control-group.error textarea{color:#b94a48}
.control-group.error input,.control-group.error select,.control-group.error textarea{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.control-group.error input:focus,.control-group.error select:focus,.control-group.error textarea:focus{border-color:#953b39;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392}
.control-group.error .input-prepend .add-on,.control-group.error .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48}
.control-group.success .control-label,.control-group.success .help-block,.control-group.success .help-inline{color:#468848}
.control-group.success .checkbox,.control-group.success .radio,.control-group.success input,.control-group.success select,.control-group.success textarea{color:#468848}
.control-group.success input,.control-group.success select,.control-group.success textarea{border-color:#468848;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.control-group.success input:focus,.control-group.success select:focus,.control-group.success textarea:focus{border-color:#356636;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7c;-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7c;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7c}
.control-group.success .input-prepend .add-on,.control-group.success .input-append .add-on{color:#468848;background-color:#dff0d8;border-color:#468848}
.control-group.info .control-label,.control-group.info .help-block,.control-group.info .help-inline{color:#3a87ad}
.control-group.info .checkbox,.control-group.info .radio,.control-group.info input,.control-group.info select,.control-group.info textarea{color:#3a87ad}
.control-group.info input,.control-group.info select,.control-group.info textarea{border-color:#3a87ad;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}.control-group.info input:focus,.control-group.info select:focus,.control-group.info textarea:focus{border-color:#2d6987;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7ab5d3;-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7ab5d3;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7ab5d3}
.control-group.info .input-prepend .add-on,.control-group.info .input-append .add-on{color:#3a87ad;background-color:#d9edf7;border-color:#3a87ad}
input:focus:invalid,textarea:focus:invalid,select:focus:invalid{color:#b94a48;border-color:#ee5f5b}input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
.form-actions{padding:19px 20px 20px;margin-top:20px;margin-bottom:20px;background-color:#f5f5f5;border-top:1px solid #e5e5e5;*zoom:1}.form-actions:before,.form-actions:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.form-actions:after{clear:both}
.help-block,.help-inline{color:#a6a6a6}
.help-block{display:block;margin-bottom:10px}
.help-inline{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;padding:5px}
.input-append,.input-prepend{display:inline-block;*display:inline;*zoom:1;margin-bottom:10px;vertical-align:middle;font-size:0;white-space:nowrap}.input-append input,.input-prepend input,.input-append select,.input-prepend select,.input-append .uneditable-input,.input-prepend .uneditable-input,.input-append .dropdown-menu,.input-prepend .dropdown-menu,.input-append .popover,.input-prepend .popover{font-size:14px}
.input-append input,.input-prepend input,.input-append select,.input-prepend select,.input-append .uneditable-input,.input-prepend .uneditable-input{position:relative;margin-bottom:0;*margin-left:0;vertical-align:top;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}.input-append input:focus,.input-prepend input:focus,.input-append select:focus,.input-prepend select:focus,.input-append .uneditable-input:focus,.input-prepend .uneditable-input:focus{z-index:2}
.input-append .add-on,.input-prepend .add-on{display:inline-block;*display:inline;*zoom:1;width:auto;height:20px;min-width:16px;padding:4px 5px;font-size:14px;font-weight:normal;line-height:20px;text-align:center;text-shadow:0 1px 0 #fff;background-color:#eee;border:1px solid #ccc}
.input-append .add-on,.input-prepend .add-on,.input-append .btn,.input-prepend .btn,.input-append .btn-group>.dropdown-toggle,.input-prepend .btn-group>.dropdown-toggle{vertical-align:top;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.input-append .active,.input-prepend .active{background-color:#a9dba9;border-color:#46a546}
.input-prepend .add-on,.input-prepend .btn{margin-right:-1px}
.input-prepend .add-on:first-child,.input-prepend .btn:first-child{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.input-append input,.input-append select,.input-append .uneditable-input{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}.input-append input+.btn-group .btn:last-child,.input-append select+.btn-group .btn:last-child,.input-append .uneditable-input+.btn-group .btn:last-child{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.input-append .add-on,.input-append .btn,.input-append .btn-group{margin-left:-1px}
.input-append .add-on:last-child,.input-append .btn:last-child,.input-append .btn-group:last-child>.dropdown-toggle{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.input-prepend.input-append input,.input-prepend.input-append select,.input-prepend.input-append .uneditable-input{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.input-prepend.input-append input+.btn-group .btn,.input-prepend.input-append select+.btn-group .btn,.input-prepend.input-append .uneditable-input+.btn-group .btn{-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.input-prepend.input-append .add-on:first-child,.input-prepend.input-append .btn:first-child{margin-right:-1px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.input-prepend.input-append .add-on:last-child,.input-prepend.input-append .btn:last-child{margin-left:-1px;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.input-prepend.input-append .btn-group:first-child{margin-left:0}
input.search-query{padding-right:14px;padding-right:4px \9;padding-left:14px;padding-left:4px \9;margin-bottom:0;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
.form-search .input-append .search-query,.form-search .input-prepend .search-query{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.form-search .input-append .search-query{-webkit-border-radius:14px 0 0 14px;-moz-border-radius:14px 0 0 14px;border-radius:14px 0 0 14px}
.form-search .input-append .btn{-webkit-border-radius:0 14px 14px 0;-moz-border-radius:0 14px 14px 0;border-radius:0 14px 14px 0}
.form-search .input-prepend .search-query{-webkit-border-radius:0 14px 14px 0;-moz-border-radius:0 14px 14px 0;border-radius:0 14px 14px 0}
.form-search .input-prepend .btn{-webkit-border-radius:14px 0 0 14px;-moz-border-radius:14px 0 0 14px;border-radius:14px 0 0 14px}
.form-search input,.form-inline input,.form-horizontal input,.form-search textarea,.form-inline textarea,.form-horizontal textarea,.form-search select,.form-inline select,.form-horizontal select,.form-search .help-inline,.form-inline .help-inline,.form-horizontal .help-inline,.form-search .uneditable-input,.form-inline .uneditable-input,.form-horizontal .uneditable-input,.form-search .input-prepend,.form-inline .input-prepend,.form-horizontal .input-prepend,.form-search .input-append,.form-inline .input-append,.form-horizontal .input-append{display:inline-block;*display:inline;*zoom:1;margin-left:6px;vertical-align:middle}
.form-search .hide,.form-inline .hide,.form-horizontal .hide{display:none}
.form-search label,.form-inline label,.form-search .btn-group,.form-inline .btn-group{display:inline-block;*display:inline;*zoom:1}
.form-search .input-append,.form-inline .input-append,.form-search .input-prepend,.form-inline .input-prepend{margin-bottom:0}
.form-search .radio,.form-search .checkbox,.form-inline .radio,.form-inline .checkbox{padding-left:0;margin-bottom:0;vertical-align:middle;margin-right:20px;margin-left:6px;float:left}
.form-search .radio input[type="radio"],.form-search .checkbox input[type="checkbox"],.form-inline .radio input[type="radio"],.form-inline .checkbox input[type="checkbox"]{float:left;margin-right:3px;margin-left:0}
.control-group{margin-bottom:10px}
legend+.control-group{margin-top:20px;-webkit-margin-top-collapse:separate}
.form-horizontal .control-group{margin-bottom:20px;*zoom:1}.form-horizontal .control-group:before,.form-horizontal .control-group:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.form-horizontal .control-group:after{clear:both}
.form-horizontal .control-label{float:left;width:100%;padding-top:5px;text-align:right}
.form-horizontal .controls{display:inline-block;*display:inline;*zoom:1;*padding-left:20px;margin-left:180px;*margin-left:0}.form-horizontal .controls:first-child{*padding-left:180px}
.form-horizontal .help-block{margin-bottom:0}
.form-horizontal input+.help-block,.form-horizontal select+.help-block,.form-horizontal textarea+.help-block,.form-horizontal .uneditable-input+.help-block,.form-horizontal .input-prepend+.help-block,.form-horizontal .input-append+.help-block{margin-top:10px}
.form-horizontal .form-actions{padding-left:180px}
.ui-breadcrumb{padding:8px 15px;margin:0 0 20px;list-style:none;background-color:#f5f5f5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;zoom:1}
.ui-breadcrumb{*zoom:1}.ui-breadcrumb:before,.ui-breadcrumb:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.ui-breadcrumb:after{clear:both}
.ui-breadcrumb li{display:inline-block;*display:inline;*zoom:1;text-shadow:0 1px 0 #fff}
.ui-breadcrumb li .divider{padding:0 5px;color:#ccc}
.ui-breadcrumb li.active{color:#999}
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333;background-color:#e6e6e6;background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));background:-moz-linear-gradient(top, #fff, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');background:-o-linear-gradient(top, #fff, #e6e6e6);background:linear-gradient(top, #fff, #e6e6e6);*background-color:#e6e6e6;border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6;*background-color:#d9d9d9}
.btn:active,.btn.active{background-color:#ccc \9}
.btn:hover,.btn:focus{color:#333;text-decoration:none;border:1px solid #ccc;background:#e6e6e6;background-color:#e6e6e6}
.btn:link{color:#333}
.btn.disabled,.btn[disabled]{cursor:default;border:1px solid #eee;color:#fff;background-color:#ccc;background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc));background:-moz-linear-gradient(top, #ccc, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cccccc');background:-o-linear-gradient(top, #ccc, #ccc);background:linear-gradient(top, #ccc, #ccc);*background-color:#ccc;}.btn.disabled:hover,.btn[disabled]:hover,.btn.disabled:focus,.btn[disabled]:focus,.btn.disabled:active,.btn[disabled]:active,.btn.disabled.active,.btn[disabled].active,.btn.disabled.disabled,.btn[disabled].disabled,.btn.disabled[disabled],.btn[disabled][disabled]{color:#fff;background-color:#ccc;*background-color:#bfbfbf}
.btn.disabled:active,.btn[disabled]:active,.btn.disabled.active,.btn[disabled].active{background-color:#b3b3b3 \9}
.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px}
.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0}
.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px}
.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
a.btn,input.btn,button.btn{width:auto}
a.btn-block,input.btn-block,button.btn-block{display:block;width:100%;padding-left:0;padding-right:0}
.btn-block+.btn-block{margin-top:5px}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}
.btn-primary{border:1px solid #069;color:#fff;background-color:#04c;background:-webkit-gradient(linear, left top, left bottom, from(#08c), to(#04c));background:-moz-linear-gradient(top, #08c, #04c);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc');background:-o-linear-gradient(top, #08c, #04c);background:linear-gradient(top, #08c, #04c);*background-color:#04c;}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}
.btn-primary:active,.btn-primary.active{background-color:#039 \9}
.btn-primary:hover{border:1px solid #08c;color:#fff;background-color:#08c;background:-webkit-gradient(linear, left top, left bottom, from(#08c), to(#08c));background:-moz-linear-gradient(top, #08c, #08c);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0088cc');background:-o-linear-gradient(top, #08c, #08c);background:linear-gradient(top, #08c, #08c)}
.btn-warning{border:1px solid #df8505;color:#fff;background-color:#f89406;background:-webkit-gradient(linear, left top, left bottom, from(#fbb450), to(#f89406));background:-moz-linear-gradient(top, #fbb450, #f89406);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406');background:-o-linear-gradient(top, #fbb450, #f89406);background:linear-gradient(top, #fbb450, #f89406);*background-color:#f89406;}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#fff;background-color:#f89406;*background-color:#df8505}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9}
.btn-warning:hover{border:1px solid #df8505;color:#fff;background-color:#fbb450;background:-webkit-gradient(linear, left top, left bottom, from(#fbb450), to(#fbb450));background:-moz-linear-gradient(top, #fbb450, #fbb450);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#fbb450');background:-o-linear-gradient(top, #fbb450, #fbb450);background:linear-gradient(top, #fbb450, #fbb450)}
.btn-danger{border:1px solid #ce1a15;color:#fff;background-color:#bd362f;background:-webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));background:-moz-linear-gradient(top, #ee5f5b, #bd362f);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f');background:-o-linear-gradient(top, #ee5f5b, #bd362f);background:linear-gradient(top, #ee5f5b, #bd362f);*background-color:#bd362f;}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#fff;background-color:#bd362f;*background-color:#a9302a}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9}
.btn-danger:hover{border:1px solid #ce1a15;color:#fff;background-color:#ee5f5b;background:-webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#ee5f5b));background:-moz-linear-gradient(top, #ee5f5b, #ee5f5b);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#ee5f5b');background:-o-linear-gradient(top, #ee5f5b, #ee5f5b);background:linear-gradient(top, #ee5f5b, #ee5f5b)}
.btn-success{border:1px solid #348c34;color:#fff;background-color:#51a351;background:-webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));background:-moz-linear-gradient(top, #62c462, #51a351);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351');background:-o-linear-gradient(top, #62c462, #51a351);background:linear-gradient(top, #62c462, #51a351);*background-color:#51a351;}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#51a351;*background-color:#499249}
.btn-success:active,.btn-success.active{background-color:#408140 \9}
.btn-success:hover{border:1px solid #348c34;color:#fff;background-color:#62c462;background:-webkit-gradient(linear, left top, left bottom, from(#62c462), to(#62c462));background:-moz-linear-gradient(top, #62c462, #62c462);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#62c462');background:-o-linear-gradient(top, #62c462, #62c462);background:linear-gradient(top, #62c462, #62c462)}
.btn-info{border:1px solid #2390b0;color:#fff;background-color:#2f96b4;background:-webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2f96b4));background:-moz-linear-gradient(top, #5bc0de, #2f96b4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4');background:-o-linear-gradient(top, #5bc0de, #2f96b4);background:linear-gradient(top, #5bc0de, #2f96b4);*background-color:#2f96b4;}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#fff;background-color:#2f96b4;*background-color:#2a85a0}
.btn-info:active,.btn-info.active{background-color:#24748c \9}
.btn-info:hover{border:1px solid #2390b0;color:#fff;background-color:#5bc0de;background:-webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#5bc0de));background:-moz-linear-gradient(top, #5bc0de, #5bc0de);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#5bc0de');background:-o-linear-gradient(top, #5bc0de, #5bc0de);background:linear-gradient(top, #5bc0de, #5bc0de)}
.btn-inverse{border:1px solid #111;color:#fff;background-color:#222;background:-webkit-gradient(linear, left top, left bottom, from(#444), to(#222));background:-moz-linear-gradient(top, #444, #222);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222');background:-o-linear-gradient(top, #444, #222);background:linear-gradient(top, #444, #222);*background-color:#222;}.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#fff;background-color:#222;*background-color:#151515}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9}
.btn-inverse:hover{border:1px solid #111;color:#fff;background-color:#444;background:-webkit-gradient(linear, left top, left bottom, from(#444), to(#444));background:-moz-linear-gradient(top, #444, #444);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#444444');background:-o-linear-gradient(top, #444, #444);background:linear-gradient(top, #444, #444)}
.disabled:hover{border:1px solid #eee;color:#fff;background-color:#ccc;background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc));background:-moz-linear-gradient(top, #ccc, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cccccc');background:-o-linear-gradient(top, #ccc, #ccc);background:linear-gradient(top, #ccc, #ccc);*background-color:#ccc;}.disabled:hover:hover,.disabled:hover:focus,.disabled:hover:active,.disabled:hover.active,.disabled:hover.disabled,.disabled:hover[disabled]{color:#fff;background-color:#ccc;*background-color:#bfbfbf}
.disabled:hover:active,.disabled:hover.active{background-color:#b3b3b3 \9}
button.btn,input.btn{*padding-top:3px;*padding-bottom:3px}button.btn::-moz-focus-inner,input.btn::-moz-focus-inner{padding:0;border:0}
button.btn.btn-large,input.btn.btn-large{*padding-top:7px;*padding-bottom:7px}
button.btn.btn-small,input.btn.btn-small{*padding-top:3px;*padding-bottom:3px}
button.btn.btn-mini,input.btn.btn-mini{*padding-top:1px;*padding-bottom:1px}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none}
.btn-link{border-color:transparent;cursor:pointer;color:#08c;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-link:hover,.btn-link:focus{color:#005580;text-decoration:underline;background-color:transparent}
.btn-link[disabled]:hover,.btn-link[disabled]:focus{color:#333;text-decoration:none}
.close{float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}
.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px solid #f9e7c3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.alert,.alert h4{color:#c09853}
.alert h4{margin:0}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px}
.alert-success{background-color:#dff0d8;border-color:#d0e6be;color:#468848}
.alert-success h4{color:#468848}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#e4b9c0;color:#b94a48}
.alert-danger h4,.alert-error h4{color:#b94a48}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad}
.alert-info h4{color:#3a87ad}
.alert-block{padding-top:14px;padding-bottom:14px}
.alert-block>p,.alert-block>ul{margin-bottom:0}
.alert-block p+p{margin-top:5px}
.ui-paging,.ui-paging input{color:#808080;margin:0;padding:0;zoom:1;font-size:12px;vertical-align:middle}
.ui-paging{*zoom:1}.ui-paging:before,.ui-paging:after{visibility:hidden;display:block;font-size:0;content:" ";height:0}
.ui-paging:after{clear:both}
.ui-paging a{color:#388a00}
.ui-paging a,.ui-paging span{text-decoration:none;float:left;vertical-align:middle;height:22px;line-height:22px;font-weight:bold;padding:0 8px;border:1px solid #e6e6e6;border-right:none;background-color:#fff}
.ui-paging a .iconfont{font-size:10px}
.ui-paging a .iconfont{color:#388a00}
.ui-paging span .iconfont{color:#808080}
.ui-paging .ui-paging-first{border-radius:3px 0 0 3px}
.ui-paging .ui-paging-last{border-right:1px solid #e6e6e6;border-radius:0 3px 3px 0}
.ui-paging a.ui-paging-current{color:#808080;background:#f5f5f5}
.ui-paging a:hover{background:#f5f5f5}
.ui-tiptext{margin:0;color:#4d4d4d;position:relative;font-size:11.9px;zoom:1}
.ui-tiptext-follow{padding-left:21px}
.ui-tiptext-container{padding:8px 12px;position:relative;zoom:1}
.ui-tiptext .iconfont{font-size:17.5px;line-height:14px;text-shadow:0 1px 0 #fff;position:relative;top:2px;margin-right:2px}
.iconfont{display:inline-block;*display:inline;*zoom:1}
.ui-tiptext-message{color:#3a87ad}
.ui-tiptext-message .iconfont{color:#3a87ad}
.ui-tiptext-container-message{border:1px solid #c9ebf0;background:#e5f2f8}
.ui-tiptext-success{color:#468848}
.ui-tiptext-success .iconfont{color:#468847}
.ui-tiptext-container-success{background-color:#dff0d8;border:1px solid #d0e6be}
.ui-tiptext-error{color:#b94a48}
.ui-tiptext-error .iconfont{color:#b94a48}
.ui-tiptext-container-error{background-color:#f2dede;border:1px solid #e4b9c0}
.ui-tiptext-warning{color:#c09853}
.ui-tiptext-warning .iconfont{color:#f89406}
.ui-tiptext-container-warning{background:#fcf8e3;border:1px solid #f9e7c3}
.ui-tiptext-question{color:#66cae2}
.ui-tiptext-question .iconfont{color:#66cae2}
.ui-tiptext-container-question{border:1px solid #bcf2ff;background:#e0f4ff}
.ui-tiptext-stop{color:#b94a48}
.ui-tiptext-stop .iconfont{color:#b94a48}
.ui-tiptext-container-stop{background-color:#f2dede;border:1px solid #e4b9c0}
.ui-tiptext-arrowup,.ui-tiptext-arrowup em,.ui-tiptext-arrowup span,.ui-tiptext-arrowleft,.ui-tiptext-arrowleft em,.ui-tiptext-arrowleft span,.ui-tiptext-arrowdown,.ui-tiptext-arrowdown em,.ui-tiptext-arrowdown span{position:absolute;font-size:14px;font-family:"SimSun";font-style:normal;line-height:1}
.ui-tiptext-arrowup,.ui-tiptext-arrowleft,.ui-tiptext-arrowdown{height:10px;width:16px}
.ui-tiptext-arrowup{left:32px;top:-7px}
.ui-tiptext-arrowup em{top:-1px}
.ui-tiptext-arrowleft{left:-6px;top:10px}
.ui-tiptext-arrowleft em{left:-1px}
.ui-tiptext-arrowdown{left:32px;bottom:-3px}
.ui-tiptext-arrowdown em{top:1px}
.ui-tiptext-container-message .ui-tiptext-arrow em{color:#e5f2f8}
.ui-tiptext-container-message .ui-tiptext-arrow span{color:#e5f2f8}
.ui-tiptext-container-success .ui-tiptext-arrow em{color:#dff0d8}
.ui-tiptext-container-success .ui-tiptext-arrow span{color:#dff0d8}
.ui-tiptext-container-error .ui-tiptext-arrow em{color:#f2dede}
.ui-tiptext-container-error .ui-tiptext-arrow span{color:#f2dede}
.ui-tiptext-container-warning .ui-tiptext-arrow em{color:#fcf8e3}
.ui-tiptext-container-warning .ui-tiptext-arrow span{color:#fcf8e3}
.ui-tiptext-container-question .ui-tiptext-arrow em{color:#e0f4ff}
.ui-tiptext-container-question .ui-tiptext-arrow span{color:#e0f4ff}
.ui-tiptext-container-stop .ui-tiptext-arrow em{color:#f2dede}
.ui-tiptext-container-stop .ui-tiptext-arrow span{color:#f2dede}
.ui-tiptext-close{position:absolute;right:10px;top:8px;cursor:pointer}
.ui-tiptext-close .iconfont{color:#000;opacity:.2;filter:alpha(opacity=20)}
.ui-tab{margin:0;padding:0;margin-top:10px}
.ui-tab ul{list-style:none;margin:0;padding:0}
.ui-tab-item{display:inline-block;*display:inline;*zoom:1;background-color:#f1f1f1;background:-webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));background:-moz-linear-gradient(top, #fcfcfc, #f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);background:linear-gradient(top, #fcfcfc, #f1f1f1);border:solid 1px #999;border-bottom:none;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;padding:0;_margin-right:5px}
.ui-tab-item a{font-size:14px;line-height:14px;display:block;padding:6px 10px;outline:none;text-decoration:none;border:none;color:#808080}
.ui-tab-item a:hover{text-decoration:underline;text-decoration:none}
.ui-tab-items .active{background:#fff;position:relative;top:1px;border-color:#999}
.ui-tab-panels{background:#fff;border:1px solid #999;padding:10px;-webkit-border-radius:0 4px 4px 4px;-moz-border-radius:0 4px 4px 4px;border-radius:0 4px 4px 4px;margin-bottom:10px}
.ui-tab-panel{border:none}
