<div data-page="error" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-inner">
                <div class="navbar-left">
                    <a href="#" class="link back">
                        <i class="icon icon-c-back only-icon"></i>
                    </a>
                </div>
                <div class="navbar-center">报错信息</div>
                <div class="navbar-right">
                    <a href="#" class="link">
                        <i class="icon icon-c-menu only-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content accordion-content">

        <div class="list-block">
            出错
        </div>
    </div>
</div>
