<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://hc.supconit.com/mybatis-3-mapper.dtd">

<mapper namespace="com.supconit.nhgl.schedule.entites.TaskExecutionPlan">

	<resultMap type="com.supconit.nhgl.schedule.entites.TaskExecutionPlan" id="RwzxjhResultMap">
					<id property="id" column="ID" />
							<result property="taskCode" column="TASK_CODE" />
							<result property="executeType" column="EXECUTE_TYPE" />
							<result property="monitorHourStart" column="MONITOR_HOUR_START" />
							<result property="monitorHourEnd" column="MONITOR_HOUR_END" />
							<result property="isTomorrow" column="IS_TOMORROW" />
							<result property="executeParam" column="EXECUTE_PARAM" />
							<result property="startDate" column="START_DATE" />
							<result property="endDate" column="END_DATE" />
							<result property="taskName" column="taskName" />
							<result property="monitorTaskId" column="monitorTaskId" />
							<result property="taskVesting" column="taskVesting" />
				</resultMap>
	
	
	<sql id="TABLE_NAME" lang="velocity">NH_TASK_EXECUTION_PLAN</sql>
	<sql id="SEQUENCE" lang="velocity">SELECT SEQ_<include refid="TABLE_NAME"/>.NEXTVAL FROM DUAL</sql>
	<sql id="SELECT_PRE" lang="velocity">SELECT * FROM <include refid="TABLE_NAME"/></sql>
	<sql id="COUNT_PRE" lang="velocity">SELECT COUNT(1) FROM <include refid="TABLE_NAME"/></sql>

	<sql id="SEARCH_CONDITION_SQL" lang="velocity">
		<![CDATA[
		#where()
																																																	#end
		]]>	
	</sql>
	
	<select id="getById" resultMap="RwzxjhResultMap" parameterType="long" lang="velocity">
		<include refid="SELECT_PRE" />
				WHERE ID = @{_parameter, jdbcType=NUMERIC}
			</select>
	
	<select id="selectPager" lang="velocity" resultMap="RwzxjhResultMap">
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		<include refid="SELECT_PRE"/>
		<include refid="SEARCH_CONDITION_SQL"/>
		#order($_parameter.condition,"ID DESC")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	
	<select id="selectPager" lang="velocity" resultMap="RwzxjhResultMap" databaseId="sqlserver">
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT * 
		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
		#order($_parameter.condition,"ID DESC")
		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM <include refid="TABLE_NAME"/>
		<include refid="SEARCH_CONDITION_SQL"/>
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>

	<select id="countPager" lang="velocity" resultType="long">
		<include refid="COUNT_PRE"/><include refid="SEARCH_CONDITION_SQL"/>
	</select>
	
	<select id="findBetweenTimes" resultMap="RwzxjhResultMap" parameterType="com.supconit.nhgl.schedule.entites.TaskExecutionPlan">
		SELECT a.*,b.TASK_NAME AS taskName,b.ID AS monitorTaskId,b.TASK_VESTING AS taskVesting FROM NH_TASK_EXECUTION_PLAN a
		INNER JOIN NH_MONITOR_TASK b ON a.TASK_CODE=b.TASK_CODE
        WHERE (a.START_DATE <![CDATA[>=]]>  #{startDate} and  a.START_DATE <![CDATA[<]]>  #{endDate})
        <if test="taskTypeList!=null and taskTypeList.size()>0">
        AND b.TASK_VESTING in
        <foreach item="item" index="index" collection="taskTypeList" open="(" separator="," close=")">
        	#{item}
        </foreach>
        </if>
<!--         b.TASK_VESTING in(
        	1=1
        	<if test="water !=null and water != ''">OR b.TASK_VESTING = #{water} </if>
			<if test="electric !=null and electric != ''">OR b.TASK_VESTING = #{electric}</if>
			<if test="gas !=null and gas != ''">OR b.TASK_VESTING = #{gas} </if>
			<if test="device !=null and device != ''">OR b.TASK_VESTING = #{device} </if>
			AND 1=1
		) -->
        
        ORDER BY b.ID desc
	</select>
	
	<sql id="INSERT_SQL" lang="velocity">
		INSERT INTO <include refid="TABLE_NAME"/>(
															#if($_databaseId == 'oracle') ID,#end
																TASK_CODE
																					,EXECUTE_TYPE
																					,MONITOR_HOUR_START
																					,MONITOR_HOUR_END
																					,IS_TOMORROW
																					,EXECUTE_PARAM
																					,START_DATE
																					,END_DATE
														) VALUES (
															#if($_databaseId == 'oracle') @{_parameter.id,jdbcType=NUMERIC},#end
																@{_parameter.taskCode,jdbcType=VARCHAR}
																					,@{_parameter.executeType,jdbcType=NUMERIC}
																					,@{_parameter.monitorHourStart,jdbcType=VARCHAR}
																					,@{_parameter.monitorHourEnd,jdbcType=VARCHAR}
																					,@{_parameter.isTomorrow,jdbcType=VARCHAR}
																					,@{_parameter.executeParam,jdbcType=VARCHAR}
																					,@{_parameter.startDate,jdbcType=TIMESTAMP}
																					,@{_parameter.endDate,jdbcType=TIMESTAMP}
														)
	</sql>
	
	<insert id="insert" parameterType="com.supconit.nhgl.schedule.entites.TaskExecutionPlan" 
		keyProperty="id" keyColumn="ID" 		lang="velocity" databaseId="oracle">
		<selectKey keyProperty="id" resultType="long" order="BEFORE"><include refid="SEQUENCE" /></selectKey>        <include refid="INSERT_SQL" />
	</insert>
	<insert id="insert" parameterType="com.supconit.nhgl.schedule.entites.TaskExecutionPlan" 
		keyProperty="id" keyColumn="ID" 		 lang="velocity">
        <include refid="INSERT_SQL"/>
        <selectKey keyProperty="id" resultType="long" order="AFTER"><include refid="_PUBLIC_V.SELECT_KEY"/> </selectKey>    </insert>
    
	<update id="update" parameterType="com.supconit.nhgl.schedule.entites.TaskExecutionPlan" lang="velocity">
		UPDATE <include refid="TABLE_NAME"/> 
		#mset()
		<![CDATA[
																							#if($_parameter.taskCode)TASK_CODE = @{_parameter.taskCode,jdbcType=VARCHAR},#end
																#if($_parameter.executeType)EXECUTE_TYPE = @{_parameter.executeType,jdbcType=NUMERIC},#end
																#if($_parameter.monitorHourStart)MONITOR_HOUR_START = @{_parameter.monitorHourStart,jdbcType=VARCHAR},#end
																#if($_parameter.monitorHourEnd)MONITOR_HOUR_END = @{_parameter.monitorHourEnd,jdbcType=VARCHAR},#end
																IS_TOMORROW=@{_parameter.isTomorrow,jdbcType=VARCHAR},
																EXECUTE_PARAM = @{_parameter.executeParam,jdbcType=VARCHAR},
																#if($_parameter.startDate)START_DATE = @{_parameter.startDate,jdbcType=TIMESTAMP},#end
																#if($_parameter.endDate)END_DATE = @{_parameter.endDate,jdbcType=TIMESTAMP},#end
									]]>
		#end
		WHERE ID = @{_parameter.id,jdbcType=NUMERIC}
	</update>
	
	<delete id="deleteById" parameterType="long" lang="velocity">
		DELETE FROM <include refid="TABLE_NAME" /> WHERE ID = @{_parameter,jdbcType=NUMERIC}
	</delete>
	<delete id="deleteByTaskCode" parameterType="string" lang="velocity">
		DELETE FROM <include refid="TABLE_NAME" /> WHERE TASK_CODE=@{_parameter,jdbcType=VARCHAR}
	</delete>	
	<select id="selectByTaskCode" parameterType="string" lang="velocity" resultMap="RwzxjhResultMap">
		select * FROM <include refid="TABLE_NAME"/>
		WHERE TASK_CODE=@{_parameter,jdbcType=VARCHAR}
	</select>   
</mapper>