<script type="text/x-kendo-template" id="grid_toolbar_template">
    <div class="toolbar">
    	<ul class="grid_operates">
    	</ul>
    	<ul class="grid_tool">
    		##<li><a class="grid_configtable" href="javascript:void(0)"></a></li>
    	</ul>
    </div>
</script>