<script type="text/javascript">
    function doSubmit(type,flowId,bpmEnabled) {
        if(flowId){
	        $("input[name='_bpm_ts_id']").val(flowId);
        }
        if(bpmEnabled){
	        $("input[name='_bpm_enabled']").val(bpmEnabled);
        }
        var ctn = "$!rc.contextPath/spare/inventory/"+type;
        $("#inventory_form_id").attr("action", ctn);
        //$("#inventory_form_id").submit();
        return true;
    }
</script>
	<form id="inventory_form_id"  method="post" action="$!{rc.contextPath}/spare/inventory/save" class="ui-form">
		<input type="hidden" name="id" value="$!{inventory.id}">
        <div class="ui-box ui-box-close">
          <div class="ui-box-container">
              <div class="ui-box-content">
                	<input type="hidden" name="_bpm_param" value="$!{_bpm_param}"/>
	                <input type="hidden" name="_bpm_ts_id" value=""/>
	                <input type="hidden" name="_bpm_enabled" value="false"/>
	                #foreach($ts in $!_bpm_transitions)
	                    <button type="submit" class="btn btn-small" onclick="doSubmit('processDone','$!ts.id',true)">
	                   	#if($!ts.id.contains("reject"))
	                   	<i class="iconfont icon-reply"></i>
						#else
	                    <i class="iconfont icon-submit"></i>
						#end 
	                    $!ts.name</button>
	                #end
                <button class="btn btn-small" type="submit" onclick="doSubmit('processDone');"><i class="iconfont icon-save"></i>保存</button>
                 <a class="btn btn-small" onclick="loadMain('$!{rc.contextPath}/spare/inventory/go');"><i class="iconfont icon-reply"></i>返回</a>
              </div>
          </div>
        </div>

    <div class="ui-box">
      <div class="ui-box-head">
        <div class="ui-box-head-center">
          <span class="ui-box-head-title">盘点基本信息</span>
          <a class="btn btn-small ui-box-toggle" href="#" data-trigger="collapse" data-target="#collapse1">
          <i class="iconfont icon-caret-up"></i></a>
        </div>
      </div>
      <div class="ui-box-container" id="collapse1">
        <div class="ui-box-content">          
	      <div class="ui-form-item">
	        <label class="ui-label" for="" ><span class="ui-form-required">*</span>盘点单号</label>
	        <input readonly class="ui-input" type="text"  name="inventoryCode" value="$!{inventory.inventoryCode}"  />
	      </div>
	      <div class="ui-form-item">
	        <label class="ui-label" for="" ><span class="ui-form-required">*</span>盘点仓库</label>
		    <select class="ui-select" name="warehouseId" id="warehouseId">
		    	${warehouseOptions}
		    </select>	    
		 </div>
	      <div class="ui-form-item">
	        <label class="ui-label" for="" ><span class="ui-form-required">*</span>盘点人</label>
			<input type="hidden" id="inventoryPersonId"  name="inventoryPersonId" value="$!{inventory.inventoryPersonId}"  />
			<input readonly class="ui-input"  type="text" id="inventoryPersonName" name="inventoryPersonName" value="$!{inventory.inventoryPersonName}"  onclick="choosePerson('inventoryPersonId','inventoryPersonName')"/>
 	        <span class="ui-form-icon"><i class="iconfont icon-file-alt"></i></span>
		 </div>
	      <div class="ui-form-item">
	        <label class="ui-label" for="" ><span class="ui-form-required">*</span>盘点日期</label>
			<input type="text" name="inventoryTime"  class="ui-input Wdate"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="#date_format($!{inventory.inventoryTime},'yyyy-MM-dd HH:mm:ss')"  size=22 />						  
		 </div>
	      <div class="ui-form-item colspan2">
	        <label class="ui-label" for="" >盘点摘要</label>
			<textarea  id="textAreaId" rows="5" class="k-textbox k-textarea" type="text" name="remark">$!{inventory.remark}</textarea>
	      </div>
            </div>
          </div>
        </div>



    <div class="ui-box">
      <div class="ui-box-head">
        <div class="ui-box-head-center">
          <span class="ui-box-head-title">盘点明细信息</span>
          <a class="btn btn-small ui-box-toggle" href="#" data-trigger="collapse" data-target="#collapse2">
          <i class="iconfont icon-caret-up"></i></a>
        </div>
      </div>
      <div class="ui-box-container" id="collapse2">
        <div class="ui-box-content">          
							    <table id='tableId' class="ui-table">
							        <thead>
										<tr>
											<th width="30">序号</th>
											<th>备件名称</th>
											<th>备件编码</th>
											<th>账面数量</th>
											<th>盘点数量</th>
											<th>盈亏数量</th>
											<th width="30">盈亏原因</th>
										</tr>
							        </thead>
						<tbody>
							#set($index=0)
							#foreach($list in $!inventory.inventoryDetailList)
							#set($index=$index+1)
								<tr>   
									<td class="input-equilong"><span class="rowNumber">$index</span></td>
							        <td>
							        	<input type="hidden" name="inventoryDetailList[$index].spareId" value="$!{list.spareId}" />
							        	<input readonly type="text" name="inventoryDetailList[$index].spareName" value="$!{list.spareName}" class="ui-input ui-input-small"/>
							        </td>                   
							        <td><input readonly type="text" name="inventoryDetailList[$index].spareCode" value="$!{list.spareCode}" class="ui-input ui-input-small"/></td>                   
							        <td><input readonly type="text" name="inventoryDetailList[$index].accountQty" value="$!{list.accountQty}" class='ui-input ui-input-small number2'/></td>                   
							        <td><input type="text" name="inventoryDetailList[$index].inventoryQty" value="$!{list.inventoryQty}" class='ui-input ui-input-small number2'/></td>                   
							        <td><input readonly type="text" name="inventoryDetailList[$index].balanceQty" value="$!{list.balanceQty}" class='ui-input ui-input-small number2'/></td>                   
							        <td><input type="text" name="inventoryDetailList[$index].descripton" value="$!{list.descripton}" class="ui-input ui-input-small"/></td>                   
								</tr>
							#end
					            <tr>
									<td>合计</td>
									<td></td>
									<td></td>
									<td><input readonly id='sumAccountQty' type="text" name="sumAccountQty" size="12" class="ui-input ui-input-small"/></td>
									<td><input readonly id='sumInventoryQty' type="text" name="sumInventoryQty" size="12" class="ui-input ui-input-small"/></td>
									<td><input readonly id='sumBalanceQty' type="text" name="sumBalanceQty" size="12" class="ui-input ui-input-small"/></td>
									<td></td>
					            </tr>
						</tbody>
					</table>
            </div>
          </div>
        </div>
	</form>
	<script type="text/javascript" src="$!{rc.contextPath}/js/ywgl.js"></script>
	<script type="text/javascript">
	 function rebuildTable(tableId,dataRows){
	 	var newRow='<tr>'   
					+'<td><span class="rowNumber"></span></td>'
					+'<td>'
		            +'<input type="hidden" name="inventoryDetailList[#index#].spareId"/>'
				    +'<input readonly type="text" name="inventoryDetailList[#index#].spareName" class="ui-input ui-input-small"/>'
					+'</td>'                   
					+'<td><input readonly type="text" name="inventoryDetailList[#index#].spareCode" class="ui-input ui-input-small"/></td>'                   
					+'<td><input readonly type="text" name="inventoryDetailList[#index#].accountQty" class="ui-input ui-input-small"/></td>'                   
					+'<td><input type="text" name="inventoryDetailList[#index#].inventoryQty" class="ui-input ui-input-small"/></td>'                   
					+'<td><input readonly type="text" name="inventoryDetailList[#index#].balanceQty" class="ui-input ui-input-small"/></td>'                   
					+'<td><input type="text" name="inventoryDetailList[#index#].descripton" class="ui-input ui-input-small"/></td>'                   
					+'</tr>';
		$('#'+tableId).find('tr:gt(0):not(:last)').remove();
		//$tbody.css({'color': "#ff0011", 'background': "blue" });	
		$(dataRows).each(function(){
		 	$(newRow).prependTo($('#'+tableId+' tbody'));
		});		
		$('#'+tableId).find('tr:gt(0):not(:last)').each(function(j,t){
				$('.rowNumber',$(t)).text(j+1)
				$("input,textarea",$(t)).each(function(i,v){
					if($(v).attr("name")!=""){
						var newName=$(v).attr("name").replaceSuffix(j);
						$(v).attr("name",newName);
						
						var shortName=newName.split('\.')[1];
						if(dataRows[j][shortName]){
							$(v).val(dataRows[j][shortName]);
						}
					}
				});
			});
		//alert($('#'+tableId).html())
	 }

	 $(document).ready(function(){
	    
	    $('#warehouseId').change(function(){
            $.ajax({
                type: "post",
                cache:false,
                url: '$!{rc.contextPath}/spare/inventory/loadSpare/'+$(this).val(),
                data: '',
                success: function (response) {
						rebuildTable('tableId',response);
						caculate();
            		}
            	});     
	    });
	 	$("input[name='isShelfLife'][value=$!spare.isShelfLife]").attr("checked",true);  
       $("#clear").click(function(){
            $("#parentId").val("");
			$("#parentName").val("");
        });
        
        $('#inventory_form_id').valid({
          rules: {
			inventoryCode: ['not_empty',{max_length: 20}],
			warehouseId: ['not_empty',{max_length: 20}],
			inventoryTime: ['not_empty',{max_length: 20}],
			inventoryPersonName: ['not_empty',{max_length: 20}],
			remark: [{max_length: 50}]
          },onSuccess: function(response, validator, $form) {
		  	validateCallback(response);
		  	return false;
		  }
        });		
        caculate();
	 });
    function spareCheckedCallback(dataRows,$tr){
      var dataRow=dataRows[0];
      $("input[name$='.spareId']",$tr).val(dataRow.spareId);  
      $("input[name$='.spareName']",$tr).val(dataRow.spareName);  
      $("input[name$='.spareCode']",$tr).val(dataRow.spareCode);  
      $("input[name$='.accountQty']",$tr).val(dataRow.qty);  
    }
    
    function caculate(){
     var $table=$('#tableId');
     var $sumAccountQty=$('#sumAccountQty');
     var $sumInventoryQty=$('#sumInventoryQty');
     var $sumBalanceQty=$('#sumBalanceQty');
     
     var $allAccountQty=$("input[name$='.accountQty']",$table);
     var $allInventoryQty=$("input[name$='.inventoryQty']",$table);
     var $allBalanceQty=$("input[name$='.balanceQty']",$table);
     $('tr:gt(0):not(:last)',$table).each(function(i,tr){
         var $accountQty=$("input[name$='.accountQty']",this);
         var $inventoryQty=$("input[name$='.inventoryQty']",this);
         var $balanceQty=$("input[name$='.balanceQty']",this);
         $($inventoryQty).add($balanceQty).change(function(){
            var v=subtract($inventoryQty,$accountQty);
            $balanceQty.val(v);
            var v1=sum($allInventoryQty);
            $sumInventoryQty.val(v1);
            var v2=sum($allBalanceQty);
            $sumBalanceQty.val(v2);
            var v3=sum($allAccountQty);
            $sumAccountQty.val(v3);
         });                
     });
            var v1=sum($allInventoryQty);
            $sumInventoryQty.val(v1);
            var v2=sum($allBalanceQty);
            $sumBalanceQty.val(v2);
            var v3=sum($allAccountQty);
            $sumAccountQty.val(v3);
    }
    
    function sum(arr){
      var s=0;
      $(arr).each(function(i,item){
           var val=$.trim($(item).val());
	       s=s+val*1.0
      })
      return formatNumber2(s);   
    }
    function subtract($a,$b){
     var a=$.trim($a.val());
     var b=$.trim($b.val());
     try{
      a=a*1.0;
	  b=b*1.0    
     }catch(err){
      alert(err)
     }
     return formatNumber2(a-b);
    }
    
    function compare($a,$b){
     var a=$.trim($a.val());
     var b=$.trim($b.val());
     try{
      a=a.parseDouble();
	  b=b.parseDouble();    
     }catch(err){
      alert(err)
     }
     return a-b;
    }
	</script>
	</form>	
