/* 
 * @name: ui-iconfont
 * @overview: honeycomb项目icon字体集合
 * @require: 无
 */
@font-face {
  font-family: 'honeycomb';
  src: url("font/honeycomb.eot"); /* IE9*/
  src: url("font/honeycomb.eot?#iefix") format("embedded-opentype"),  /* IE6-IE8 */
       url("font/honeycomb.woff") format("woff"), /* chrome 6+、firefox 3.6+、Safari5.1+、Opera 11+ */
       url("font/honeycomb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ 
       url("font/honeycomb.svg") format("svg"); /*  iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}


.iconfont {
  font-family: "honeycomb";
  font-style: normal;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-home:before {
  content: "\f015";
}
.icon-tint:before {
  content: "\f043";
}
.icon-comments:before {
  content: "\f086";
}
.icon-envelope-alt:before {
  content: "\f0e0";
}
.icon-user:before {
  content: "\f007";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-smile:before {
  content: "\f118";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-frown:before {
  content: "\f119";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-heart:before {
  content: "\f004";
}
.icon-check:before {
  content: "\f046";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-chevron-sign-down:before {
  content: "\f13a";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-sign-left:before {
  content: "\f137";
}
.icon-chevron-sign-right:before {
  content: "\f138";
}
.icon-chevron-sign-up:before {
  content: "\f139";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-search:before {
  content: "\f002";
}
.icon-off:before {
  content: "\f011";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-submit:before {
  content: "\f093";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-cog:before {
  content: "\f013";
}
.icon-comments:before {
  content: "\f086";
}
.icon-comment:before {
  content: "\f075";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-undo:before,
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-repeat:before,
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-reply:before,
.icon-mail-reply:before {
  content: "\f112";
}
.icon-share-alt:before,
.icon-mail-forward:before {
  content: "\f064";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-edit:before {
  content: "\f044";
}
.icon-file-alt:before {
  content: "\f0f6";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-trash:before {
  content: "\f014";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-lock:before {
  content: "\f023";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-reset:before {
  content: "\f021";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-play-sign:before {
  content: "\f144";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-circle:before {
  content: "\f111";
}
.icon-print:before {
  content: "\f02f";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-sitemap:before {
  content: "\f0e8";
}



