<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">

<mapper namespace="com.supconit.base.entities.Department">

	<resultMap type="com.supconit.base.entities.Department" id="DepartmentResultMap">     
        <result property="id" column="ID" />
        <result property="code" column="CODE" />
        <result property="name" column="NAME" />
        <result property="description" column="DESCRIPTION" />
        <result property="companyCode" column="COMPANY_CODE" />
        <result property="pId" column="PID" />
        <result property="lef" column="LFT" />
        <result property="rgt" column="RGT" />

	</resultMap>
	
	<sql id="select_pre">
		SELECT ID,CODE,NAME,DESCRIPTION,COMPANY_CODE,PID,LFT,RGT FROM HO_DEPARTMENT
	</sql>
	
	<select id="findFirstLevel" resultMap="DepartmentResultMap" lang="velocity">
    	<include refid="select_pre"/> hd
    	where hd.PID = @{_parameter.id, jdbcType=BIGINT}
    </select>
    
    <!-- 递归查询子类别-->
	<select id="findDeptChildIdsById" parameterType="Long" resultType="Long" lang="velocity">
		WITH TT(ID) AS ( 
		SELECT ID FROM HO_DEPARTMENT WHERE ID = @{_parameter.id,jdbcType=BIGINT}
		UNION ALL 
		SELECT A.ID FROM HO_DEPARTMENT A,TT B WHERE A.PID = B.ID
		) 
		SELECT 	ID  FROM TT    	
	</select>  
	
    <!-- 递归查询子类别-->
	<select id="findDeptChildIdsByName" parameterType="string" resultType="Long" lang="velocity">
		WITH TT(ID) AS ( 
		SELECT ID FROM HO_DEPARTMENT WHERE NAME = @{_parameter.name,jdbcType=VARCHAR}
		UNION ALL 
		SELECT A.ID FROM HO_DEPARTMENT A,TT B WHERE A.PID = B.ID
		) 
		SELECT 	ID  FROM TT    	
	</select>  
</mapper>