#if($_type)#else#set($_type="edit")#end
<form class="ui-form" id="platform_org_dept_$!{_type}_form" action="$!{rc.contextPath}/platform/organization/department/$!{_type}" method="post">
	<input type="hidden" name="department.id" value="$!{department.id}" />
	<fieldset>
		<div class="ui-form-item ">
			<label class="ui-label"><span class="ui-form-required">*</span>部门编码：</label>
			<input class="ui-input" type="text" name="department.code" value="$!{department.code}" data-rule="部门编码:required;" />
		</div>
		<div class="ui-form-item ">
			<label class="ui-label"><span class="ui-form-required">*</span>部门名称：</label>
			<input class="ui-input" type="text" name="department.name" value="$!{department.name}" data-rule="部门名称:required;" />
		</div>
		
		<div class="ui-form-item ">
			<label class="ui-label"><span class="ui-form-required">*</span>上级部门：</label>
			<input type="hidden" name="department.parent.id" value="$!{department.parent.id}" />
			<input class="ui-input ui-readonly" type="text" name="department.parent.name" value="$!{department.parent.name}" data-rule="上级部门:required;" />
			<a href="javascript:void(0)" id="plat_org_dept_select_btn" class="ui-input-icon" onclick="$.selectDepartment(this,{muilt:false,fill:{id:'#platform_org_dept_$!{_type}_form input[name=\'department.parent.id\']',name:'#platform_org_dept_$!{_type}_form input[name=\'department.parent.name\']'}})"><i class="iconfont icon-folder-open-alt"></i></a>
		</div>
		
		<div class="ui-form-item ui-form-item-textarea colspan2">
      		<label class="ui-label">备注:</label>
      		<textarea class="ui-textarea" name="department.description">$!{department.description}</textarea>
		</div>
	</fieldset>
</form>
<script type="text/javascript">
	$(function(){
		$("#platform_org_dept_$!{_type}_form input[name='department.parent.name']").suggests({
			serviceUrl : "$!{rc.contextPath}/platform/organization/department/auto",
			returnKey : "name",
			valueKey : "id",
			onSelect: function (suggestion) {
				$("#platform_org_dept_$!{_type}_form input[name='department.parent.id']").val(suggestion.data);
		    }
		});
	});
</script>