<form class="ui-form">
	<fieldset>
		<div class="ui-form-item ">
			<label class="ui-label">部门编码：</label>
			<span class="ui-text" title="$!{department.code}">$!{department.code}</span>
		</div>
		<div class="ui-form-item ">
			<label class="ui-label">部门名称：</label>
			<span class="ui-text" title="$!{department.name}">$!{department.name}</span>
		</div>
		
		<div class="ui-form-item ">
			<label class="ui-label">上级部门：</label>
			#if($department.parent.code != 'ROOT')
			<span class="ui-text" title="$!{department.parent.name}">$!{department.parent.name}</span>
			#end
		</div>
		
		<div class="ui-form-item ui-form-item-textarea colspan2">
      		<label class="ui-label">备注:</label>
      		<textarea class="ui-textarea ui-readonly" readonly="readonly">$!{department.description}</textarea>
		</div>
	</fieldset>
</form>