<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">

<mapper namespace="com.supconit.nhgl.analyse.energy.dept.entities.NhENDeptHour">
	<resultMap type="com.supconit.nhgl.analyse.energy.dept.entities.NhENDeptHour" id="NhENDeptHourMap">
		<result property="id" column="ID" />
		<result property="deptId" column="DEPT_ID" />
		<result property="itemCode" column="ITEM_CODE" />
		<result property="total" column="TOTAL" />
		<result property="incremental" column="INCREMENTAL" />
		<result property="collectDate" column="COLLECT_DATE" jdbcType="DATE" javaType="java.util.Date"/>
		<result property="collectHour" column="COLLECT_HOUR" />
		<result property="collectTime" column="COLLECT_TIME" />
		
		<result property="standardCode" column="STANDARD_CODE" />
		<result property="parentCode" column="PARENT_CODE" />
		
		<result property="electricityTotal" column="electricityTotal" />
		<result property="monthElectricityTotal" column="monthElectricityTotal" />
        <result property="startTime" column="START_TIME"/>
        <result property="start" column="START"/>
        <result property="end" column="END"/>
        <result property="areaId" column="areaId"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parentId"/>
        <result property="lastTotal" column="lastTotal"/>
        
	</resultMap>
	<select id="getAllSubEnergy" resultMap="NhENDeptHourMap"
		parameterType="com.supconit.nhgl.analyse.energy.dept.entities.NhENDeptHour" lang="velocity">
		<![CDATA[
		SELECT 
			A.ID DEPT_ID,
			A.NAME, 
			#if($_databaseId=='oracle')
				NVL(SUM(B.INCREMENTAL),0)
			#else
				ISNULL(SUM(B.INCREMENTAL),0)
			#end
			TOTAL,
			A.PID parentId
		FROM 
			VIEW_NH_EN_DEPT A
		LEFT JOIN(
			SELECT t.* FROM NH_EN_DEPT_HOUR t 
			INNER JOIN 
			#if($_databaseId=='oracle')
				TABLE(func_getnhitem(4,@{_parameter.standardCode,jdbcType=VARCHAR}))
			#else
				func_getnhitem(4,@{_parameter.standardCode,jdbcType=VARCHAR})
			#end
			t2 ON t.ITEM_CODE=t2.standard_code
			where 1=1
				#if($_parameter.collectDate)
					and t.COLLECT_DATE>=@{_parameter.collectDate,jdbcType=DATE}
					and t.COLLECT_TIME<=@{_parameter.collectTime,jdbcType=TIMESTAMP}
				#end
		) B ON B.DEPT_ID=A.ID
		GROUP BY A.ID,A.NAME,A.PID
		ORDER BY A.ID
		]]>
	</select>
	<select id="getDayofSubEnergy" resultMap="NhENDeptHourMap"
		parameterType="com.supconit.nhgl.analyse.energy.dept.entities.NhENDeptHour" lang="velocity">
		<![CDATA[
		SELECT
			d.COLLECT_HOUR,
			#if($_databaseId=='oracle')
				nvl(sum(d.INCREMENTAL),0)
			#else
				isnull(sum(d.INCREMENTAL),0)
			#end	
			TOTAL
		FROM
			NH_EN_DEPT_HOUR d
			INNER JOIN 
			#if($_databaseId=='oracle')
				TABLE(func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.standardCode,jdbcType=VARCHAR}))
			#else
				func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.standardCode,jdbcType=VARCHAR})
			#end
			i ON d.ITEM_CODE = i.STANDARD_CODE
			INNER JOIN VIEW_NH_EN_DEPT A ON d.DEPT_ID = A.ID
   		where 1=1
				#if($_parameter.collectDate)
  					and d.COLLECT_DATE>=@{_parameter.collectDate,jdbcType=DATE}
				    and d.COLLECT_TIME<=@{_parameter.collectTime,jdbcType=TIMESTAMP}
			    #end
	   			#if($_parameter.deptId)
						AND A.ID =@{_parameter.deptId,jdbcType=NUMERIC}
				#else
						AND A.CODE='ROOT'
				#end
        GROUP BY d.COLLECT_HOUR
		]]>
	</select>
	<select id="getSumDayofSubEnergy" resultMap="NhENDeptHourMap"
		parameterType="com.supconit.nhgl.analyse.energy.dept.entities.NhENDeptHour" lang="velocity">
		<![CDATA[
		SELECT
			#if($_databaseId=='oracle')
				nvl(sum(d.INCREMENTAL),0)
			#else
				isnull(sum(d.INCREMENTAL),0)
			#end	
			TOTAL
		FROM
			NH_EN_DEPT_HOUR d
			INNER JOIN 
			#if($_databaseId=='oracle')
				TABLE(func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR}))
			#else
				func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR})
			#end
			i ON d.ITEM_CODE = i.STANDARD_CODE
   		where d.COLLECT_DATE=@{_parameter.now,jdbcType=DATE}
				#if($_parameter.start)
						AND d.COLLECT_HOUR >=@{_parameter.start,jdbcType=NUMERIC}
				#end
				#if($_parameter.end)
						AND d.COLLECT_HOUR <=@{_parameter.end,jdbcType=NUMERIC}
				#end
		]]>
	</select>
	<select id="getTwoDayofSubEnergy" resultMap="NhENDeptHourMap"
		parameterType="com.supconit.nhgl.analyse.energy.dept.entities.NhENDeptHour" lang="velocity">
		<![CDATA[
		SELECT
			d.COLLECT_DATE,
			#if($_databaseId=='oracle')
				nvl(sum(d.INCREMENTAL),0) TOTAL,
				(SELECT
					NVL(SUM(Y.INCREMENTAL),0)
				FROM NH_EN_DEPT_HOUR Y
				INNER JOIN 
					TABLE(func_getnhitem(4,@{_parameter.standardCode,jdbcType=VARCHAR}))F ON Y.ITEM_CODE = F.STANDARD_CODE
				INNER JOIN 
					VIEW_NH_EN_DEPT U ON U.ID=Y.DEPT_ID
				WHERE Y.COLLECT_TIME > @{_parameter.lastDay,jdbcType = TIMESTAMP}-1
					AND Y.COLLECT_TIME <= @{_parameter.now,jdbcType = TIMESTAMP}-1
					#if($_parameter.deptId)
							AND U.ID =@{_parameter.deptId,jdbcType=NUMERIC}
					#else
							AND U.CODE='ROOT'
					#end
				) AS lastTotal
			#else
				isnull(sum(d.INCREMENTAL),0) TOTAL,
				(SELECT 
					ISNULL(SUM(Y.INCREMENTAL),0) 
				FROM NH_EN_DEPT_HOUR Y
				INNER JOIN 
					func_getnhitem(4,@{_parameter.standardCode,jdbcType=VARCHAR})F ON Y.ITEM_CODE = F.STANDARD_CODE
				INNER JOIN 
					VIEW_NH_EN_DEPT U ON U.ID=Y.DEPT_ID
				WHERE Y.COLLECT_TIME > dateadd(day , -1, @{_parameter.lastDay,jdbcType = TIMESTAMP})
					AND Y.COLLECT_TIME <= dateadd(day , -1, @{_parameter.now,jdbcType = TIMESTAMP})
					#if($_parameter.deptId)
							AND U.ID =@{_parameter.deptId,jdbcType=NUMERIC}
					#else
							AND U.CODE='ROOT'
					#end
				)AS lastTotal
			#end	
			
		FROM
			NH_EN_DEPT_HOUR d
			INNER JOIN 
			#if($_databaseId=='oracle')
				TABLE(func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.standardCode,jdbcType=VARCHAR}))
			#else
				func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.standardCode,jdbcType=VARCHAR})
			#end
			i ON d.ITEM_CODE = i.STANDARD_CODE
			INNER JOIN VIEW_NH_EN_DEPT A ON d.DEPT_ID = A.ID
   		where 1=1
				AND d.COLLECT_TIME > @{_parameter.lastDay,jdbcType = TIMESTAMP}
				AND d.COLLECT_TIME <= @{_parameter.now,jdbcType = TIMESTAMP}
				#if($_parameter.deptId)
						AND A.ID =@{_parameter.deptId,jdbcType=NUMERIC}
				#else
						AND A.CODE='ROOT'
				#end
		GROUP BY d.COLLECT_DATE
		]]>
	</select>
	<select id="getDayofDeptEnergy" resultMap="NhENDeptHourMap"
		parameterType="com.supconit.nhgl.analyse.energy.dept.entities.NhENDeptHour" lang="velocity">
		<![CDATA[
		SELECT
			d.COLLECT_HOUR,
			#if($_databaseId=='oracle')
				nvl(sum(d.INCREMENTAL),0)
			#else
				isnull(sum(d.INCREMENTAL),0)
			#end	
			TOTAL
		FROM
			NH_EN_DEPT_HOUR d
			INNER JOIN 
			#if($_databaseId=='oracle')
				TABLE(func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR}))
			#else
				func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR})
			#end
			i ON d.ITEM_CODE = i.STANDARD_CODE
   		where d.COLLECT_DATE=@{_parameter.now,jdbcType=DATE}
				#if($_parameter.start)
						AND d.COLLECT_HOUR >=@{_parameter.start,jdbcType=NUMERIC}
				#end
				#if($_parameter.end)
						AND d.COLLECT_HOUR <=@{_parameter.end,jdbcType=NUMERIC}
				#end
				#if($_parameter.deptId)
						AND d.DEPT_ID =@{_parameter.deptId,jdbcType=NUMERIC}
				#end
        GROUP BY d.COLLECT_HOUR
		]]>
	</select>		
</mapper>