<table class="ui-table">
    <thead>
    <tr>
        <th class="ui-table-num">序号</th>
        <th >操作时间</th>
        <th >操作者</th>
        <th >所属环节</th>
        <th >操作类型</th>
        <th >流转意见</th>
    </tr>
    </thead>
    <tbody id="collapse9">

    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        $.post("$!rc.contextPath/platform/bpm/approval/fetch", {"processInstanceId": "$!_PROCESS_INSTANCE_ID"}, function (res) {
			$.each(res.rows, function(index,item){
				var hand = item.handleComment||'';
				var hands = item.handleComment||'';
				hands = hands.replace(/\s+/g,"");
                if(hand.length>15)
                    hand = hand.substring(0,15)+"...";
                $("#collapse9").append("<tr><td width='34px' style='text-align: center;'>" + (index + 1) + "</td><td>" + item.handleTime + "</td><td>" + item.personName + "</td><td>" + item.activityName + "</td><td>" + item.operateName+"</td><td title="+hands+">"+hand + "</td></tr>")
            });

        });
    });
</script>
