  <style>
  body #centerMain {
	overflow: hidden !important;
	}
  </style> 
  <script type="text/javascript" src="$!{nhgl_static_custom_url}/js/tabs.min.js"> </script>
  <SCRIPT type="text/javascript">
    $(document).ready(function(){
        	showProgress("span_area");
        	showProgress("span_area_list",38);
        	$('#tab-containers').tabs();
    	   	$('#qy_accordion_dept').accordion({
                "handle": ".handle",
                "panel": ".panel"
           	});
			var standardCode = '$!{fxCode}';
			var d = new Date();
			var nowYear = d.getFullYear();
			if(nowYear == $!year)
				$("#noNowYear").css("display","none");
			else
				$("#noNowYear").css("display","block");
    		if(standardCode != ''){
        		$("a[name='sub']").each(function(){
            		$(this).removeClass();
            	});
    			$("#code"+standardCode).attr("class","current");
    		}
    		var deptId='$!{deptId}';
			if(deptId!=''){
				if($("#qy_accordion_dept #"+deptId).parent().is(".accordion")){
					$("#qy_accordion_dept #"+deptId+" .accordion-opener").click();
				}else{
					$("#qy_accordion_dept #"+deptId).parent().parent("li").addClass("current");
					$("#qy_accordion_dept #"+deptId).parent().removeAttr("style");
					$("#qy_accordion_dept #"+deptId).parent().addClass("open");
					$("#qy_accordion_dept #"+deptId+" a").click();
					$("#qy_accordion_dept #"+deptId).addClass("current");
				}
			}
			
			$("ul.panel li").click(function(){
				$(".panel li").removeClass("current");
				$(this).addClass("current");
			});
    		if(deptId==''){
    			$("#tabBlock").load('$!{rc.contextPath}/nhgl/analyse/electric/dept/allYear?year='+$!year+'&fxCode='+standardCode);
    		}
			
        });
  </SCRIPT>
<div class="nh-header">
	<span class="nh-tab-name">电</span>
	<span class="nh-menu-name">#crumbs("$!menu.code",1)</span>
	<div class="nh-count">
    		<div class="count-item count-item-rise" id="rudD">
			<div class="item-data">
				<span class="data-num fInt" id="dayTimeTotal">$!nhMonth.monthDaytimeValue</span>
				<span>同比去年</span>
					<span class="data-trend" id="percentD">增长$!nhMonth.percentD%</span>
			</div>
			<div class="item-ratio">
				<div class="item-ratio-i"></div>
			</div>
			<div class="item-info">
				<span class="info-date" id="sTime1"></span>
				<span class="info-name" id="deptName1">所有部门 白天总用电量</span>
			</div>
		</div>
    		<div class="count-item count-item-rise" id="rudN">
			<div class="item-data">
				<span class="data-num fInt" id="nightTotal">$!nhMonth.monthNightValue</span>
				<span>同比去年</span>
					<span class="data-trend" id="percentN">增长$!nhMonth.percentN%</span>
			</div>
			<div class="item-ratio">
				<div class="item-ratio-i"></div>
			</div>
			<div class="item-info">
				<span class="info-date" id="sTime2"></span>
				<span class="info-name" id="deptName2">所有部门 夜间总用电量</span>
			</div>
		</div>
	</div>	
</div>
<div id="tab-containers" class="nh-box ui-tab ui-tab-h">
	<input id="deptId" type="hidden"/>
	<input id="subId" type="hidden"/>
	<input id="isp" type="hidden"/>
	<input id="deptName" type="hidden"/>
	<input id="year" value="$!{year}" type="hidden"/>
	<input id="start" type="hidden"/>
	<input id="flag" type="hidden" value="1"/>
	<input id="fxCode" value="$!{fxCode}" type="hidden"/>
	<ul class='ui-tab-items ui-tab-items-h'>
       <li class='ui-tab-item'><a href="#tabDept"><span class="ui-tab-area"></span>部门</a></li>
	</ul>
	<div  class="ui-tab-panels" style="overflow:auto">
		<div id="tabDept" class="ui-tab-panel">
        	<ul id="qy_accordion_dept" class="accordion">
        		#foreach($me in $list)
        			#if($me.parentId == $rootId)
        				<li name="subli" id="$me.deptId" isp="1">
        					#if($me.tb==1)
        						<h3 class="handle handle-rise" onclick="toTab('$!me.deptName','$!me.deptId','','$!me.total','$!me.electricTotalBefore','$!me.percent')">
        					#elseif($me.tb==0)
        						<h3 class="handle handle-unchanged" onclick="toTab('$!me.deptName','$!me.deptId','','$!me.total','$!me.electricTotalBefore','$!me.percent')">
        					#else
        						<h3 class="handle handle-decline" onclick="toTab('$!me.deptName','$!me.deptId','','$!me.total','$!me.electricTotalBefore','$!me.percent')">
        					#end
        					    <span class="handle-name" name="nameCss" title="$!me.deptName">$!me.deptName</span>
        						<span class="handle-num fInt">$!me.total</span>
        						<span class="handle-bar" name="span_area" num="$!me.total"></span>
        					</h3>
        					<ul class="panel">
        						#foreach($cm in $list)
        							#if($!me.deptId == $!cm.parentId)
        								#if($cm.tb==1)
        									<li name="subli" isp="" id="$cm.deptId" onclick="toTab('$!cm.deptName','$!cm.deptId','','$!cm.total','$!cm.electricTotalBefore','$!cm.percent')" class="pitem-rise">
        								#elseif($cm.tb==0)
        									<li name="subli" isp="" id="$cm.deptId" onclick="toTab('$!cm.deptName','$!cm.deptId','','$!cm.total','$!cm.electricTotalBefore','$!cm.percent')" class="pitem-unchanged">
        								#else
        									<li name="subli" isp="" id="$cm.deptId" onclick="toTab('$!cm.deptName','$!cm.deptId','','$!cm.total','$!cm.electricTotalBefore','$!cm.percent')" class="pitem-decline">
        								#end
        									<a class="pitem-link" href="javascript:;">
        										<span class="pitem-name" name="nameCss" title="$!cm.deptName">$!cm.deptName</span>
                        						<span class="pitem-num fInt">$!cm.total</span>
                        						<span class="pitem-bar" name="span_area_list" num="$!cm.total"></span>
        									</a>
        								</li>
        							#end
        						#end
        					</ul>
        				</li>
        			#end
        		#end
        	</ul>
		</div>
	</div>
</div>
<div class="nh-content">
	<div class="nh-nd">
		<div id="dateTime" class="nh-nd-date">
			<label>年度： </label>
			<ul class="nh-option">
				<li><a name = "time" id="$!{nextyear}" href="javascript:linkTo('$!{nextyear}')">$!{nextyear}年</a></li>
				<li><a name = "time" id="$!{year}" href="javascript:linkTo('$!{year}')" class="current">$!{year}年</a></li>
				<li><a name = "time" id="noNowYear" href="javascript:linkTo('')">今年</a></li>
			</ul>
		</div>
		<div class="nh-nd-entry" id="ndEntry">
			<label>分项能耗：</label>
			<ul class="nh-option">
				<li><a href="#" name="sub" id="" class="current" onclick="subTime('')">全部</a></li>
				##这里使用循环遍历出分项
				#foreach($s in $slist)
					#if($s.parentCode == '0')
						<li><a href="#" name="sub" id="code$!{s.standardCode}" onclick="subTime('$!{s.standardCode}')">$s.name</a></li>
					#end
				#end
			</ul>
		</div>
	</div>
	<div id="tabBlock" class="nh-ct">
	</div>
</div>
<script type="text/javascript">
	var code='$!code';
	if(code!='fzjc'){
		T.nhInit();
	}
	//重新load右边的tab
	function toTab(deptName,deptId,isp,eleTotal,lastEleTotal,percent)
	{	
		$("#deptId").val(deptId);
		$("#start").attr("value","");
		var subCode="";
		$("a[name='sub']").each(function(){
    		var aStyle = $(this).attr("class");
    		//如果样式为current，则表示被选中
    		if(aStyle == "current")
    			subCode = $(this).attr("id");
		});
		subCode = subCode.substring(4,subCode.length);
		var year = $("#year").val();
		$("#deptName").attr("value",deptName);
		var dname = deptName;
		if(dname.length>8)
    		dname = dname.substring(0,8)+"...";
    	$("#deptName1").text(dname+" 白天总用电量");
    	$("#deptName2").text(dname+" 夜间总用电量");
		$("#tabBlock").load('$!{rc.contextPath}/nhgl/analyse/electric/dept/allYear?year='+year+'&deptName='+encodeURIComponent(deptName)+'&deptId='+deptId+'&isp='+isp+'&fxCode='+subCode);
	}
	function linkTo(year)
	{
		var deptId=$("#deptId").val();
		var fxCode = "";
		$("a[name='sub']").each(function(){
    		var aStyle = $(this).attr("class");
    		//如果样式为current，则表示被选中
    		if(aStyle == "current")
    			fxCode = $(this).attr("id");
    	});
		fxCode = fxCode.substring(4,fxCode.length);
		$("#year").attr("value",year);
		var deptName = $("#deptName").val();
		var menuCode = '$!menu.code'
		$("#chart_content_id").load('$!{rc.contextPath}/nhgl/analyse/electric/dept/index?year='+year+'&deptId='+deptId+'&menuCode='+encodeURIComponent(menuCode)+'&code='+encodeURIComponent(code)+'&fxCode='+fxCode);
	}
	
	function subTime(standardCode){
		var deptId=$("#deptId").val();
		var deptName = $("#deptName").val();
		var year = $("#year").val();
		var menuCode = '$!menu.code'
		$("#chart_content_id").load('$!{rc.contextPath}/nhgl/analyse/electric/dept/index?year='+year+'&fxCode='+standardCode+'&deptId='+deptId+'&menuCode='+encodeURIComponent(menuCode)+'&code='+encodeURIComponent(code));
	}
</script>
