<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">
<mapper namespace="com.supconit.employee.timeCard.entities.TimeCard">
	<resultMap type="com.supconit.employee.timeCard.entities.TimeCard" id="timeCardResultMap">
		<result property="id" column="ID"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="cardNo" column="CARD_NO"/>
        <result property="personId" column="PERSON_ID"/>
        <result property="personName" column="PERSON_NAME"/>
        <result property="eventTime" column="EVENT_TIME"/>
        <result property="deviceName" column="DEVICE_NAME"/>
        <result property="eventDate" column="EVENT_DATE"/>
        <result property="eventType" column="EVENT_TYPE"/>
        <result property="eventTypeName" column="EVENT_TYPE_NAME"/>
        <result property="personNo" column="PERSON_NO"/>
	</resultMap>
	
	<sql id="TABLE_NAME" lang="velocity">ACCESS_RECORD</sql>
	
	<sql id="select_pre" lang="velocity">
		SELECT
			a.ID,
			a.DEVICE_ID,
			a.CARD_NO,
	        a.PERSON_ID,
	        a.PERSON_NAME,
	        a.EVENT_TIME,
	        a.DEVICE_NAME,
	        a.EVENT_DATE,
	        a.EVENT_TYPE,
	        a.PERSON_NO,
	        e.ENUM_TEXT eventTypeName
		FROM  <include refid="TABLE_NAME"/> a
		LEFT JOIN ENUM_DETAIL e on a.EVENT_TYPE = e.ENUM_VALUE
	</sql>
	
	<sql id="count_pre" lang="velocity">
	SELECT COUNT(*) FROM <include refid="TABLE_NAME"/> a 
	LEFT JOIN ENUM_DETAIL e on a.EVENT_TYPE = e.ENUM_VALUE</sql>
	
	<sql id="condition_sql" lang="velocity">
		<![CDATA[
		#where()
			e.TYPE_ID = 200
			#set($_p = $_parameter.condition)
			#if($_p.startTime && $_p.startTime != '')
				#set($_startTime = $_p.startTime)
				AND a.EVENT_TIME >= @{_startTime,jdbcType=BIGINT}
			#end
			#if($_p.endTime && $_p.endTime != '')
				#set($_endTime = $_p.endTime)
				AND a.EVENT_TIME <= @{_endTime,jdbcType=BIGINT}
			#end
			#if($_p.deviceId)
				#set($_deviceId = $_p.deviceId)
				AND a.DEVICE_ID = @{_deviceId,jdbcType=BIGINT}
			#end
			#if($_p.personId)
				#set($_personId = $_p.personId)
				AND a.PERSON_ID = @{_personId,jdbcType=BIGINT}
			#end
			#if($_p.eventDate && $_p.eventDate != '')
				#set($_eventDate = $_p.eventDate)
				AND a.EVENT_DATE = @{_eventDate,jdbcType=VARCHAR}
			#end
			#if($_p.personName && $_p.personName != '')
				#set($_personName = '%' + $_p.personName + '%')
				AND a.PERSON_NAME LIKE @{_personName,jdbcType=VARCHAR}
			#end
			#if($_p.cardNo && $_p.cardNo != '')
				#set($_cardNo = '%' + $_p.cardNo + '%')
				AND a.CARD_NO LIKE @{_cardNo,jdbcType=VARCHAR}
			#end
			#if($_p.eventType)
				#set($_eventType = $_p.eventType)
				AND a.EVENT_TYPE = @{_eventType,jdbcType=VARCHAR}
			#end
		#end
		]]>	
    </sql>
	
	
	<!-- 按条件查询记录-->
    <select id="findByConditions" parameterType="com.supconit.employee.timeCard.entities.TimeCard" resultMap="timeCardResultMap" lang="velocity" databaseId="oracle">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		<include refid="select_pre"/>
		<include refid="condition_sql"/>
		#order($_parameter.condition.orderField,"a.EVENT_TIME ")
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>
    
	<!-- 按条件查询记录-->
    <select id="findByConditions" parameterType="com.supconit.employee.timeCard.entities.TimeCard" resultMap="timeCardResultMap" lang="velocity" databaseId="sqlserver">
        <include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
			a.ID,
			a.DEVICE_ID,
			a.CARD_NO,
	        a.PERSON_ID,
	        a.PERSON_NAME,
	        a.EVENT_TIME,
	        a.DEVICE_NAME,
	        a.EVENT_DATE,
	        a.EVENT_TYPE,
	        a.PERSON_NO,
	        e.ENUM_TEXT eventTypeName
		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
		#order($_parameter.condition.orderField,"a.EVENT_TIME ")
		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM <include refid="TABLE_NAME"/> a
		LEFT JOIN ENUM_DETAIL e on a.EVENT_TYPE = e.ENUM_VALUE
		<include refid="condition_sql"/>
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
    </select>

    <select id="countByConditions" resultType="long" lang="velocity">
        <include refid="count_pre"/>
        <include refid="condition_sql"/>
    </select>
    
    <select id="getById" resultMap="timeCardResultMap" parameterType="long" lang="velocity">
		<include refid="select_pre"/>
		WHERE a.ID = @{_parameter.id, jdbcType=NUMERIC}
	</select>
	
</mapper>