<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://hc.supconit.com/mybatis-3-mapper.dtd">

<mapper namespace="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth">

	<resultMap type="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" id="NhQAreaMonthResultMap">     
        <result property="id" column="ID" />
        <result property="areaId" column="AREA_ID" />
        <result property="itemCode" column="ITEM_CODE" />
        <result property="monthKey" column="MONTH_KEY" />
        <result property="peakValue" column="PEAK_VALUE" />
        <result property="vallyValue" column="VALLY_VALUE" />
        <result property="commonValue" column="COMMON_VALUE" />
        <result property="monthDaytimeValue" column="MONTH_DAYTIME_VALUE"/>
        <result property="monthNightValue" column="MONTH_NIGHT_VALUE"/>
        <result property="monthWeekenValue" column="MONTH_WEEKEN_VALUE"/>
        <result property="totalMonthValue" column="TOTAL_MONTH_VALUE"/>
        <result property="totalYoy" column="TOTAL_YOY"/>
        <result property="areaName" column="areaName"/>
        <result property="parentId" column="parentId"/>
        <result property="tbzl" column="tbzl"/>
        <result property="tb" column="tb"/>
        <result property="itemName" column="itemName"/>
        <result property="lastMonth" column="lastMonth"/>

	</resultMap>
	
	<sql id="condition_sql" lang="velocity">
		<![CDATA[#where()
			1=1
			#set($_p = $_parameter.condition)
			#if($_p.itemCodeList.size()>0)
				AND
				#repeat( $_p.itemCodeList $_code "," " t.ITEM_CODE IN (" ")" )
			    	@{_code,jdbcType=VARCHAR}
				#end
			#end
			#if($_p.monthKey && $_p.monthKey != '')
				AND t.MONTH_KEY = @{_p.monthKey}
			#end
			#if($_p.nhType && $_p.nhType != '')
				AND t3.NH_TYPE = @{_p.nhType}
			#end
			#if($_p.areaIdList.size()>0)
				AND
				#repeat( $_p.areaIdList $_idss "," " t.AREA_ID IN (" ")" )
			    	@{_idss,jdbcType=NUMERIC}
				#end
			#end
			
		#end]]>
	</sql>
	<select id="getAreaElectricMonth" parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" resultMap="NhQAreaMonthResultMap">
		SELECT
			t.ITEM_CODE,
			t.AREA_ID,
			t2.AREA_NAME as areaName,
			t.MONTH_KEY,
			t.TOTAL_MONTH_VALUE,
			t.TOTAL_YOY
		FROM
			NH_Q_AREA_MONTH t
		INNER JOIN NH_area t2 ON t.AREA_ID = t2.id
		<where>
			1=1
			<if test="itemCode != null and itemCode != ''">AND t.ITEM_CODE = #{itemCode}</if>
			<if test="monthKey != null and monthKey != ''">AND t.MONTH_KEY = #{monthKey}</if>
		</where>
	</select>
	
	<select id="getAreaTree" parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" resultMap="NhQAreaMonthResultMap" lang="velocity">
				<![CDATA[
		SELECT
			t1.ID as areaId,
			t1.PARENT_ID as parentId,
			t1.AREA_NAME as areaName,
			#if($_databaseId == 'oracle')
				nvl(ROUND(SUM (t.TOTAL_MONTH_VALUE),0),0) TOTAL_MONTH_VALUE,
				CASE  
					when nvl(ROUND(SUM(t.TOTAL_YOY),0),0) < nvl(ROUND(SUM (t.TOTAL_MONTH_VALUE),0),0) then 1
					when nvl(ROUND(SUM(t.TOTAL_YOY),0),0) = nvl(ROUND(SUM (t.TOTAL_MONTH_VALUE),0),0) then 0
				else -1 end as tbzl
			#else
				ISNULL(ROUND(SUM (t.TOTAL_MONTH_VALUE),0),0) TOTAL_MONTH_VALUE,
				CASE  
					when ISNULL(ROUND(SUM(t.TOTAL_YOY),0),0) < ISNULL(ROUND(SUM (t.TOTAL_MONTH_VALUE),0),0) then 1
					when ISNULL(ROUND(SUM(t.TOTAL_YOY),0),0) = ISNULL(ROUND(SUM (t.TOTAL_MONTH_VALUE),0),0) then 0
				else -1 end as tbzl
			#end
		FROM
			(SELECT
					T3.AREA_ID,
					t3.TOTAL_MONTH_VALUE,
					t3.TOTAL_YOY
				FROM
					NH_Q_AREA_MONTH T3
				#where()
					1=1
					#if($_parameter.itemCodeList.size()>0)
						and 
						#repeat( $_parameter.itemCodeList $_code "," " T3.ITEM_CODE IN (" ")" )
					    	@{_code,jdbcType=VARCHAR}
						#end
					#end
					#if($_parameter.monthKey && $_parameter.monthKey != '')
						AND T3.MONTH_KEY = @{_parameter.monthKey,jdbcType=VARCHAR}
					#end
				#end
				) t
		RIGHT JOIN VIEW_NH_Q_AREA t1 ON t1.ID = T .AREA_ID
		GROUP BY
			t1.ID,
			t1.PARENT_ID,
			t1.AREA_NAME,
			t1.sort
		ORDER BY
			t1.sort ASC;
				]]>
	</select>
	
	<select id="findByCondition" resultMap="NhQAreaMonthResultMap" parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" databaseId="oracle" lang="velocity">
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
			t.ITEM_CODE,
			t3.NAME AS itemName,
			t.AREA_ID,
			t2.AREA_NAME as areaName,
			t.MONTH_KEY,
			t.TOTAL_MONTH_VALUE,
			t.TOTAL_YOY,
			T4.TOTAL_MONTH_VALUE as lastMonth
		FROM
			NH_Q_AREA_MONTH t
		LEFT JOIN NH_area t2 ON t.AREA_ID = t2.id
		LEFT JOIN NH_ITEM t3 ON t3.STANDARD_CODE = t.ITEM_CODE
		LEFT JOIN NH_Q_AREA_MONTH t4 
		ON t4.MONTH_KEY = to_char(add_months(to_date(T.month_key,'yyyy-mm'),-1),'yyyy-mm')
		AND T.AREA_ID = T4.AREA_ID
		AND t.ITEM_CODE = T4.ITEM_CODE
		<include refid="condition_sql" />
		#order($_parameter.condition,"t.MONTH_KEY DESC")
 		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	<select id="findByCondition" resultMap="NhQAreaMonthResultMap" parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" lang="velocity" databaseId="sqlserver">
		<include refid="_PUBLIC_V.PAGER_BEFORE"/>
		SELECT
			t.ITEM_CODE,
			t.AREA_ID,
			t3.NAME AS itemName,
			t2.AREA_NAME as areaName,
			t.MONTH_KEY,
			t.TOTAL_MONTH_VALUE,
			t.TOTAL_YOY,
			T4.TOTAL_MONTH_VALUE as lastMonth
		<include refid="_PUBLIC_V.ROW_NUMBER_OVER" /> 
 		#order($_parameter.condition,"t.MONTH_KEY DESC")
 		<include refid="_PUBLIC_V.AS_ROW_NUM" />
		FROM
			NH_Q_AREA_MONTH t
		LEFT JOIN NH_area t2 ON t.AREA_ID = t2.id
		LEFT JOIN NH_ITEM t3 ON t3.STANDARD_CODE = t.ITEM_CODE
		LEFT JOIN NH_Q_AREA_MONTH t4 
		ON t4.MONTH_KEY = LEFT(CONVERT(VARCHAR(10),dateadd(mm,-1,CONVERT(date,t.MONTH_KEY+'-01'))),7)
		AND T.AREA_ID = T4.AREA_ID
		AND t.ITEM_CODE = T4.ITEM_CODE
		<include refid="condition_sql" /> 
		<include refid="_PUBLIC_V.PAGER_AFTER"/>
	</select>
	<select id="countByCondition" resultType="Long" parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" lang="velocity">
		SELECT COUNT(*) FROM NH_Q_AREA_MONTH t
		LEFT JOIN NH_area t2 ON t.AREA_ID = t2.id
		LEFT JOIN NH_ITEM t3 ON t3.STANDARD_CODE = T.ITEM_CODE 
		<include refid="condition_sql" /> 
	</select>
	<select id="getAreaList" parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" resultMap="NhQAreaMonthResultMap" lang="velocity">
		<![CDATA[
		SELECT
			A.ID AREA_ID,
			A.PARENT_ID as parentId,
			A.AREA_NAME as areaName,
			#if($_databaseId=='oracle')
				NVL(ROUND(SUM (B.TOTAL_MONTH_VALUE),0),0) total,
				CASE  
				when NVL(ROUND(SUM(B.TOTAL_YOY),0),0) < NVL(ROUND(SUM (B.TOTAL_MONTH_VALUE),0),0) then 1
				when NVL(ROUND(SUM(B.TOTAL_YOY),0),0) = NVL(ROUND(SUM (B.TOTAL_MONTH_VALUE),0),0) then 0
			#else
				ISNULL(ROUND(SUM (B.TOTAL_MONTH_VALUE),0),0) total,
				CASE  
				when ISNULL(ROUND(SUM(B.TOTAL_YOY),0),0) < ISNULL(ROUND(SUM (B.TOTAL_MONTH_VALUE),0),0) then 1
				when ISNULL(ROUND(SUM(B.TOTAL_YOY),0),0) = ISNULL(ROUND(SUM (B.TOTAL_MONTH_VALUE),0),0) then 0
			#end
			else -1 end as tb
		FROM
			VIEW_NH_Q_AREA A 
		LEFT JOIN(
			SELECT t.* FROM NH_Q_AREA_MONTH t
			INNER JOIN 
			#if($_databaseId=='oracle')
				TABLE(func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR}))
			#else
				func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR})
			#end
			t2 ON t.ITEM_CODE=t2.standard_code
			where 1=1
				#if($_parameter.startTime)
						AND t.MONTH_KEY  >=@{_parameter.startTime,jdbcType=VARCHAR}
				#end
				#if($_parameter.endTime)
						AND t.MONTH_KEY <=@{_parameter.endTime,jdbcType=VARCHAR}
				#end
				#if($_parameter.monthKey && $_parameter.monthKey != '')
						AND t.MONTH_KEY = @{_parameter.monthKey,jdbcType=VARCHAR}
				#end
				)
		B ON A.ID=B.AREA_ID
		GROUP BY
			A.ID,
			A.AREA_NAME,
			A.PARENT_ID	,A.SORT
		ORDER BY A.SORT
			]]>
	</select>
	<select id="getAreaMonthList" parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" resultMap="NhQAreaMonthResultMap" lang="velocity">
		<![CDATA[
		SELECT
			t.MONTH_KEY,sum(t.TOTAL_MONTH_VALUE) total,sum(t.TOTAL_YOY) TOTAL_YOY
		FROM
			NH_Q_AREA_MONTH t
		INNER JOIN 
		#if($_databaseId=='oracle')
			TABLE(func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR}))
		#else
			func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR})
		#end
		t2 ON t.ITEM_CODE=t2.standard_code
		INNER JOIN VIEW_NH_Q_AREA A ON t.AREA_ID = A.id
		where
			1=1
			#if($_parameter.startTime)
					AND t.MONTH_KEY  >=@{_parameter.startTime,jdbcType=VARCHAR}
			#end
			#if($_parameter.endTime)
					AND t.MONTH_KEY <=@{_parameter.endTime,jdbcType=VARCHAR}
			#end
			#if($_parameter.areaId)
					AND t.AREA_ID = @{_parameter.areaId,jdbcType=NUMERIC}
			#else
					AND A.area_code='ROOT'
			#end
		GROUP BY t.MONTH_KEY
		]]>
	</select>
	<select id="getAreaDayNight" parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" resultMap="NhQAreaMonthResultMap" lang="velocity">
		<![CDATA[
		SELECT
			ROUND(sum(t.MONTH_DAYTIME_VALUE),0) MONTH_DAYTIME_VALUE,ROUND(sum(t.MONTH_NIGHT_VALUE),0) MONTH_NIGHT_VALUE
		FROM
			NH_Q_AREA_MONTH t
		INNER JOIN 
		#if($_databaseId=='oracle')
			TABLE(func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR}))
		#else
			func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},@{_parameter.itemCode,jdbcType=VARCHAR})
		#end
		t2 ON t.ITEM_CODE=t2.standard_code
		INNER JOIN VIEW_NH_Q_AREA A ON t.AREA_ID = A.id
		where
			1=1
			#if($_parameter.startTime)
					AND t.MONTH_KEY  >=@{_parameter.startTime,jdbcType=VARCHAR}
			#end
			#if($_parameter.endTime)
					AND t.MONTH_KEY <=@{_parameter.endTime,jdbcType=VARCHAR}
			#end
			#if($_parameter.areaId)
					AND t.AREA_ID = @{_parameter.areaId,jdbcType=NUMERIC}
			#else
					and a.area_code='ROOT'
			#end
		]]>
	</select>	
	<select id="getAreaSubGas" resultMap="NhQAreaMonthResultMap"
		parameterType="com.supconit.nhgl.analyse.gas.area.entities.NhQAreaMonth" lang="velocity">
		<![CDATA[
		SELECT
			t.STANDARD_CODE ITEM_CODE,
			t.NAME itemName,
			#if($_databaseId=='oracle')
			nvl(
			(
				SELECT
					ROUND(SUM (d.TOTAL_MONTH_VALUE),0)
				FROM
					NH_Q_AREA_MONTH d
				INNER JOIN 
				#if($_databaseId=='oracle')
					TABLE(func_getnhitem(3, t.STANDARD_CODE))
				#else
					func_getnhitem(3, t.STANDARD_CODE)
				#end
				i ON d.ITEM_CODE = i.STANDARD_CODE
				INNER JOIN 
					VIEW_NH_Q_AREA A ON A.ID=D.AREA_ID
		    where 1=1
		    	#if($_parameter.startTime)
						AND d.MONTH_KEY  >=@{_parameter.startTime,jdbcType=VARCHAR}
				#end
				#if($_parameter.endTime)
						AND d.MONTH_KEY <=@{_parameter.endTime,jdbcType=VARCHAR}
				#end
				#if($_parameter.areaId)
						AND d.AREA_ID = @{_parameter.areaId,jdbcType=NUMERIC}
				#else
						and a.area_code='ROOT'
				#end
			),0)
			#else
			ISNULL((
				SELECT
					ROUND(SUM (d.TOTAL_MONTH_VALUE),0)
				FROM
					NH_Q_AREA_MONTH d
				INNER JOIN 
				#if($_databaseId=='oracle')
					TABLE(func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},t.STANDARD_CODE))
				#else
					func_getnhitem(@{_parameter.nhType,jdbcType=NUMERIC},t.STANDARD_CODE)
				#end
				i ON d.ITEM_CODE = i.STANDARD_CODE
				INNER JOIN 
					VIEW_NH_Q_AREA A ON A.ID=D.AREA_ID
		    where 1=1
				#if($_parameter.startTime)
						AND d.MONTH_KEY  >=@{_parameter.startTime,jdbcType=VARCHAR}
				#end
				#if($_parameter.endTime)
						AND d.MONTH_KEY <=@{_parameter.endTime,jdbcType=VARCHAR}
				#end
				#if($_parameter.areaId)
						AND d.AREA_ID = @{_parameter.areaId,jdbcType=NUMERIC}
				#else
						and a.area_code='ROOT'
				#end
			),0)
			#end
			TOTAL
		FROM
			NH_ITEM t
		WHERE
			t.NH_TYPE = @{_parameter.nhType,jdbcType=NUMERIC} 
			AND t.PARENT_CODE=@{_parameter.parentCode,jdbcType=VARCHAR}
			order by t.STANDARD_CODE
		]]>
	</select>	
</mapper>