<style>
	a.ui-input-remove, a.ui-input-icon{ right:3px; }
	.panel li.current a{ background: #06251d; }
</style>
<div class="ui-layout-center" id="subMain">
	<div class="ui-layout-center">
		<table id="collect_datalist" class="fn-hide"></table>
	</div>
	<div class="ui-layout-north">
		<div class="ui-module-name"><label id="menuName">#crumbs("$!menu.code",1)</label></div>
		<form id="collect_list_search" class="ui-form ui-form-search fn-clear">
			<input id="locationId" type="hidden" name="locationId" value=""/>
			<div class="ui-form-search-left">
				<div class="ui-form-item">
		            <label class="ui-label">能耗编码：</label>
		            <input class="ui-input" type="text" name="energyCode"/>
				</div>
				<div class="ui-form-item">
		    		<label class="ui-label">能量表名称：</label>
		    		<input class="ui-input" type="text" name="deviceName"/>
				</div>
				<div class="ui-form-item">
			  		<label class="ui-label">分项名称：</label>
			  		<input class="ui-input ui-input-choose"readonly type="text" name="subCodeName" emptyFunc="clearItemCode" id="subCodeName" onclick="chooseSubSystem('subCode','subCodeName','collect_list',$!{nhType})"/>
					<input type="hidden" name="subCode" id="subCode"/>
##			    	<select class="ui-select" name="subCode">
##					<option value=''>--请选择--</option>
##			    		${subSystemInfoOptions}
##			    	</select>
				</div>
				<div class="ui-form-item-larger">
			  		<label class="ui-label">时间：</label>
	          		<input id="startTime" type="text" name="startTime"  class="ui-input ui-input-small  Wdate"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endTime\')}'});" value="$!device.startTime"/>
		      		<span class="ui-form-text">至</span> 
					<input id="endTime" type="text" name="endTime"  class="ui-input ui-input-small  Wdate"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}'})" value="$!device.endTime"/>
				</div>
				<div class="ui-form-item">
			  		<label class="ui-label">人工确认：</label>
			    	<select class="ui-select" name="humanConfirm">
					<option value=''>--请选择--</option>
					<option value='Y'>异常</option>
					<option value='N'>正常</option>
			    	</select>
				</div>
			</div>	
			<div class="ui-form-search-right">
					<button type="submit" id="subButton" class="btn btn-primary"><i class="iconfont icon-search"></i> 查&nbsp;询</button>
			</div>
		</form>
	</div>
</div>
<!--<div class="ui-layout-north">
	#bread_crumbs("NHGL_CJGL")
</div>
-->
<div class="ui-layout-west ztree-box">
	<div class="ztree-header">
		<div class="ztree-title">服务区域树</div>
	</div>
    <div id="collectlist_box" class="ui-box">
      <div class="ui-box-container">
          <ul id="geoArea_tree" class="ztree"></ul>
      </div>
    </div>
</div>
  <script type="text/javascript">
  var nhType=$!{nhType};
  	$(document).ready(function(){
##		if(T.innerLayout&&!T.innerLayout.destroyed){
##			T.innerLayout.destroy();
##		}
		$('#subButton').click(function(){
			var startTime=$('#startTime').val();
			var endTime=$('#endTime').val();
			if(startTime=='' || endTime==''){
				alert('开始时间和结束时间不能为空。');
				return false;
			}
		});
		T.nhInit();
		T.tabLayout = $("#chart_content_id").layout({
        defaults : {
            resizable : false,
            closable : false,
            spacing_open : 5
        },
        west : {
            size : 250,
            resizable : true,
            resizerTip : "移动改变大小",
            closable : true,
            togglerTip_open : "隐藏",
            togglerTip_closed : "打开"
        },
        onresize_end : function(){
            $("#collectlist_box").box("resize");
        }
    });
    	_content_layouts.push(T.innerLayout);
		_inner_layout=$("#subMain").layout({
			defaults:{
				resizabel:false,
				closable: false,
				spacing_open:5
			},
			onresize_end:function(){
				$("#collect_datalist").datagridResize({width:_inner_layout.state.center.innerWidth,height:_inner_layout.state.center.innerHeight});
			}
		});
		$("#collectlist_box").box({
        	width : function(){return 'auto';},
        	height : function(){return T.tabLayout.state.west.innerHeight-26;}
    	});
		var collect_datagrid=$("#collect_datalist").datagrid({
			url:'$!{rc.contextPath}/nhgl/query/collectError/energy/page',
			dataType: "json",
			method: "POST",
			singleSelected : true,
			striped : false,
			height:  _inner_layout.center.state.innerHeight,
			width :  _inner_layout.center.state.innerWidth,
			showOrderNumber : true,
			useRp : true,
			usepager: true,
    		rpOptions: [10, 20, 40, 50],
    		pageSize: 20,
    		searchFormId:"collect_list_search",
    		searchCallback:function(datagrid){},
    		onSuccess:function(table,grid){
    			if(!grid)return ;
    		},
    		colModel:[
    			{"display":"序号"},
				{display: "人工确认", name: "humanConfirm",format:function(humanConfirm){ 
				if(humanConfirm && humanConfirm=="N"){
					humanConfirm="正常";
				}else if(humanConfirm && humanConfirm=="Y"){
					humanConfirm="异常";
				}else{
					humanConfirm="";
				}
				return humanConfirm;
				},align:"center"},
    			{display: "能耗编码", name: "energyCode",width:130},
    			{display: "能量表名称", name: "deviceName",width:150},
	            {display: "服务区域", name: "serviceArea",width:150},
	            {display: "分项名称", name: "subName"},
	            {display: "上次计数", name: "lastTotal",format:function(lastTotal){ return fInt(lastTotal)},align:"right"},
	            {display: "本次计数", name: "total",format:function(total){ return fInt(total)},align:"right"},
	            {display: "用能量", name: "incremental",format:function(incremental){ return fInt(incremental)},align:"right"},
	            {display: "最近采集时间", name: "collectTime",width:"200",align:"center"}
    		],
    		buttons : [
            	{name: '确认', bclass: 'icon-pencil', onpress : edit},
	        ]
		});
	});
	function clearItemCode(){
		$("#subCodeName").attr("value","");
		$("#subCode").attr("value","");
	}
	
	function edit(com, grid,datagrid){ 
         	if(datagrid.getSelectedRows() == 0){ 
			$.message("没有选择要确认的项目", $.message.TYPE_ERROR, 4, false, true); return false; }
			 $.dialogs.normalDialog("collectError_add_dlg", 
 			 "$!{rc.contextPath}/nhgl/query/collectError/edit?id=" + datagrid.getSelectedRows()[0]["id"]+"&nhType="+$!{nhType}, 
 			 function(dlg,btn){ $.forms.submits("#collectError_form", 
 			 function(){ $("#collect_datalist").flexReload(); 
 			 dlg.close(); return true; }, btn); return false; },340,120,"确认"); 
        };
  </script>
  <script type="text/javascript">
    var setting = {
	data: {
		simpleData: {enable: true}
      },
      callback: {
			onClick: function(event, treeId, treeNode) {
##				if(treeNode.id==0){
##					$('#locationId').val(1)
##				}else{
					 $('#locationId').val(treeNode.id);
##				}
				 $('#subButton').click();
			}
		}
    };
	var zNodes = [];
	#foreach($!{treeNode} in $!{treeList})
		zNodes.push({id:"$!{treeNode.id}", pId:"$!{treeNode.parentId}", name:"$!{treeNode.areaName}"});     
	#end 
	$(document).ready(function(){
	        $.fn.zTree.init($("#geoArea_tree"), setting,zNodes).expandAll(true);
	});
  </script>