.ib {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

body #centerMain {
    overflow: auto !important;
}

#centerMain, .ui-tab-panels {
    background: #0b0e15
}

.ui-layout-pane {
    background: #0b0e15
}

.ui-header {
	width: 100%;
    height: 48px;
    background: #000 url(images/ui-header-bg.png) no-repeat 0 50%;
    border-bottom: 1px solid #06251d;
}

.ui-header-left {
	margin-left: 186px;
    height: 48px;
    background: none;
}
.ui-header-left .header-logo {
	float: left;
	width: 170px;
	height: 48px;
	background: url(images/ui-header-logo.png) no-repeat 0 100%;
}
.ui-header-left .header-title {
	float: left;
	width: 120px;
	height: 48px;
	margin-left: 20px;
	background: url(images/ui-header-NHGL.png) no-repeat 0 80%;
}
.ui-header-right {
    width: 500px;
    height: 48px;
    background: url(images/ui-header-right.png) no-repeat 50% 50%;
}

.userwlc,.userwlc a{
	display: inline-block;
	height:30px;
	line-height:30px;
}

.usericon,
.settingicon,
.reseticon,
.logouticon{
	display: inline-block;
	width: 20px;
	height: 30px;
}
.usericon{
	background: url(images/usericon.png) no-repeat 50% 50%;
}
.settingicon{
	background: url(images/settingicon.png) no-repeat 50% 50%;
}
.reseticon{
	background: url(images/reseticon.png) no-repeat 50% 50%;
}
.logouticon{
	background: url(images/logouticon.png) no-repeat 50% 50%;
}

/* .ui-header-logo {
    width: 274px;
    height: 48px;
    background: url(../images/header_logo1.png) center center no-repeat
} */

.ui-menu-warp {
    background: #0b0e15;
    filter: none;
    border-color: #25e949;
    height: 30px
}

.ui-menu-item a {
    padding: 6px 20px 6px 14px
}

.ui-menu-hover a.ui-menu-link, .ui-menu-item a.ui-menu-link:hover {
    background: url(../images/menu_hover.png) repeat-x
}

.ui-menu-item ul {
    border-color: #25e949;
    background: #000
}

.ui-menu-item ul li {
    background: #000;
    width: auto !important
}

.ui-menu-item ul li.ui-menu-hover, .ui-menu-item ul li:hover {
    color: #000
}

.ui-menu-item ul li.ui-menu-hover a {
    color: #000;
    background-color: #25e949
}

.ui-menu-item ul li a {
    color: #fff;
    width: 106px !important;
}

.ui-header-info {
    width: 340px;
    height: 30px;
    top: 9px;
    right: 60px
}

.ui-header-info-item {
    height: 30px;
    line-height: 30px;
    color: #2cfe17
}

.ui-header-info a {
    color: #2cfe17
}

.ui-footer {
    background: #06251d;
    filter: none;
    border-top: 1px solid #25e949;
    color: #2c8c2c;
    text-align: right;
    width: auto;
    padding-right: 15px
}

a {
    color: #17c3cf
}

a:hover {
    color: #17c3cf
}

.ui-form-search {
    background: none;
    border-color: #25e949;
    margin-top: 0
}

.ui-input, .flexigrid div.bDiv td input, .ui-textarea {
    background: #252525;
    border: 1px solid #6b6b6b;
    color: #fff
}

.ui-input:focus, .flexigrid div.bDiv td input:focus, .ui-textarea:focus {
    border: 1px solid #16c4cf
}

.ui-input:focus {
    border: 1px solid #16c4cf
}

.ui-input:focus, .ui-textarea:focus, .ui-input-focus {
    border: 1px solid #16c4cf
}

.Wdate {
    background: #252525 url(../images/datePicker.gif) no-repeat right !important;
    border: 1px solid #6b6b6b;
    color: #fff !important
}

.ui-select {
    background: #252525;
    color: #fff
}

.btn {
    background-color: #152421;
    background: linear-gradient(top, #094925, #152421);
    background: -webkit-gradient(linear, left top, left bottom, from(#094925), to(#152421));
    background: -moz-linear-gradient(top, #094925, #152421);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#094925, endColorstr=#152421);
    background: -o-linear-gradient(top, #094925, #152421);
    border: 1px solid #25e949;
    color: #d1d0d5;
    border-radius: 3px;
    padding: 2px 10px
}

.btn:hover, .btn:focus {
    color: #020001;
    text-decoration: none;
    border: 1px solid #17c5ce;
    background: #17c5ce;
    background-color: #17c5ce
}

.btn:hover .iconfont, .btn:focus .iconfont {
    color: #020001
}

.btn-primary {
    background-color: #172628;
    background: linear-gradient(top, #0a6366, #172628);
    background: -webkit-gradient(linear, left top, left bottom, from(#0a6366), to(#172628));
    background: -moz-linear-gradient(top, #0a6366, #172628);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0a6366, endColorstr=#172628);
    background: -o-linear-gradient(top, #0a6366, #172628);
    border: 1px solid #17c5ce;
    color: #d1d0d5;
    border-radius: 3px;
    padding: 2px 10px
}

.ui-label, .ui-form-search .ui-label {
    color: #fff
}

.flexigrid div.fbutton a {
    color: #2aff10;
    border: none
}

.flexigrid div.fbutton a:hover {
    background: none;
    color: #18c3cd;
    border: none
}

.ui-box {
    background: none;
    border-color: #25e949;
    border: none
}

.ui-box-container {
    background: none;
    border-color: #25e949;
    border: none
}

.ztree li a {
    color: #cecfd4
}

.ztree li a.curSelectedNode {
    color: #fff;
    background-color: #5b461a;
    border-color: #f3da1d
}

.ztree li span.button {
    background-image: url(../images/zTreeStandard.png)
}

.ui-layout-toggler {
    background-color: #1b1c23;
    background: linear-gradient(top, #094a25, #1b1c23);
    background: -webkit-gradient(linear, left top, left bottom, from(#094a25), to(#1b1c23));
    background: -moz-linear-gradient(top, #094a25, #1b1c23);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#094a25, endColorstr=#1b1c23);
    background: -o-linear-gradient(top, #094a25, #1b1c23)
}

.ui-layout-toggler-hover, .ui-layout-resizer-hover .ui-layout-toggler-hover {
    background-color: #0a4f25;
    background: linear-gradient(top, #2bfc19, #0a4f25);
    background: -webkit-gradient(linear, left top, left bottom, from(#2bfc19), to(#0a4f25));
    background: -moz-linear-gradient(top, #2bfc19, #0a4f25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2bfc19, endColorstr=#0a4f25);
    background: -o-linear-gradient(top, #2bfc19, #0a4f25)
}

.ui_inner {
    border: 1px solid #25e949
}

.ui_title {
    background: #06251d;
    filter: none;
    border-bottom: 1px solid #0d4923
}

.ui_dialog {
    background: #0b0e15
}

.ui_dialog .ui_main {
    border-bottom: 1px solid #25e949
}

.ui_buttons {
    background: #0b0e15
}

.ui-form fieldset {
    background: none;
    border: 1px solid #25e949
}

.ui_lt, .ui_rt, .ui_l, .ui_r, .ui_lb, .ui_b, .ui_t, .ui_rb {
    background: rgba(44, 140, 44, 0.3)
}

a.ui_close:link, a.ui_max:link, a.ui_res:link, a.ui_min:link {
    color: #2aff10
}

a.ui_close:hover, .ui_close:focus {
    color: #2aff10
}

.ui_buttons .btn {
    background-color: #172628;
    background: linear-gradient(top, #0a6366, #172628);
    background: -webkit-gradient(linear, left top, left bottom, from(#0a6366), to(#172628));
    background: -moz-linear-gradient(top, #0a6366, #172628);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0a6366, endColorstr=#172628);
    background: -o-linear-gradient(top, #0a6366, #172628);
    border: 1px solid #17c5ce;
    color: #d1d0d5;
    border-radius: 3px;
    padding: 2px 10px
}

.ui_buttons .btn-primary {
    background-color: #152421;
    background: linear-gradient(top, #094925, #152421);
    background: -webkit-gradient(linear, left top, left bottom, from(#094925), to(#152421));
    background: -moz-linear-gradient(top, #094925, #152421);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#094925, endColorstr=#152421);
    background: -o-linear-gradient(top, #094925, #152421);
    border: 1px solid #25e949;
    color: #d1d0d5;
    border-radius: 3px;
    padding: 2px 10px
}

.ui_buttons .btn:hover, .ui_buttons .btn:focus {
    color: #020001;
    text-decoration: none;
    border: 1px solid #17c5ce;
    background: #17c5ce;
    background-color: #17c5ce
}

.ui_buttons .btn-primary:hover, .ui_buttons .btn-primary:focus {
    color: #020001;
    text-decoration: none;
    border: 1px solid #25e949;
    background: #25e949;
    background-color: #25e949
}

body .ui_dialog .iconfont {
    color: #d1d0d5 !important
}

body .btn:hover .iconfont, body .btn:focus .iconfont {
    color: #020001 !important
}

.ui-module-name {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: '����';
    color: #f6da1e;
    padding-left: 10px;
    border-left: 1px solid #25e949
}

.ztree-box {
    border-right: 1px solid #25e949
}

.ztree-header {
    height: 32px;
    border-bottom: 1px solid #0c4a25;
    background: #06251d
}

.ztree-header .ztree-title {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 24px;
    padding: 4px 0;
    line-height: 24px;
    padding-left: 20px;
    margin-left: 10px;
    font-size: 14px;
    color: #2be64d;
    background: url(../images/tree_icon.png) left center no-repeat
}

.ztree-header .ztree-title h4 {
    font-size: 12px;
    width: 175px
}

.nh-container {
    border-left: 1px solid #26e849
}

.ui-links {
    width: 42px;
    height: 100%;
    overflow: hidden
}

.ui-links-item {
    display: block;
    width: 40px;
    height: 94px;
    margin-top: 2px;
    margin-left: 2px
}

.ui-links-item a {
    display: block;
    width: 40px;
    height: 94px;
    margin-top: 2px;
    margin-left: 2px;
    background: url(../images/tab_item_v.png);
    color: #2bff15;
    text-align: center;
    overflow: hidden;
    outline: none;
    text-decoration: none
}

.ui-links .current a {
    color: #fff
}

.font-v {
    width: 20px;
    color: #2bff15;
    text-align: center;
    line-height: 18px;
    margin: 0 auto
}

.ui-links .current a .font-v {
    color: #fff
}

.tab-icons {
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 5px;
    background: url(../images/tab_icons_v.png)
}

.tab-icons-d {
    background-position: 0 0
}

.tab-icons-s {
    background-position: -24px 0
}

.tab-icons-r {
    background-position: -48px 0;
    margin-top: 14px
}

.tab-icons-q {
    background-position: -72px 0;
    margin-top: 14px
}

.ui-links .current .tab-icons-d {
    background-position: 0 -24px
}

.ui-links .current .tab-icons-s {
    background-position: -24px -24px
}

.ui-links .current .tab-icons-r {
    background-position: -48px -24px
}

.ui-links .current .tab-icons-q {
    background-position: -72px -24px
}

.nh-header {
    height: 57px;
    border-bottom: 1px solid #25e949;
    position: relative
}

.nh-header > span {
    display: block;
    float: left;
    margin-top: 30px;
    margin-left: 8px
}

.nh-header .nh-tab-name {
    font-size: 36px;
    color: #f6db1c;
    margin: 20px 0 0 20px
}

.nh-header .nh-menu-name {
    font-size: 14px;
    color: #f6db1c
}

.nh-header .nh-header-time {
    color: #6b6b6b
}

.nh-header .nh-count {
    height: 56px;
    position: absolute;
    left: 305px
}

.nh-header .nh-count .count-item {
    width: 395px;
    padding-left: 45px;
    height: 56px;
    float: left;
    background: url(../images/trend.png) left center no-repeat
}

.nh-header .nh-count .count-item .item-data {
    padding: 7px 0;
    color: #FFFFFF
}

.nh-header .nh-count .count-item .item-ratio {
    width: 250px;
    height: 2px;
    font-size: 0;
    overflow: hidden;
    background: #252525
}

.nh-header .nh-count .count-item .item-ratio .item-ratio-i {
    width: 100%;
    height: 100%
}

.nh-header .nh-count .count-item .item-info .info-date {
    color: #16c4cf
}

.nh-header .nh-count .count-item .item-info .info-name {
    margin-left: 10px;
    color: #cfd0d4
}

.nh-header .nh-count .count-item .data-num {
    font-size: 24px;
    font-family: '����';
    font-weight: bold;
    margin-right: 10px
}

.nh-header .nh-count .count-item-rise {
    background-position: 0 0
}

.nh-header .nh-count .count-item-rise .data-num, .nh-header .nh-count .count-item-rise .data-trend {
    color: #f00
}

.nh-header .nh-count .count-item-rise .item-ratio-i {
    background: #f00
}

.nh-header .nh-count .count-item-decline {
    background-position: 0 -60px
}

.nh-header .nh-count .count-item-decline .data-num, .nh-header .nh-count .count-item-decline .data-trend {
    color: #2bff15
}

.nh-header .nh-count .count-item-decline .item-ratio-i {
    background: #2bff15
}

.nh-header .nh-count .count-item-unchanged {
    background-position: 0 -120px
}

.nh-header .nh-count .count-item-unchanged .data-num, .nh-header .nh-count .count-item-unchanged .data-trend {
    color: #cfd0d4
}

.nh-header .nh-count .count-item-unchanged .item-ratio-i {
    background: #cfd0d4
}

.nh-box {
    width: 340px;
    padding: 0 2px;
    float: left;
    background: url(../images/nh_box_bg.png) center top;
    background-repeat: no-repeat
}

.nh-box .ui-tab-panels {
    padding-bottom: 10px;
    border-bottom: 1px solid #25e949
}

.nh-content {
    margin-left: 344px;
    border-left: 1px solid #25e949;
    overflow: hidden
}

.nh-content .nh-nd {
    border-bottom: 1px solid #26e849
}

.nh-content .nh-nd label {
    color: #cfd0d4
}

.nh-content .nh-nd .nh-nd-date {
    padding: 6px 0;
    padding-left: 56px
}

.nh-content .nh-nd .nh-nd-date .ui-input {
    float: none;
    background: #252525 url(../images/datePicker.gif) no-repeat right;
    border: 1px solid #6b6b6b;
    color: #fff
}

.nh-content .nh-nd .nh-nd-date .ui-input:focus {
    border: 1px solid #16c4cf
}

.nh-content .nh-nd .nh-nd-entry {
    line-height: 36px;
    padding-left: 56px;
    border-top: 1px solid #0d4925
}

.nh-content .nh-ct {
    padding: 5px
}

.nh-content .nh-ct .nh-chart {
    height: 300px;
    border: 1px solid #0d4925
}

.nh-content .nh-ct .nh-grid-wrap {
    float: left;
    width: 49%;
    overflow: hidden;
    margin-left: 5px
}

.nh-content .nh-ct .nh-grid {
    position: relative;
    margin-top: 5px;
    padding-bottom: 7px;
    border-bottom: 1px solid #25e94a
}

.nh-content .nh-ct .nh-grid-half {
    width: 49%;
    float: left;
    margin-right: 5px
}

.nh-content .nh-ct h2 {
    text-align: center;
    font-size: 18px;
    color: #f6db1c;
    font-family: '����';
    margin: 10px 0
}

.nh-content .nh-ct .nh-link {
    float: right;
    font-size: 12px;
    color: #2aff12;
    margin-top: 3px;
    margin-right: 5px
}

.nh-content1 {
    margin-left: 0;
    border: none;
    padding-bottom: 10px
}

.nh-content1 .nh-ct {
    padding: 0
}

.nh-table {
    width: 100%;
    border: 1px solid #25e94a
}

.nh-table td, .nh-table th {
    height: 28px;
    border-right: 1px solid #0d4b26;
    border-bottom: 1px solid #0d4b26;
    color: #d1d2d7;
    padding: 0 6px;
    font-family: '����'
}

.nh-table thead th {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #23e64a
}

.nh-table td.nh-td-num {
    text-align: center;
    font-weight: bold;
    color: #23e64a
}

.nh-table td.nh-table-num {
    text-align: center;
    font-weight: bold;
    color: #23e64a
}

.nh-table td.nh-td-trend {
    text-align: center
}

.nh-table i.i-trend {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 14px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/i_trend.png) center
}

.nh-table .nh-td-bar {
    width: 160px;
    height: 14px;
    border: 1px solid #16c4cf;
    float: left;
    background-color: #172327;
    background: linear-gradient(top, #0b656a, #172327);
    background: -webkit-gradient(linear, left top, left bottom, from(#0b656a), to(#172327));
    background: -moz-linear-gradient(top, #0b656a, #172327);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0b656a, endColorstr=#172327);
    background: -o-linear-gradient(top, #0b656a, #172327)
}

.nh-table .nh-td-data {
    font-size: 14px;
    font-weight: bold;
    text-align: right
}

.nh-table .nh-tr-rise i.i-trend {
    background-position: 0 0
}

.nh-table .nh-tr-rise .nh-td-data {
    color: #fe0000
}

.nh-table .nh-tr-unchanged i.i-trend {
    background-position: 0 -20px
}

.nh-table .nh-tr-unchanged .nh-td-data {
    color: #cfd0d5
}

.nh-table .nh-tr-decline i.i-trend {
    background-position: 0 -40px
}

.nh-table .nh-tr-decline .nh-td-data {
    color: #2bff15
}

.cir {
    width: 15px;
    height: 15px;
    position: absolute;
    background: url(../images/nh_cir.png)
}

.cir-lt {
    background-position: 0 0;
    left: 0;
    top: 0
}

.cir-lb {
    background-position: -15px 0;
    left: 0;
    bottom: -1px
}

.cir-rt {
    background-position: -30px 0;
    right: 0;
    top: 0
}

.cir-rb {
    background-position: -45px 0;
    right: 0;
    bottom: -1px
}

.nh-option {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    vertical-align: middle
}

.nh-option li {
    display: block;
    float: left;
    margin-right: 10px
}

.nh-option a {
    display: block;
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: #fff;
    font-family: '����';
    text-decoration: none;
    outline: none
}

.nh-option a.current {
    background: #16c4cf;
    color: #000;
    border-radius: 2px
}

.evl {
    width: 100%;
    background: url(../images/evl_bg.png) top repeat-x;
    font-family: '����'
}

.evl-main {
    width: 1024px;
    overflow: hidden;
    margin: 0 auto;
    background: url(../images/evl_main.jpg) top no-repeat
}

.evl-score-current, .evl-score-cancel, .evl-score-breakoff, .evl-score-finsh, .evl-report-detail {
    display: none
}

.evl-score {
    height: 180px
}

.evl-score .evl-logo {
    width: 122px;
    height: 122px;
    background: url(../images/evlogo_n.png) no-repeat;
    float: left;
    margin: 38px 0 0 86px
}

.evl-score .logo-active {
    background: url(../images/evlogo_active.gif) no-repeat
}

.evl-score .logo-notice {
    background: url(../images/evlogo_notice.png) no-repeat
}

.evl-score .logo-warn {
    background: url(../images/evlogo_warn.png) no-repeat
}

.evl-score .goal {
    font-family: '����';
    font-size: 36px;
    color: #fff;
    display: block;
    height: 50px;
    padding-left: 12px;
    margin-top: 45px;
    text-align: center
}

.evl-score .evl-details {
    width: 414px;
    height: 180px;
    float: left;
    margin-left: 100px
}

.evl-score .evl-details p {
    color: #d0d0d0;
    margin: 0;
    font-size: 14px;
    font-family: '����';
    margin-top: 5px
}

.evl-score .evl-details p.score {
    font-size: 36px;
    font-family: '����';
    margin-top: 60px;
    margin-bottom: 20px;
    position: relative
}

.evl-score .evl-details p.score .score-num {
    font-size: 72px;
    color: #2bff15
}

.evl-score .evl-details p.score .score-num-warn {
    color: #fe0000
}

.evl-score .evl-details p.score i {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 20px;
    height: 20px;
    background: url(../images/i_trend2.png) center no-repeat;
    position: absolute
}

.evl-score .evl-details p.score i.score-rise {
    background-position: 0 0;
    right: -22px;
    bottom: 0
}

.evl-score .evl-details p.score i.score-unchanged {
    background-position: 0 -20px;
    right: -22px;
    bottom: 0
}

.evl-score .evl-details p.score i.score-decline {
    background-position: 0 -40px;
    right: -22px;
    bottom: 0
}

.evl-score .btn-score-action {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 153px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    float: left;
    margin: 73px 0 0 100px;
    background: url(../images/evl_btn.png);
    font-size: 24px;
    font-family: '΢���ź�';
    color: #fff
}

.evl-score .btn-score-action:hover {
    background-position: 0 -52px;
    text-decoration: none;
    color: #0b0e15
}

.evl-score-current .evl-details {
    width: 510px
}

.evl-score-current .evl-details p {
    font-size: 12px;
    margin-top: 8px
}

.evl-score-current .evl-details p.score {
    font-size: 24px;
    margin-top: 72px
}

.evl-score-current .evl-details .btn-score-cancel {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/evl_cancel.png);
    position: absolute;
    right: 0;
    top: 0
}

.evl-score-current .evl-details .btn-score-cancel:hover {
    background-position: -16px 0
}

.score-link {
    color: #2cfe15;
    font-size: 12px;
    margin-right: 10px
}

.score-link:hover {
    color: #2cfe15
}

.rpt-num {
    margin: 0 7px
}

.color-warn {
    color: #fb0200
}

.progress-warp {
    position: relative
}

.progress {
    width: 489px;
    height: 14px;
    border: 1px solid #25e949;
    overflow: hidden
}

.progress .progress-bar {
    width: 300px;
    height: 16px;
    background: url(../images/loading.gif) left center no-repeat
}

.evl-issue {
    width: 414px;
    height: auto;
    overflow: hidden;
    margin: 0 auto
}

.issue-list {
    font-size: 12px;
    font-family: '����';
    margin-top: 20px
}

.issue-list li {
    padding-left: 50px
}

.issue-list li.issue-exception {
    background: url(../images/issue_icon1.png) left top no-repeat
}

.issue-list li.issue-warn {
    background: url(../images/issue_icon2.png) left top no-repeat
}

.issue-list p {
    color: #FFFFFF
}

.issue-list .issue-title {
    color: #2cfe15;
    font-size: 14px;
    font-weight: bold
}

.issue-list .issue-status {
    color: #d0d0d0
}

.evl-report {
    width: 414px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px
}

.evl-report .rpt-item {
    height: auto
}

.evl-report .rpt-item-excep {
    background: url(../images/issue_icon1.png) left top no-repeat
}

.evl-report .rpt-item-warn {
    background: url(../images/issue_icon2.png) left top no-repeat
}

.evl-report .rpt-item-title {
    padding-left: 52px;
    padding-top: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #2cfe15
}

.evl-report .rpt-list {
    padding-left: 32px
}

.evl-report .rpt-list .rpt-list-item {
    height: auto;
    margin: 14px 0
}

.evl-report .rpt-list .rpt-list-link {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 18px;
    font-size: 12px;
    color: #d0d0ce;
    text-decoration: none
}

.evl-report .rpt-list .rpt-state {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 33px;
    height: 18px;
    line-height: 18px;
    text-align: center
}

.evl-report .rpt-list .state-n {
    background: #000
}

.evl-report .rpt-list .state-e {
    background: #fb0200
}

.evl-report .rpt-list .state-y {
    background: yellow
}

.evl-report .rpt-list .state-t {
    background: #19c3d2
}

.evl-report .rpt-list .state-i {
    background: #6b6c67
}

.evl-report .rpt-list .rpt-list-detail {
    padding-left: 20px;
    padding-top: 10px;
    display: none
}

.evl-report .rpt-list .rpt-list-detail li {
    margin-top: 4px;
    color: #fff
}

i.icon-img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: -2px
}

i.icon-loading {
    width: 16px;
    height: 16px;
    background: url(../images/loading_gif.gif) no-repeat;
    margin-left: 10px;
    display: none
}

.icon-closed {
    width: 10px;
    height: 10px;
    background: url(../images/icons_10x10.png);
    background-position: 0 0
}

.icon-open {
    width: 10px;
    height: 10px;
    background: url(../images/icons_10x10.png);
    background-position: -10px 0
}

.evl-piece {
    margin: 35px 0
}

.evl-piece-half-l {
    width: 492px;
    float: left
}

.evl-piece-half-r {
    width: 492px;
    float: left;
    margin-left: 40px
}

.evl-c-title {
    height: 26px;
    line-height: 26px;
    background: url(../images/evl_c_title.png) repeat-x;
    color: #fff;
    padding: 0 10px;
    font-family: '����';
    font-size: 12px
}

.evl-c-title span {
    float: right
}

.evl-c-cont {
    overflow: hidden;
    background: #081a19;
    padding-bottom: 20px
}

.evl-c-cont .evl-c-caption {
    margin-top: 25px
}

.evl-c-cont .evl-c-name, .evl-c-cont .evl-c-details {
    font-family: '����';
    font-size: 30px;
    margin-left: 20px
}

.evl-c-cont .evl-c-name {
    color: #23e64c
}

.evl-c-cont .evl-c-details {
    color: #f5dc1d
}

.evl-c-cont .evl-c-more {
    color: #fff;
    font-family: '����';
    font-size: 12px;
    margin-left: 20px
}

.evl-c-cont .evl-c-cl {
    overflow: hidden;
    margin-top: 20px
}

.evl-c-cont .evl-c-cl .evl-c-chart {
    width: 300px;
    height: 300px;
    float: left;
    margin: 0 60px;
    background: #16c4cd
}

.evl-c-cont .evl-c-cl .evl-c-list {
    height: auto;
    float: left
}

.evl-c-cont .evl-c-cl .c-list-header {
    color: #23ea49;
    font-family: '����';
    padding-left: 32px
}

.evl-c-cont .evl-c-cl .c-list-li {
    height: 32px;
    line-height: 32px;
    padding-top: 10px;
    cursor: pointer
}

.evl-c-cont .evl-c-cl .c-list-li span {
    color: #fff;
    font-family: '����'
}

.evl-c-cont .evl-c-cl .c-list-li .c-list-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 32px;
    height: 32px;
    background-color: #23ea49;
    background-image: url(../images/c_list_icons.png);
    vertical-align: middle
}

.evl-c-cont .evl-c-cl .c-list-li a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #0a4a27;
    text-decoration: none
}

.evl-c-cont .evl-c-cl .c-list-li .c-list-tit {
    font-size: 16px;
    color: #f7da1a
}

.evl-c-cont .evl-c-cl .c-list-li .c-list-row-rise {
    color: #fd0100;
    font-size: 14px
}

.evl-c-cont .evl-c-cl .c-list-li .c-list-row-unchanged {
    color: #cfd0d4;
    font-size: 14px
}

.evl-c-cont .evl-c-cl .c-list-li .c-list-row-decline {
    color: #2bff15;
    font-size: 14px
}

.evl-c-cont .evl-c-cl .c-list-li .c-list-row-tri {
    color: #23ea49;
    padding: 0 20px 0 15px
}

.evl-c-cont .evl-c-cl span {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.evl-c-cont .evl-c-cl .c-list-row-1 {
    width: 116px;
    padding-left: 20px
}

.evl-c-cont .evl-c-cl .c-list-row-2 {
    width: 64px;
    text-align: center
}

.evl-c-cont .evl-c-cl .c-list-row-3 {
    width: 100px;
    text-align: right
}

.evl-c-cont .evl-c-cl .c-list-row-4 {
    width: 76px;
    text-align: right
}

.evl-c-cont .evl-c-cl .c-list-row-5 {
    width: 76px;
    text-align: right
}

.accordion {
    background: none;
    width: 322px
}

.ui-tab .accordion {
    margin: 0 auto;
    margin-top: 2px
}

body .accordion li h3 {
    padding: 0;
    border: none
}

.accordion li h3 a {
    background: url(../images/accordion_handle.png);
    background-repeat: no-repeat;
    padding: 0;
    padding-left: 50px;
    height: 36px;
    line-height: 36px;
    margin-top: 3px !important;
    filter: none;
    outline: none
}

.accordion li.current h3 a {
    background: url(../images/accordion_handle_c.png);
    border: none;
    filter: none
}

body .accordion li h3 span {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.handle-name {
    width: 101px;
    float: left;
    color: #fff
}

.handle-bar {
    width: 81px;
    height: 14px;
    border: 1px solid #16c4cf;
    float: right;
    margin-top: 11px;
    background-color: #172327;
    background: linear-gradient(top, #0b656a, #172327);
    background: -webkit-gradient(linear, left top, left bottom, from(#0b656a), to(#172327));
    background: -moz-linear-gradient(top, #0b656a, #172327);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0b656a, endColorstr=#172327);
    background: -o-linear-gradient(top, #0b656a, #172327)
}

.handle-num {
    width: 80px;
    padding-right: 10px;
    float: right;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    font-family: '����'
}

.accordion li h3.handle-rise a {
    background-position: 0 0
}

.accordion li h3.handle-decline a {
    background-position: 0 -36px
}

.accordion li h3.handle-unchanged a {
    background-position: 0 -72px
}

.accordion li h3.handle-rise .handle-num {
    color: #f00
}

.accordion li h3.handle-decline .handle-num {
    color: #2bff15
}

.accordion li h3.handle-unchanged .handle-num {
    color: #cfd0d4
}

.accordion .panel {
    padding: 0;
    margin-top: 1px
}

.accordion .panel li {
    background: url(../images/accordion_panel.png) left top no-repeat;
    padding-left: 60px;
    height: 18px;
    line-height: 18px;
    overflow: hidden
}

.accordion .panel li a.pitem-link {
    float: left;
    overflow: hidden;
    width: 264px;
    padding-left: 1px
}

.accordion .panel li a.pitem-link:hover {
    background: #06251d
}

.accordion .panel li div {
    background: none;
    padding: 0
}

.accordion .panel span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0
}

.accordion .panel .pitem-name {
    float: left;
    width: 140px;
    color: #fff;
    font-family: '����'
}

.accordion .panel .pitem-bar {
    width: 28px;
    height: 6px;
    border: 1px solid #26e849;
    float: right;
    margin-top: 5px;
    background-color: #2f6d2d;
    background: linear-gradient(top, #3a8537, #2f6d2d);
    background: -webkit-gradient(linear, left top, left bottom, from(#3a8537), to(#2f6d2d));
    background: -moz-linear-gradient(top, #3a8537, #2f6d2d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3a8537, endColorstr=#2f6d2d);
    background: -o-linear-gradient(top, #3a8537, #2f6d2d)
}

.accordion .panel .pitem-num {
    width: 80px;
    padding-right: 4px;
    float: right;
    text-align: right;
    font-family: '����'
}

.accordion .panel .pitem-rise .pitem-num {
    color: #f00
}

.accordion .panel .pitem-decline .pitem-num {
    color: #2bff15
}

.accordion .panel .pitem-unchanged .pitem-num {
    color: #cfd0d4
}

.pitem-trend {
    float: left;
    margin-left: 8px
}

.ui-tab-h .ui-tab-panels {
    background: none
}

.ui-tab-h .ui-tab-items-h {
    height: 25px;
    border: none;
    margin: 0;
    margin-top: 2px
}

.ui-tab-h .ui-tab-items-h .ui-tab-item {
    border: none;
    border-radius: 0;
    width: 133px;
    height: 25px;
    background: url(../images/tab_item_h.png)
}

.ui-tab-h .ui-tab-items-h .ui-tab-item a {
    color: #2bff15;
    display: block;
    width: 103px;
    padding-left: 30px;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    overflow: hidden
}

.ui-tab-h .ui-tab-items-h .current {
    background: url(../images/tab_item_h.png);
    background-position: 0 -25px;
    position: static;
    border: none
}

.ui-tab-h .ui-tab-items-h .current a {
    color: #fff
}

.ui-tab-v {
    height: 100%
}

.ui-tab-v .ui-tab-items-v {
    float: left;
    padding-left: 2px;
    height: 100%;
    border: none;
    border-right: 1px solid #26e849;
    margin: 0
}

.ui-tab-v .ui-tab-items-v .ui-tab-item {
    display: block;
    border: none;
    border-radius: 0;
    width: 40px;
    height: 94px;
    background: url(../images/tab_item_v.png);
    margin-top: 2px
}

.ui-tab-v .ui-tab-items-v .ui-tab-item a {
    color: #2bff15;
    display: block;
    width: 40px;
    height: 94px;
    padding: 0;
    text-align: center;
    overflow: hidden
}

.ui-tab-v .ui-tab-items-v .current {
    background: url(../images/tab_item_v.png);
    background-position: -40px 0;
    position: static;
    border: none
}

.ui-tab-v .ui-tab-items-v .current a {
    color: #fff
}

.flexigrid {
    border-bottom: none
}

.flexigrid div.nBtn div {
    background: url(../images/configtable.png) 0 0 no-repeat
}

.flexigrid div.dgDiv {
    background: url(../images/datagrid-bg-order-num-new-1.png) -42px 0 repeat-y
}

.flexigrid div.bDiv {
    background: none;
    border-top: 1px solid #0b4c21
}

.flexigrid div.bDiv tr {
    background: none
}

.flexigrid div.bDiv td div {
    color: #fff;
    border-bottom: 1px solid #0a4a25
}

.flexigrid div.bDiv td.OrderNumber div {
    color: #26ea4a
}

.flexigrid div.tDiv {
    background: #06251d;
    filter: none;
    border: 1px solid #25e949
}

.flexigrid div.hDiv {
    background: none !important;
    filter: none;
    border-bottom: none
}

.flexigrid div.hDiv th, .flexigrid div.bDiv td {
    border-right: 1px solid #0c4a25;
    height: 26px;
    line-height: 26px
}

.flexigrid div.hDiv th div {
    color: #24e648
}

.flexigrid div.dgDiv .ohDiv {
    background: #06251d;
    filter: none;
    border-bottom: 1px solid #0c4a25;
    border-right: 1px solid #0c4a25;
    border-left: 1px solid #25e94a
}

.flexigrid div.dgDiv .ohDiv th {
    color: #24e648
}

.flexigrid div.dgDiv .obDiv {
    border-left: 1px solid #25e94a;
    background: none
}

.obDiv table td {
    background: url(../images/datagrid-bg-order-num-new-1.png) -42px 0 no-repeat;
    border-right: 1px solid #0a4a25;
    color: #24e648;
    border-bottom: 1px solid #0a4a25
}

.flexigrid div.bDiv tr.trSelected td.sorted, .flexigrid div.bDiv tr.trSelected {
    background: url(../images/datagrid-bg-order-new-trselected.png) repeat-x
}

.flexigrid div.bDiv tr.trOver td.sorted, .flexigrid div.bDiv tr.trOver {
    background: url(../images/datagrid-bg-order-new-trselected.png) repeat-x
}

.flexigrid div.pDiv {
    background: #0b0e15;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0b0e15, endColorstr=#0b0e15);
    border-color: #2dff18
}

.flexigrid div.pDiv span, .flexigrid div.pDiv em {
    color: #2dff18
}

.flexigrid div.pDiv input {
    color: #fff;
    background: none;
    border: 1px solid #2cfe15
}

.flexigrid div.pDiv div.pButton {
    background-image: url(../images/pButton.gif);
    margin-right: 10px;
    margin-top: 3px;
    width: 16px;
    height: 16px;
    border: none
}

.flexigrid div.pDiv div.pButton:hover {
    width: 16px;
    height: 16px;
    border: none
}

.flexigrid div.pDiv div.pButton:hover span, .flexigrid div.pDiv div.pButton.pBtnOver span {
    border: none
}

.flexigrid .pFirst {
    background-position: 0 0
}

.flexigrid .pPrev {
    background-position: -16px 0
}

.flexigrid .pNext {
    background-position: -32px 0
}

.flexigrid .pLast {
    background-position: -48px 0
}

.flexigrid .pReload {
    background-position: -64px 0
}

.flexigrid div.pDiv div.pReload.loading {
    background: url(../images/loading_gif.gif) no-repeat center
}

.flexigrid div.pDiv div.pLast, .flexigrid div.pDiv div.pReload {
    margin-right: 0
}

.flexigrid div.pDiv div.pNext {
    margin-left: 5px
}

.flexigrid div.pDiv select {
    background: #23ea47;
    border: 1px solid #23ea47
}

.gBlock {
    background: #000 !important
}

.flexigrid div.bDiv td {
    color: #000
}

.bInnerDiv {
    background: url(../images/datagrid-bg-order-new-8.png) 0 0 repeat-y
}

.c-list-row-2 i.i-trend {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 14px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/i_trend.png) center
}

.c-list-row-2 .c-list-row-rise i.i-trend {
    background-position: 0 0
}

.c-list-row-2 .c-list-row-decline i.i-trend {
    background-position: 0 -40px
}

.c-list-row-2 .c-list-row-unchanged i.i-trend {
    background-position: 0 -20px
}
.ui-report-title-h4 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    font-family: "����", \5B8B\4F53, arial, Serif;
    color:#FFFFFF;
}

.ui-report-title-h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    font-family: "����", \5B8B\4F53, arial, Serif;
    color:#FFFFFF;
}

.ui-report-text {
    font-size: 18px;
    line-height: 24px;
    font-family: "����", \5B8B\4F53, arial, Serif;
    color:#FFFFFF;
}

.ui-report-stext {
    font-size: 16px;
    font-family: "����", \5B8B\4F53, arial, Serif;
    text-align: center;
    color:#FFFFFF;
}

.ui-report-ptable td {
    padding: 10px 0;
}

.ui-report-table td {
    text-align: center;
    font-size: 18px;
    padding: 10px 6px;
}

.ui-report-table th {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 6px;
    background-color: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f2f2f2');
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
}

/* .ui-block { background: #0B0E15; width: 40%; height: 325px; position: relative; border: gray 1px solid; }
.ui-block .ui-btn{margin:5px}
.ui-block .ui-table-scoll { overflow-x:hidden; overflow-y: auto; height: 300px; }
.ui-block.ui-block-left { float: right; }
.ui-block.ui-block-right { float: left; }
.ui-reduce{ position: absolute; left: 46%; top: 200px; }
.ui-reduce .ui-sign{ padding: 10px 40px; background: #094925; }
.ui-block .ui-table { border-left: none; }
.ui-block .ui-table th{ background: #06251d; border: 1px solid #0c4a25; color: #24e648; }
.ui-block .ui-table td{ border-bottom: 1px solid #1F1F1F; border-right: 1px solid #1F1F1F; color: #CCC; background: #0C0C0C; }
.ui-block .ui-table td span{ text-overflow: clip; overflow: hidden; white-space: nowrap; display:block }
.ui-block .ui-table a { text-decoration: none; }
.ui-form .actions-config{
	position: fixed; height: 37px; right: 0px; left: 53px; line-height: 37px; bottom: 25px;
	text-align: right; border-top: #25E949 1px solid; border-left: #25E949 1px solid;
	border-right: #25E949 1px solid; width: 95%; padding-right: 5px; }
.panel li.current a {
background: #06251d;
} */


/*区域能耗设置*/
.form-top {
	width: 100%;
	height: 32px;
	padding: 4px 0;
	background: #13240b;
	border-bottom: 1px solid #213a13;
}
.form-top .ui-label{
	color: #259c37;
	margin-left: 5px;
	padding-left: 0;
}
.form-top .ui-input{
	color: #fff;
	border: 1px solid #174128;
	background: #0c0d0d;
}
.form-left{
	float: left;
	width: 670px;
	height: 410px;
	margin-left: 80px;
}
.ui-block-top{
	height: 147px;
}

.block-title {
	float: left;
	width: 28px;
	height: 147px;
	background: url(images/block-title.png) no-repeat;
	border-right: 1px solid #0b4824;
}
.block-title .name {
	padding: 12px 0 0 10px;
	width: 16px;
	height: 74px;
	color: #2cfe17;
}
.block-title .button {
	padding-top: 20px;
	width: 28px;
	height: 40px;
}
.block-title .button .iconsearch {
	display:inline-block;
	width: 28px;
	height: 28px;
	background: url(images/iconsearch.png) no-repeat 50% 50%;
	cursor: pointer;
}
.block-table {
	float: left;
	width: 610px;
	height: 147px;
}
.block-table .ui-table-scoll{
	width: 610px;
	height: 117px;
	overflow-x:hidden;
    overflow-y:auto;
	background: #0c0c0c;
}

.block-table .ui-table { border-left: none; border-top:none}
.block-table .ui-table th{ background: #06251d; border: 1px solid #0c4a25; color: #24e648; }
.block-table .ui-table td{ border-bottom: 1px solid #1F1F1F; overflow: hidden; vertical-align: middle; border-right: 1px solid #1F1F1F; color: #CCC; background: #0C0C0C; }
.block-table .ui-table td span{ text-overflow: clip;white-space: nowrap; display:block }
.block-table .ui-table a { text-decoration: none; }
.ui-form .actions-config{
	position: fixed; height: 37px; right: 0px; left: 53px; line-height: 37px; bottom: 25px;
	text-align: right; border-top: #25E949 1px solid; border-left: #25E949 1px solid;
	border-right: #25E949 1px solid; width: 95%; padding-right: 5px; }
.panel li.current a {
background: #06251d;
}
.block-table .btn-del {
	display: inline-block;
	width: 35px;
	height: 18px;
	background: url(images/dustbin.png) no-repeat 50% 50%;
}
.mid-operator {
	width: 100%;
	height: 80px;
	position: relative;
}
.mid-operator .u-d{
	float: left;
	width: 28px;
	height: 80px;
	background: url(images/u-d-icon.png) no-repeat 50% 50%;
}
.mid-operator .ui-reduce {
	float: left;
	width: 610px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #0a4e3c;
}
.mid-operator .ui-reduce .reduce-sign {
	display: inline-block;
	width: 100px;
	height: 80px;
	background: url(images/reduce-sign.png) no-repeat 100% 50%;
	text-align: left;
}
.mid-operator .ui-equal {
	position: absolute;
	top:0;
	right: -70px;
	width: 100px;
	height: 80px;
	line-height: 80px;
	text-align: left;
	color: #0a4e3c;
}
.mid-operator .ui-equal .equal-sign {
	display: inline-block;
	width: 100px;
	height: 80px;
	background: url(images/equal-sign.png) no-repeat 100% 50%;
}

.form-bottom {
	float: left;
	width: 670px;
	height: 70px;
	margin-bottom: 10px;
	clear:both;
	margin-left: 80px;
}
.form-bottom .form-bottom-title{
	float: left;
	width: 28px;
	height: 70px;
	color: #2cfe17;
	background: url(images/form-bottom-title.png) no-repeat 100% 50%;
}

.form-bottom .form-bottom-title span{
	display: block;
	width: 16px;
	padding-left: 10px; 
	padding-top: 14px;
}

.form-bottom .ui-form-item-textarea {
	float: left;
	width: 610px;
	height: 70px;

}
.form-bottom .ui-form-item-textarea textarea {
	width: 608px;
	height: 68px;
	color:#fff;
	background: #0c0c0c;
	border: 1px solid #1f1f1f;
}

.form-right{
	float: left;
	width: 520px;
	height: 410px;
	padding-top: 20px;
	padding-left: 20px
}
.form-right .form-right-title {
	float: left;
	width: 80px;
	color: #24e648;
}
.form-right .ui-textarea {
	width: 420px;
	height: 370px;
	border: 1px solid #0c4724;
	background: #0c0c0c;
}

.form-right .ui-form-item-textarea {
	width: 100%;
	height: 100%;
}