<?xml version="1.0" encoding="UTF-8"?>
<web-app id="zjyy" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true">
	<!-- web.xml ; CREATE AT 2015-06-19T02:04:08 BY yuhui@supcon.com -->
	<!-- ================== 环境选择配置 ================== -->
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<!-- 此处请注意，设定什么值会取响应的配置文件，如dev时会取config-dev.properties；test时会取config-test.properties；production时会取config.properties -->
		<!-- 一般开发环境时配置为，测试环境配置为test，生产环境配置为production -->
		<param-value>dev</param-value>
		<!--<param-value>production</param-value>-->
	</context-param>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<!-- 如果需要直接通过应用服务器访问的静态资源需要在下面配置过滤，否则会被Spring MVC拦截 -->
	<!-- 建议Tomcat配合Nginx或者Apache部署，实现动静分离 -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ico</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.bmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.msi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.eot</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.otf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ttf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.woff</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.xls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.exe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.dll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.mp3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.ocx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.unity3d</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>401</error-code>
		<location>/unauthenticated</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/unauthorized</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/error404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/error500</location>
	</error-page>
	<!-- ================== 以下请不要修改 ================== -->
	<servlet>
		<servlet-name>startupLoaderBeforeSpringServlet</servlet-name>
		<servlet-class>com.supconit.common.web.startup.StartupLoaderBeforeSpringServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>startupLoaderBeforeSpringServlet</servlet-name>
		<url-pattern>/startupBeforeSpring</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>startupLoaderAfterSpringServlet</servlet-name>
		<servlet-class>com.supconit.common.web.startup.StartupLoaderAfterSpringServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>startupLoaderAfterSpringServlet</servlet-name>
		<url-pattern>/startupAfterSpring</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>gisRequestProxy</servlet-name>
		<servlet-class>com.supconit.hl.gis.servlet.GisRequestProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gisRequestProxy</servlet-name>
		<url-pattern>/sendToGisServer</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
	        <welcome-file>/appWindow</welcome-file>
	</welcome-file-list>	
</web-app>
