<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="$!{rc.contextPath}/modules/hcstyle/hcstyle/1.0.0/hcstyle.css" rel="stylesheet" media="screen">
    <link href="$!{rc.contextPath}/modules/hcstyle/iconfont/1.0.0/iconfont.css" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="$!{rc.contextPath}/modules/videoPlayer/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="$!{rc.contextPath}/modules/videoPlayer/css/videoPlay.css"/>
    <link type="text/css" rel="stylesheet" href="$!{rc.contextPath}/modules/videoPlayer/css/zTreeStyle.css"/>
    <script type="text/javascript" src="$!{rc.contextPath}/modules/videoPlayer/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="$!{rc.contextPath}/modules/videoPlayer/js/jquery.ztree.core-3.2.js"></script>
    <script type="text/javascript" src="$!{rc.contextPath}/modules/videoPlayer/js/jquery.select-1.3.6.js"></script>
    <script type="text/javascript" src="$!{rc.contextPath}/modules/videoPlayer/js/videoPlay.js"></script>
    <script type="text/javascript" src="$!{rc.contextPath}/modules/videoPlayer/js/VLC.Plugin.js"></script>
<body style="overflow:hidden;" >
<div class="vedioPlay"><input type="hidden" id="videoCode_id" name="videCode" value="$!{videoId}">
<input type="hidden" id="auto_id" name="auto" value="0">
<div class="vp_header pd10" style="display:none">
    <h6 class="FL">视频播放器</h6>
    <a href="javascript:void(0);" class="vp_btn vp_config" onclick="changeDiv(3);" style="display:none">配置信息</a>
</div>
<div class="vp_cont vp_border">
<div class="vp_left">
    <!------------------------- ztree ------------------------->
    <div id="tree_info" class="tree_info">
        <div class="title1">摄像头<span>（请选择）</span></div>
        <div class="tree_search vp_border">
            <input type="text" class="inputText FL" value="请输入要查找的内容"/>
        <!--    <a href="javascript:clear();" class="FL btn_clear" title="清除"></a>-->
            <a href="javascript:void(0);" class="FL btn_search" title="查询"></a>
        </div>
        <div class="tree" style="height:280px;">
            <div class="tree_tit1 icon_sp">视频监控点</div>
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </div>
</div>
<!--test videoId}"=="1312" -->
<div class="vp_centre" id="id_video_box">
    <object id ="csharpActiveX" 
				CODEBASE="$!{rc.contextPath}/download/VideoOcxSetUp.msi" 
				classid ="clsid:B5669C37-066F-4ED7-B988-026C02749E73" 
		        style="top: 0px; left: 0px; width: 498px; height: 412px;"
		        events="True">
	<param name="MRL" value="" />
	<param name="ShowDisplay" value="True" />
	<param name="AutoLoop" value="False" />
	<param name="AutoPlay" value="False" />
	<param name="Volume" value="50" />
	<param name="Volume" value="50" />
	<param name="toolbar" value="false" />
	<param name="StartTime" value="0" />
	<EMBED pluginspage="http://www.videolan.org"
	       type="application/x-vlc-plugin"
	       version="VideoLAN.VLCPlugin.2"
		style="top: 0px; left: 0px;width: 498px; height: 412px;"
	       toolbar="false"
	       loop="true"
	       text="Waiting for video"
	       name="vlc">
	</EMBED>
</object>
</div>
<div class="vp_right" id="rightDiv1">
    <div class="title1 vp_border">云台控制</div>
    <div class="PTZControl vp_border">
        <div class="ptz-bg">
            <div class="ptz">
                <a href="javascript:void(0);" class="ptz-btn-1" onclick="operate(9);"></a>
                <a href="javascript:void(0);" class="ptz-btn-2" onclick="operate(23);"></a>
                <a href="javascript:void(0);" class="ptz-btn-3" onclick="operate(2);"></a>
                <a href="javascript:void(0);" class="ptz-btn-4" onclick="operate(21);"></a>
                <a href="javascript:void(0);" class="ptz-btn-5" onclick="operate(4);"></a>
                <a href="javascript:void(0);" class="ptz-btn-6" onclick="operate(24);"></a>
                <a href="javascript:void(0);" class="ptz-btn-7" onclick="operate(6);"></a>
                <a href="javascript:void(0);" class="ptz-btn-8" onclick="operate(22);"></a>
                <a href="javascript:void(0);" class="ptz-btn-9" onclick="operate(8);"></a>
            </div>
        </div>
    </div>
    <div class="title1 vp_border">视频参数</div>
    <div class="videoPara">
        <div class="videoPara1">
            <span class="FL">变倍</span>

            <div class="axisBox paraBox">
                <a href="javascript:void(0);" class="btn_para parareduce"
                   onclick="reduce('zoomDrag','zoomAxis','zoomAxisNow');"></a>

                <div id="zoomContainer" class="paraContainer">
                    <div id="zoomAxis" class="paraAxis">
                        <div id="zoomAxisNow" class="paraAxisNow"></div>
                    </div>
                    <div id="zoomDrag" class="paraDrag">
                        <div id="zoomHandle" class="paraHandle"></div>
                    </div>
                </div>
                <a href="javascript:void(0);" class="btn_para paraplus"
                   onclick="plus('zoomDrag','zoomAxis','zoomAxisNow');"></a>
            </div>
        </div>
        <div class="videoPara1">
            <span class="FL">聚焦</span>

            <div class="axisBox paraBox">
                <a href="javascript:void(0);" class="btn_para parareduce"
                   onclick="reduce('focusDrag','focusAxis','focusAxisNow');"></a>

                <div id="focusContainer" class="paraContainer">
                    <div id="focusAxis" class="paraAxis">
                        <div id="focusAxisNow" class="paraAxisNow"></div>
                    </div>
                    <div id="focusDrag" class="paraDrag">
                        <div id="focusHandle" class="paraHandle"></div>
                    </div>
                </div>
                <a href="javascript:void(0);" class="btn_para paraplus"
                   onclick="plus('focusDrag','focusAxis','focusAxisNow');"></a>
            </div>
        </div>
        <div class="videoPara1">
            <span class="FL">光圈</span>

            <div class="axisBox paraBox">
                <a href="javascript:void(0);" class="btn_para parareduce"
                   onclick="reduce('apeDrag','apeAxis','apeAxisNow');"></a>

                <div id="apeContainer" class="paraContainer">
                    <div id="apeAxis" class="paraAxis">
                        <div id="apeAxisNow" class="paraAxisNow"></div>
                    </div>
                    <div id="apeDrag" class="paraDrag">
                        <div id="apeHandle" class="paraHandle"></div>
                    </div>
                </div>
                <a href="javascript:void(0);" class="btn_para paraplus"
                   onclick="plus('apeDrag','apeAxis','apeAxisNow');"></a>
            </div>
        </div>
    </div>
</div>



</div>

<script type="text/javascript">
//树菜单节点配置
zNodes = [];
var setting = {
    view: {
        dblClickExpand: false,
        showLine: false
    },
    data: {
        simpleData: {
            enable: true
        }
    },
    callback: {
        beforeExpand: beforeExpand,
        onExpand: onExpand,
        onClick: onClick
    }
};
    #foreach($treeNode in $geoAreaList)
    zNodes.push({ id:$treeNode.id, pId:$treeNode.parentId, name: "$!treeNode.areaName"});
    #end
/*注意：添加节点时，最后一个节点后面不能加逗号*/
var curExpandNode = null;
function beforeExpand(treeId, treeNode) {
    var pNode = curExpandNode ? curExpandNode.getParentNode() : null;
    var treeNodeP = treeNode.parentTId ? treeNode.getParentNode() : null;
    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
    for (var i = 0, l = !treeNodeP ? 0 : treeNodeP.children.length; i < l; i++) {
        if (treeNode !== treeNodeP.children[i]) {
            zTree.expandNode(treeNodeP.children[i], false);
        }
    }
    while (pNode) {
        if (pNode === treeNode) {
            break;
        }
        pNode = pNode.getParentNode();
    }
    if (!pNode) {
        singlePath(treeNode);
    }

}
function singlePath(newNode) {
    if (newNode === curExpandNode)
        return;
    if (curExpandNode && curExpandNode.open == true) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        if (newNode.parentTId === curExpandNode.parentTId) {
            zTree.expandNode(curExpandNode, false);
        } else {
            var newParents = [];
            while (newNode) {
                newNode = newNode.getParentNode();
                if (newNode === curExpandNode) {
                    newParents = null;
                    break;
                } else if (newNode) {
                    newParents.push(newNode);
                }
            }
            if (newParents != null) {
                var oldNode = curExpandNode;
                var oldParents = [];
                while (oldNode) {
                    oldNode = oldNode.getParentNode();
                    if (oldNode) {
                        oldParents.push(oldNode);
                    }
                }
                if (newParents.length > 0) {
                    for (var i = Math.min(newParents.length,
                            oldParents.length) - 1; i >= 0; i--) {
                        if (newParents[i] !== oldParents[i]) {
                            zTree.expandNode(oldParents[i], false);
                            break;
                        }
                    }
                } else {
                    zTree.expandNode(oldParents[oldParents.length - 1],
                            false);
                }
            }
        }
    }
    curExpandNode = newNode;
}

function onExpand(event, treeId, treeNode) {
    curExpandNode = treeNode;
}

function onClick(e, treeId, treeNode) {
    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
    zTree.expandNode(treeNode, null, null, null, true);
    //当前节点为叶子节点时，执行业务js方法
    if (!treeNode.isParent) {
        showView(treeNode.id);
    }
}

//初始化时在树种展开找到该摄像头
function selectNode(id) {
    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
    var treeNode = zTree.getNodeByParam("id", id, null);
    zTree.selectNode(treeNode);
}

//播放
function showView(videoId) {
	
    $("#videoCode_id").attr("value", videoId);//将videoCode放入隐藏域，用于控制
    $.ajax({
        'url': "$!{rc.contextPath}/hl/video/show?videoId=" + videoId + "&&time=" + new Date().getTime(),
        'data': '',
        'dataType': 'json',
        'type': 'get',
        'error': function (data) {
            //alert("error");
            return false;
        },
        'success': function (data) {
            if (null != data && '' != data) {
            	try{
            		csharpActiveX.Stop();
					csharpActiveX.UnInit();
            		csharpActiveX.Init();
                  	csharpActiveX.Play(data.videoDetail.viewIp,data.videoDetail.channelNo,data.videoDetail.username,data.videoDetail.password);
            	}catch(e){
            		$("#id_video_box").html('<font color="red" style="font-weight: bold">提示：</font>您的电脑未安装视频插件或版本过低，请点击<a id="close" style="text-decoration:underline" color="red" href="http://$!{serverName}:$!{serverPort}$!{rc.contextPath}/download/VideoOcxSetUp.msi"><font color="blue" style="font-weight: bold">这里</font></a>安装。');
            	}
            }
        }
    });
}
//控制
function operate(type) {
    var videoCode = $("#videoCode_id").val();
    if ("" == videoCode || null == videoCode) {
        alert("请选择要控制的摄像头");
        return;
    }
    if(type==9){
    	var auto =$("#auto_id").val();
    	if(auto==0){
    		csharpActiveX.PTZAuto(true,3);
    		$("#auto_id").val(1);
    	}else{
    		csharpActiveX.PTZAuto(false,3);
    		$("#auto_id").val(0);
    	}
    }else{
    	csharpActiveX.PTZControl(type,3);
    }
    
}

$(document).ready(function () {
    $.fn.zTree.init($("#treeDemo"), setting, zNodes);

    if ("$!{videoId}" != null && "$!{videoId}" != "") {
        showView("$!{videoId}");//播放
        selectNode("$!{videoId}");
    }
});


</script>


</body>
</html>
