<div class="ui-form-item ui-form-item-textarea colspan2">
  <label class="ui-label">下级生成错误区域名称</label>
  	<textarea class="ui-textarea"  readonly name="remark">通过下级生成但是配有HPID：#foreach($a in $areaConfiglst)#if($a.isSum==1)$!a.areaName ;#end#end 
		
不通过下级生成但没有配HPID：#foreach($a in $areaConfiglst)#if($a.isSum==0 )$!a.areaName ;#end#end 
	</textarea>
</div>
