#parse("index/_header.vm")
</head>
<body>
<div class="ui-layout-north">

</div>
<div class="ui-layout-center">
    <div id="grid"></div>
</div>
    </body>
<script>
    var _iframe_layout, _left_layout, _inner_layout;
    $(document).ready(function () {
        _iframe_layout = $('body').layout({
            defaults: {
                resizable: false,
                closable: false,
                spacing_open: 5
            },
            center: {
                onresize_end: function () {
                    var grid = $("#grid").data("kendoGrid");
                    grid.resize();
                }
            }
        });
        $("#resetBtn").click(function () {
            $("#tagCode").val("");
            return false;
        });
        //表格
        quick_datagrid("#grid", "", "$!{rc.contextPath}/hl/montrol/alarm/deviceStartStopRecord/list?deviceId=$!{deviceId}", [
            {
                field: "id",
                hidden: true,
                width: 20
            },
            {
                field: "startTime",
                title: "开启时间",
                attributes: {style: "text-align: center"},
                sortable: false
            },
            {
                field: "stopTime",
                title: "关闭时间",
                attributes: {style: "text-align: center"},
                sortable: false
            },
            {
                field: "runTimes",
                sortable: false,
                attributes: {style: "text-align: center"},
                title: "运行时间(小时)"
            }
        ],  {
                    sortable: {
                        mode: "multiple",
                        allowUnsort: true
                    }
                }, {
                    serverSorting: true
                },
                []);

    });
</script>
#parse("index/_footer.vm")

</html>